[submodule "toolchain/cocos2d-x-2.2.6"]
	path = toolchain/cocos2d-x-2.2.6
	url = https://github.com/cocos2d/cocos2d-x.git
[submodule "toolchain/cocos2d-x-3rd-party-libs-src-v2"]
	path = toolchain/cocos2d-x-3rd-party-libs-src-v2
	url = https://github.com/cocos2d/cocos2d-x-3rd-party-libs-src.git
[submodule "toolchain/SpiderMonkey-v22"]
	path = toolchain/SpiderMonkey-v22
	url = https://github.com/takaaptech/cocos2d-jsc-decompiler.git
