<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BaixieMenuScene01_gouyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,243},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>BaixieMenuScene01_niupizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{261,234}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{261,234}}</string>
                <key>sourceSize</key>
                <string>{267,240}</string>
            </dict>
            <key>BaixieMenuScene01_renwutouxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,253},{249,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,236}}</string>
                <key>sourceSize</key>
                <string>{249,236}</string>
            </dict>
            <key>BaixieMenuScene01_renwutouxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{249,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,249}}</string>
                <key>sourceSize</key>
                <string>{249,249}</string>
            </dict>
            <key>BaixieMenuScene01_renwutouxiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{249,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,229}}</string>
                <key>sourceSize</key>
                <string>{249,229}</string>
            </dict>
            <key>BaixieMenuScene01_renwutouxiang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,239}}</string>
                <key>sourceSize</key>
                <string>{286,239}</string>
            </dict>
            <key>BaixieMenuScene01_sandClock.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,479},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BaixieMenuScene01.png</string>
            <key>size</key>
            <string>{710,710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c521979247199ee25fca4500feef8f6f:1/1$</string>
            <key>textureFileName</key>
            <string>BaixieMenuScene01.png</string>
        </dict>
    </dict>
</plist>
