<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>death_fragments02.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,582},{250,250}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,37},{250,250}}</string>
                <key>sourceSize</key>
                <string>{314,330}</string>
            </dict>
            <key>death_fragments03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,302},{292,278}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{292,278}}</string>
                <key>sourceSize</key>
                <string>{314,330}</string>
            </dict>
            <key>death_fragments04.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{308,298}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{308,298}}</string>
                <key>sourceSize</key>
                <string>{314,330}</string>
            </dict>
            <key>death_fragments05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,322}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,322}}</string>
                <key>sourceSize</key>
                <string>{314,330}</string>
            </dict>
            <key>death_fragments06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{304,330}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{304,330}}</string>
                <key>sourceSize</key>
                <string>{314,330}</string>
            </dict>
            <key>death_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{130,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,146}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>death_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,150},{76,142}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{76,142}}</string>
                <key>sourceSize</key>
                <string>{80,150}</string>
            </dict>
            <key>death_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{150,100}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>death_soul01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,658},{60,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,112}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>death_soul02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{60,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>death_soul03.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{60,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>death_soul04.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,150},{56,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>death_fragments.png</string>
            <key>size</key>
            <string>{834,834}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15b85f9828b12ed07b426e73d0f9198c:1/1$</string>
            <key>textureFileName</key>
            <string>death_fragments.png</string>
        </dict>
    </dict>
</plist>
