<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DungeonOpen_cycle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,412},{124,208}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{124,208}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>DungeonOpen_cycle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,130},{126,208}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{126,208}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>DungeonOpen_cycle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{126,208}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{126,208}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>DungeonOpen_cycle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{126,208}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{126,208}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>DungeonOpen_cycle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,208}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{126,208}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>DungeonOpen_cycle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,414},{124,208}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{124,208}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>DungeonOpen_fire01.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,240},{110,106}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,92},{110,106}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>DungeonOpen_fire02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,126},{112,142}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,56},{112,142}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>DungeonOpen_fire03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,258},{118,158}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,40},{118,158}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>DungeonOpen_fire04.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{122,148}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,48},{122,148}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>DungeonOpen_fire05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{122,178}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{122,178}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>DungeonOpen_fire06.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{130,168}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{130,168}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>DungeonOpen_fire07.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,422},{134,174}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{134,174}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>DungeonOpen_fire08.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,258},{118,154}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{118,154}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>DungeonOpen_fire09.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,258},{118,152}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{118,152}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>DungeonOpen_flames.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>DungeonRoadAni_moveto01.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,352},{30,37}}</string>
                <key>offset</key>
                <string>{-49,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,37}}</string>
                <key>sourceSize</key>
                <string>{128,37}</string>
            </dict>
            <key>DungeonRoadAni_moveto02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,352},{54,37}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,37}}</string>
                <key>sourceSize</key>
                <string>{128,37}</string>
            </dict>
            <key>DungeonRoadAni_moveto03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,172},{78,37}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,37}}</string>
                <key>sourceSize</key>
                <string>{128,37}</string>
            </dict>
            <key>DungeonRoadAni_moveto04.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,408},{104,37}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,37}}</string>
                <key>sourceSize</key>
                <string>{128,37}</string>
            </dict>
            <key>DungeonRoadAni_moveto05.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,352},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Dungeon.png</string>
            <key>size</key>
            <string>{624,624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f16f6d841a054423696cce3aef28a43:1/1$</string>
            <key>textureFileName</key>
            <string>Dungeon.png</string>
        </dict>
    </dict>
</plist>
