<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caohua.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,544},{107,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{107,105}}</string>
                <key>sourceSize</key>
                <string>{119,111}</string>
            </dict>
            <key>caohua_cany.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,544},{192,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{192,101}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>chengg.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,746},{158,102}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{158,102}}</string>
                <key>sourceSize</key>
                <string>{184,124}</string>
            </dict>
            <key>chengg_cany.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,130},{242,100}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{242,100}}</string>
                <key>sourceSize</key>
                <string>{300,124}</string>
            </dict>
            <key>dchengg.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,232},{232,102}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{232,102}}</string>
                <key>sourceSize</key>
                <string>{300,124}</string>
            </dict>
            <key>dchengg_cany.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{300,100}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,124}</string>
            </dict>
            <key>dchengg_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{516,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,226}}</string>
                <key>sourceSize</key>
                <string>{516,226}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,937},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{44,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dilie.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,850},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fangkuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,863},{95,103}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{95,103}}</string>
                <key>sourceSize</key>
                <string>{119,111}</string>
            </dict>
            <key>fangkuaicany.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,647},{180,97}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{180,97}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>heitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,653},{109,103}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{109,103}}</string>
                <key>sourceSize</key>
                <string>{119,111}</string>
            </dict>
            <key>heitao_cany.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,441},{194,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{194,101}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>hongtao.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,758},{119,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{119,103}}</string>
                <key>sourceSize</key>
                <string>{119,111}</string>
            </dict>
            <key>hongtao_cany.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,336},{206,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{206,103}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>shib.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{166,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{166,100}}</string>
                <key>sourceSize</key>
                <string>{184,124}</string>
            </dict>
            <key>shib_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,770},{165,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,100}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>shib_cany.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,520},{248,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,13},{248,98}}</string>
                <key>sourceSize</key>
                <string>{300,124}</string>
            </dict>
            <key>yanwu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{267,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,126}}</string>
                <key>sourceSize</key>
                <string>{267,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Eff_Panding.png</string>
            <key>size</key>
            <string>{505,991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:164e4b4951de7224e743423cbb46ec11:1/1$</string>
            <key>textureFileName</key>
            <string>Eff_Panding.png</string>
        </dict>
    </dict>
</plist>
