<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fencheng_huidong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,316}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{398,316}}</string>
                <key>sourceSize</key>
                <string>{400,330}</string>
            </dict>
            <key>fencheng_huidong02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{380,308}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{380,308}}</string>
                <key>sourceSize</key>
                <string>{400,330}</string>
            </dict>
            <key>fencheng_huoyan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{378,244}}</string>
                <key>offset</key>
                <string>{-83,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{378,244}}</string>
                <key>sourceSize</key>
                <string>{544,264}</string>
            </dict>
            <key>fencheng_huoyan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{334,232}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,15},{334,232}}</string>
                <key>sourceSize</key>
                <string>{544,264}</string>
            </dict>
            <key>fencheng_huoyan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,248},{306,242}}</string>
                <key>offset</key>
                <string>{47,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,4},{306,242}}</string>
                <key>sourceSize</key>
                <string>{544,264}</string>
            </dict>
            <key>fencheng_huoyan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,552},{292,246}}</string>
                <key>offset</key>
                <string>{70,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,1},{292,246}}</string>
                <key>sourceSize</key>
                <string>{544,264}</string>
            </dict>
            <key>fencheng_huoyan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,492},{304,244}}</string>
                <key>offset</key>
                <string>{79,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,2},{304,244}}</string>
                <key>sourceSize</key>
                <string>{544,264}</string>
            </dict>
            <key>fencheng_huoyan08.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,248},{302,222}}</string>
                <key>offset</key>
                <string>{97,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,0},{302,222}}</string>
                <key>sourceSize</key>
                <string>{544,264}</string>
            </dict>
            <key>fencheng_huoyan09.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,738},{282,200}}</string>
                <key>offset</key>
                <string>{121,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,2},{282,200}}</string>
                <key>sourceSize</key>
                <string>{544,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fencheng.png</string>
            <key>size</key>
            <string>{940,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5930de535ca1f866518af600ca4446b5:1/1$</string>
            <key>textureFileName</key>
            <string>fencheng.png</string>
        </dict>
    </dict>
</plist>
