<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fengwu_debuff_bagua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{256,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{256,96}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>fengwu_debuff_feng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{274,298}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{274,298}}</string>
                <key>sourceSize</key>
                <string>{280,310}</string>
            </dict>
            <key>fengwu_debuff_feng02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,310}}</string>
                <key>sourceSize</key>
                <string>{280,310}</string>
            </dict>
            <key>fengwu_debuff_feng03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{280,304}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,304}}</string>
                <key>sourceSize</key>
                <string>{280,310}</string>
            </dict>
            <key>fengwu_debuff_feng04.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,558},{266,260}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{266,260}}</string>
                <key>sourceSize</key>
                <string>{280,310}</string>
            </dict>
            <key>fengwu_debuff_feng05.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,278},{278,264}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{278,264}}</string>
                <key>sourceSize</key>
                <string>{280,310}</string>
            </dict>
            <key>fengwu_debuff_feng06.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,278},{278,254}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{278,254}}</string>
                <key>sourceSize</key>
                <string>{280,310}</string>
            </dict>
            <key>fengwu_debuff_feng07.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,544},{274,254}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{274,254}}</string>
                <key>sourceSize</key>
                <string>{280,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fengwu_debuff.png</string>
            <key>size</key>
            <string>{820,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:220c1c887eafccb0b1d8269502bddf91:1/1$</string>
            <key>textureFileName</key>
            <string>fengwu_debuff.png</string>
        </dict>
    </dict>
</plist>
