<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guhuo_heiguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{216,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{216,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>guhuo_heiguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,556},{214,234}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,46},{214,234}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>guhuo_heiguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,556},{214,176}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,104},{214,176}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>guhuo_heiyan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,314},{186,224}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{186,224}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>guhuo_heiyan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,772},{210,230}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{210,230}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>guhuo_heiyan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,542},{206,224}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,224}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>guhuo_mianju01.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,768},{123,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{123,164}}</string>
                <key>sourceSize</key>
                <string>{125,170}</string>
            </dict>
            <key>guhuo_mianju02.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,768},{123,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{123,164}}</string>
                <key>sourceSize</key>
                <string>{125,170}</string>
            </dict>
            <key>guhuo_sst02.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{306,172}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{306,172}}</string>
                <key>sourceSize</key>
                <string>{330,180}</string>
            </dict>
            <key>guhuo_sst03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,174}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{330,174}}</string>
                <key>sourceSize</key>
                <string>{330,180}</string>
            </dict>
            <key>guhuo_sst04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{288,142}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{288,142}}</string>
                <key>sourceSize</key>
                <string>{330,180}</string>
            </dict>
            <key>guhuo_sst05.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,176},{306,136}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{306,136}}</string>
                <key>sourceSize</key>
                <string>{330,180}</string>
            </dict>
            <key>guhuo_suilie01.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,772},{228,276}}</string>
                <key>offset</key>
                <string>{-14,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{228,276}}</string>
                <key>sourceSize</key>
                <string>{280,370}</string>
            </dict>
            <key>guhuo_suilie02.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,284},{270,296}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{270,296}}</string>
                <key>sourceSize</key>
                <string>{280,370}</string>
            </dict>
            <key>guhuo_suilie03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{280,328}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,41},{280,328}}</string>
                <key>sourceSize</key>
                <string>{280,370}</string>
            </dict>
            <key>guhuo_zha01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{318,230}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{318,230}}</string>
                <key>sourceSize</key>
                <string>{328,240}</string>
            </dict>
            <key>guhuo_zha02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{252,232}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{252,232}}</string>
                <key>sourceSize</key>
                <string>{328,240}</string>
            </dict>
            <key>guhuo_zha03.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,314},{182,226}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,3},{182,226}}</string>
                <key>sourceSize</key>
                <string>{328,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guhuo.png</string>
            <key>size</key>
            <string>{1006,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:610445f0c584447c07f7d17e83b0f15d:1/1$</string>
            <key>textureFileName</key>
            <string>guhuo.png</string>
        </dict>
    </dict>
</plist>
