<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feng_dian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,655},{102,108}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{102,108}}</string>
                <key>sourceSize</key>
                <string>{110,130}</string>
            </dict>
            <key>feng_dian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,866},{110,102}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{110,102}}</string>
                <key>sourceSize</key>
                <string>{110,130}</string>
            </dict>
            <key>feng_dian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,765},{100,96}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{110,130}</string>
            </dict>
            <key>feng_fu.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,564},{98,176}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{98,176}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>feng_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{218,346}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{218,346}}</string>
                <key>sourceSize</key>
                <string>{220,350}</string>
            </dict>
            <key>feng_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{244,236}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{244,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>guose_daji_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>guose_daji_b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{274,292}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{274,292}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>guose_daji_b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{248,320}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{248,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>guose_fangpian.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,314},{176,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,248}}</string>
                <key>sourceSize</key>
                <string>{176,248}</string>
            </dict>
            <key>guose_yinfu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,856},{198,134}}</string>
                <key>offset</key>
                <string>{1,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,166},{198,134}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>guose_yinfu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,240},{200,156}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,144},{200,156}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>guose_yinfu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,464},{200,174}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,125},{200,174}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>guose_yinfu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,528},{200,188}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,107},{200,188}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>guose_yinfu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,718},{200,196}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{200,196}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>guose_yinfu07.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,664},{200,206}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,74},{200,206}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>guose_yinfu08.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,640},{200,214}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{200,214}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>guose_yinfu09.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,240},{200,222}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{200,222}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>guose_yinfu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,296},{200,230}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{200,230}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>guose_yinfu_fei01.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,863},{57,116}}</string>
                <key>offset</key>
                <string>{-22,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,81},{57,116}}</string>
                <key>sourceSize</key>
                <string>{145,200}</string>
            </dict>
            <key>guose_yinfu_fei02.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,442},{91,156}}</string>
                <key>offset</key>
                <string>{-25,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,30},{91,156}}</string>
                <key>sourceSize</key>
                <string>{145,200}</string>
            </dict>
            <key>guose_yinfu_fei03.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{145,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{145,198}}</string>
                <key>sourceSize</key>
                <string>{145,200}</string>
            </dict>
            <key>guose_yinfu_fei04.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,535},{125,118}}</string>
                <key>offset</key>
                <string>{10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{125,118}}</string>
                <key>sourceSize</key>
                <string>{145,200}</string>
            </dict>
            <key>le_aixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,866},{88,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{88,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>le_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,863},{49,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{49,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guose.png</string>
            <key>size</key>
            <string>{992,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3061ed9525ca4a8d4533c4b83e061dd:1/1$</string>
            <key>textureFileName</key>
            <string>guose.png</string>
        </dict>
    </dict>
</plist>
