<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HuodongScene01_OL.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,589},{278,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,225}}</string>
                <key>sourceSize</key>
                <string>{278,225}</string>
            </dict>
            <key>HuodongScene01_baowuduihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1114},{249,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,267}}</string>
                <key>sourceSize</key>
                <string>{249,267}</string>
            </dict>
            <key>HuodongScene01_benyueqiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1175},{255,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,319}}</string>
                <key>sourceSize</key>
                <string>{255,319}</string>
            </dict>
            <key>HuodongScene01_chaojiyueka.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1384},{236,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,244}}</string>
                <key>sourceSize</key>
                <string>{236,244}</string>
            </dict>
            <key>HuodongScene01_chongpaihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1630},{243,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,263}}</string>
                <key>sourceSize</key>
                <string>{243,263}</string>
            </dict>
            <key>HuodongScene01_chongzhifanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,1384},{252,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,230}}</string>
                <key>sourceSize</key>
                <string>{252,230}</string>
            </dict>
            <key>HuodongScene01_chongzhishuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,303},{254,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,249}}</string>
                <key>sourceSize</key>
                <string>{254,249}</string>
            </dict>
            <key>HuodongScene01_chongzhisibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,858},{254,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,249}}</string>
                <key>sourceSize</key>
                <string>{254,249}</string>
            </dict>
            <key>HuodongScene01_chongzhisong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1114},{236,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,267}}</string>
                <key>sourceSize</key>
                <string>{236,267}</string>
            </dict>
            <key>HuodongScene01_chongzhisongluxun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{278,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,299}}</string>
                <key>sourceSize</key>
                <string>{278,299}</string>
            </dict>
            <key>HuodongScene01_dainifei.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1114},{260,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,287}}</string>
                <key>sourceSize</key>
                <string>{260,287}</string>
            </dict>
            <key>HuodongScene01_deshenjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1638},{255,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,257}}</string>
                <key>sourceSize</key>
                <string>{255,257}</string>
            </dict>
            <key>HuodongScene01_eat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{907,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{907,532}}</string>
                <key>sourceSize</key>
                <string>{907,532}</string>
            </dict>
            <key>HuodongScene01_eat_bun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1286},{108,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,83}}</string>
                <key>sourceSize</key>
                <string>{108,83}</string>
            </dict>
            <key>HuodongScene01_eat_peach.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1646},{130,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,87}}</string>
                <key>sourceSize</key>
                <string>{130,87}</string>
            </dict>
            <key>HuodongScene01_eat_pig.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1622},{288,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,184}}</string>
                <key>sourceSize</key>
                <string>{288,184}</string>
            </dict>
            <key>HuodongScene01_eat_shijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,2},{242,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,71}}</string>
                <key>sourceSize</key>
                <string>{242,71}</string>
            </dict>
            <key>HuodongScene01_eat_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1792},{101,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,385}}</string>
                <key>sourceSize</key>
                <string>{101,385}</string>
            </dict>
            <key>HuodongScene01_jishenjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{261,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,304}}</string>
                <key>sourceSize</key>
                <string>{261,304}</string>
            </dict>
            <key>HuodongScene01_laohudikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,316},{175,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,164}}</string>
                <key>sourceSize</key>
                <string>{175,164}</string>
            </dict>
            <key>HuodongScene01_laohuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,566},{250,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,245}}</string>
                <key>sourceSize</key>
                <string>{250,245}</string>
            </dict>
            <key>HuodongScene01_laohuwenzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,849},{458,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,40}}</string>
                <key>sourceSize</key>
                <string>{458,40}</string>
            </dict>
            <key>HuodongScene01_laohuwenzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,265},{401,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,49}}</string>
                <key>sourceSize</key>
                <string>{401,49}</string>
            </dict>
            <key>HuodongScene01_leijichongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,592},{286,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,266}}</string>
                <key>sourceSize</key>
                <string>{286,266}</string>
            </dict>
            <key>HuodongScene01_lianbing.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,589},{326,244}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,244}}</string>
                <key>sourceSize</key>
                <string>{328,244}</string>
            </dict>
            <key>HuodongScene01_lianschong7tian.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1646},{236,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,272}}</string>
                <key>sourceSize</key>
                <string>{236,272}</string>
            </dict>
            <key>HuodongScene01_lingbaoma.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,860},{253,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,283}}</string>
                <key>sourceSize</key>
                <string>{253,283}</string>
            </dict>
            <key>HuodongScene01_meiriqiandao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,592},{235,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,264}}</string>
                <key>sourceSize</key>
                <string>{235,264}</string>
            </dict>
            <key>HuodongScene01_nabaowu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{321,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,311}}</string>
                <key>sourceSize</key>
                <string>{321,311}</string>
            </dict>
            <key>HuodongScene01_paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,869},{243,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,263}}</string>
                <key>sourceSize</key>
                <string>{243,263}</string>
            </dict>
            <key>HuodongScene01_sanguoshengyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1646},{248,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,269}}</string>
                <key>sourceSize</key>
                <string>{248,269}</string>
            </dict>
            <key>HuodongScene01_songbaoma.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1115},{267,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,270}}</string>
                <key>sourceSize</key>
                <string>{267,270}</string>
            </dict>
            <key>HuodongScene01_songlingju.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,566},{236,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,242}}</string>
                <key>sourceSize</key>
                <string>{236,242}</string>
            </dict>
            <key>HuodongScene01_songshenbing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,316},{248,253}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{248,253}}</string>
                <key>sourceSize</key>
                <string>{254,257}</string>
            </dict>
            <key>HuodongScene01_songshenjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,813},{249,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,229}}</string>
                <key>sourceSize</key>
                <string>{249,229}</string>
            </dict>
            <key>HuodongScene01_songshuxiangxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,1638},{236,257}}</string>
                <key>offset</key>
                <string>{-20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{236,257}}</string>
                <key>sourceSize</key>
                <string>{276,277}</string>
            </dict>
            <key>HuodongScene01_songyuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1496},{262,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,294}}</string>
                <key>sourceSize</key>
                <string>{262,294}</string>
            </dict>
            <key>HuodongScene01_songzhangfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,1383},{248,253}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{248,253}}</string>
                <key>sourceSize</key>
                <string>{254,257}</string>
            </dict>
            <key>HuodongScene01_tiantijingsai.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{307,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,321}}</string>
                <key>sourceSize</key>
                <string>{307,321}</string>
            </dict>
            <key>HuodongScene01_tongguanjiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,835},{276,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,277}}</string>
                <key>sourceSize</key>
                <string>{276,277}</string>
            </dict>
            <key>HuodongScene01_toudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,536},{538,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,51}}</string>
                <key>sourceSize</key>
                <string>{538,51}</string>
            </dict>
            <key>HuodongScene01_xiaofeifuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,1052},{236,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,232}}</string>
                <key>sourceSize</key>
                <string>{236,232}</string>
            </dict>
            <key>HuodongScene01_xiaofeijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,813},{237,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,229}}</string>
                <key>sourceSize</key>
                <string>{237,229}</string>
            </dict>
            <key>HuodongScene01_xuyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1376},{266,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,268}}</string>
                <key>sourceSize</key>
                <string>{266,268}</string>
            </dict>
            <key>HuodongScene01_yangxiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1115},{236,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,267}}</string>
                <key>sourceSize</key>
                <string>{236,267}</string>
            </dict>
            <key>HuodongScene01_yinghaoli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{324,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,296}}</string>
                <key>sourceSize</key>
                <string>{324,296}</string>
            </dict>
            <key>HuodongScene01_yinghaoli2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,325},{265,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,290}}</string>
                <key>sourceSize</key>
                <string>{265,290}</string>
            </dict>
            <key>HuodongScene01_zenhaoli.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1383},{261,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,259}}</string>
                <key>sourceSize</key>
                <string>{261,259}</string>
            </dict>
            <key>HuodongScene01_zhengduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1384},{236,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,278}}</string>
                <key>sourceSize</key>
                <string>{236,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HuodongScene01.png</string>
            <key>size</key>
            <string>{1920,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90a923be46c6fe62d3762f434d3df162:1/1$</string>
            <key>textureFileName</key>
            <string>HuodongScene01.png</string>
        </dict>
    </dict>
</plist>
