<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iconhurt_bingdong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{487,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,100}}</string>
                <key>sourceSize</key>
                <string>{487,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iconhurt.png</string>
            <key>size</key>
            <string>{491,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab1d50393cceff922ea3005afbd69e7f:1/1$</string>
            <key>textureFileName</key>
            <string>iconhurt.png</string>
        </dict>
    </dict>
</plist>
