<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianxiong_caocao.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,312},{288,290}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{288,290}}</string>
                <key>sourceSize</key>
                <string>{310,290}</string>
            </dict>
            <key>jianxiong_xuanfeng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,604},{200,204}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,150},{200,204}}</string>
                <key>sourceSize</key>
                <string>{330,370}</string>
            </dict>
            <key>jianxiong_xuanfeng02.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,604},{230,266}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,90},{230,266}}</string>
                <key>sourceSize</key>
                <string>{330,370}</string>
            </dict>
            <key>jianxiong_xuanfeng03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{308,326}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,43},{308,326}}</string>
                <key>sourceSize</key>
                <string>{330,370}</string>
            </dict>
            <key>jianxiong_xuanfeng04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,346}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{330,346}}</string>
                <key>sourceSize</key>
                <string>{330,370}</string>
            </dict>
            <key>jianxiong_xuanfeng05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{318,362}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{318,362}}</string>
                <key>sourceSize</key>
                <string>{330,370}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jianxiong.png</string>
            <key>size</key>
            <string>{836,836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84aa7382887d99d0c3c012bb2a08ffdd:1/1$</string>
            <key>textureFileName</key>
            <string>jianxiong.png</string>
        </dict>
    </dict>
</plist>
