<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuanggu_daji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,326}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{410,326}}</string>
                <key>sourceSize</key>
                <string>{410,350}</string>
            </dict>
            <key>kuanggu_daji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{278,306}}</string>
                <key>offset</key>
                <string>{66,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,11},{278,306}}</string>
                <key>sourceSize</key>
                <string>{410,350}</string>
            </dict>
            <key>kuanggu_daji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{276,280}}</string>
                <key>offset</key>
                <string>{67,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,37},{276,280}}</string>
                <key>sourceSize</key>
                <string>{410,350}</string>
            </dict>
            <key>kuanggu_xixue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,330},{284,228}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{284,228}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>kuanggu_xixue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{288,188}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{288,188}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>kuanggu_xixue03.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,284},{282,174}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{282,174}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>kuanggu_xixue04.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,568},{274,232}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{274,232}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>kuanggu_xixue05.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,616},{206,200}}</string>
                <key>offset</key>
                <string>{-47,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{206,200}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>kuanggu_xixue06.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,159},{122,170}}</string>
                <key>offset</key>
                <string>{-80,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,41},{122,170}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>kuanggu_zhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>kuanggu_zhuahen01.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,284},{268,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{268,32}}</string>
                <key>sourceSize</key>
                <string>{280,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuanggu.png</string>
            <key>size</key>
            <string>{849,849}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:867e6453c9cbd46d7009d29709dbd4a9:1/1$</string>
            <key>textureFileName</key>
            <string>kuanggu.png</string>
        </dict>
    </dict>
</plist>
