<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>laohuji_ling.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,190},{60,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{60,78}}</string>
                <key>sourceSize</key>
                <string>{80,114}</string>
            </dict>
            <key>laohuji_shuzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{64,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{64,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>laohuji_shuzi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,126},{62,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{62,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>laohuji_shuzi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,126},{60,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{60,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>laohuji_shuzi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{66,122}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{66,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>laohuji_shuzi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{60,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{60,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>laohuji_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,81}}</string>
                <key>sourceSize</key>
                <string>{120,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laohuji.png</string>
            <key>size</key>
            <string>{254,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eee449c60c0428be012fce1bac29a37:1/1$</string>
            <key>textureFileName</key>
            <string>laohuji.png</string>
        </dict>
    </dict>
</plist>
