<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lianmai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,474},{356,320}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{356,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lianmai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,230},{250,242}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,43},{250,242}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lianmai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{266,262}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,37},{266,262}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lianmai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,208}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,64},{230,208}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lianmai05.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{224,212}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,50},{224,212}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lianmai06.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{226,226}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,46},{226,226}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lianmai07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{228,232}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,44},{228,232}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lianmai08.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,230},{248,242}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,42},{248,242}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lianmai01.png</string>
            <key>size</key>
            <string>{796,796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57cbff23b12f632096d1a1f3a1ee9867:1/1$</string>
            <key>textureFileName</key>
            <string>Lianmai01.png</string>
        </dict>
    </dict>
</plist>
