<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luoshen_faguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,858},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>luoshen_faguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>luoshen_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,486},{165,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,247}}</string>
                <key>sourceSize</key>
                <string>{165,247}</string>
            </dict>
            <key>luoshen_heiguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,264},{220,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,300}}</string>
                <key>sourceSize</key>
                <string>{220,300}</string>
            </dict>
            <key>luoshen_heiguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,520},{220,244}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{220,244}}</string>
                <key>sourceSize</key>
                <string>{220,300}</string>
            </dict>
            <key>luoshen_heiguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,653},{220,180}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,120},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,300}</string>
            </dict>
            <key>luoshen_hongguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,742},{222,230}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>luoshen_huaban01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,835},{208,168}}</string>
                <key>offset</key>
                <string>{7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,113},{208,168}}</string>
                <key>sourceSize</key>
                <string>{290,300}</string>
            </dict>
            <key>luoshen_huaban02.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,742},{210,206}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,63},{210,206}}</string>
                <key>sourceSize</key>
                <string>{290,300}</string>
            </dict>
            <key>luoshen_huaban03.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,520},{178,220}}</string>
                <key>offset</key>
                <string>{-33,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{178,220}}</string>
                <key>sourceSize</key>
                <string>{290,300}</string>
            </dict>
            <key>luoshen_huaban_san02.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,258},{266,260}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{266,260}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>luoshen_huaban_san03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{282,276}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{282,276}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>luoshen_huaban_san04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,284}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{288,284}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>luoshen_huaban_san05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{280,284}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,284}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>luoshen_juese01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{254,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,300}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>luoshen_juese02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{260,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,300}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luoshen.png</string>
            <key>size</key>
            <string>{1010,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1afff0f978546eb526f6853785fe24e4:1/1$</string>
            <key>textureFileName</key>
            <string>luoshen.png</string>
        </dict>
    </dict>
</plist>
