<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainMenuScene01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,423},{100,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,89}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,321},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,192},{100,85}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,85}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,372},{100,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,91}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,394},{100,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,91}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,474},{98,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,89}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,279},{100,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,91}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,279},{98,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,219},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,279},{100,87}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{100,87}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,381},{92,89}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{92,89}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>MainMenuScene01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,97},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>MainMenuScene01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>MainMenuScene01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>MainMenuScene01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,97},{100,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,91}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>MainMenuScene01_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>MainMenuScene01_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{110,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,105}}</string>
                <key>sourceSize</key>
                <string>{110,105}</string>
            </dict>
            <key>MainMenuScene01_t_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,112},{105,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{105,84}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>MainMenuScene01_t_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,103},{103,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{103,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>MainMenuScene01_t_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,190},{99,86}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{99,86}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>MainMenuScene01_t_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,313},{79,88}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{79,88}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>MainMenuScene01_t_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,496},{81,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{81,88}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>MainMenuScene01_t_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,379},{93,88}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,88}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>MainMenuScene01_t_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,97},{99,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{99,86}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>MainMenuScene01_t_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,208},{103,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{103,88}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>MainMenuScene01_t_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{69,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{69,72}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>MainMenuScene01_t_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,198},{79,82}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{79,82}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>MainMenuScene01_t_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,474},{97,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{97,88}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainMenuScene01.png</string>
            <key>size</key>
            <string>{583,583}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81a702459d32b6f177ac351f4b737980:1/1$</string>
            <key>textureFileName</key>
            <string>MainMenuScene01.png</string>
        </dict>
    </dict>
</plist>
