<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mingce_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,244},{152,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{152,224}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>mingce_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{188,220}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{188,220}}</string>
                <key>sourceSize</key>
                <string>{200,230}</string>
            </dict>
            <key>mingce_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,224},{180,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,140}}</string>
                <key>sourceSize</key>
                <string>{180,140}</string>
            </dict>
            <key>mingce_renwu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{210,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,240}}</string>
                <key>sourceSize</key>
                <string>{210,240}</string>
            </dict>
            <key>mingce_renwu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,240}}</string>
                <key>sourceSize</key>
                <string>{310,240}</string>
            </dict>
            <key>mingce_sha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{1,1}}</string>
                <key>offset</key>
                <string>{-54.5,39.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mingce.png</string>
            <key>size</key>
            <string>{510,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5bb75b2956e3762336cb28c96dfca39:1/1$</string>
            <key>textureFileName</key>
            <string>mingce.png</string>
        </dict>
    </dict>
</plist>
