<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juqing_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1265},{57,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,38}}</string>
                <key>sourceSize</key>
                <string>{57,38}</string>
            </dict>
            <key>juqing_beijing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{568,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,384}}</string>
                <key>sourceSize</key>
                <string>{568,384}</string>
            </dict>
            <key>juqing_beijing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{568,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,384}}</string>
                <key>sourceSize</key>
                <string>{568,384}</string>
            </dict>
            <key>juqing_beijing03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1107},{568,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,384}}</string>
                <key>sourceSize</key>
                <string>{568,384}</string>
            </dict>
            <key>juqing_duihua01.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1520},{374,342}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{374,342}}</string>
                <key>sourceSize</key>
                <string>{390,350}</string>
            </dict>
            <key>juqing_duihua02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,768},{434,304}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{434,304}}</string>
                <key>sourceSize</key>
                <string>{450,320}</string>
            </dict>
            <key>juqing_duihua03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,768},{468,448}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{468,448}}</string>
                <key>sourceSize</key>
                <string>{470,450}</string>
            </dict>
            <key>juqing_fanzeizhenwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,388},{264,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,256}}</string>
                <key>sourceSize</key>
                <string>{264,256}</string>
            </dict>
            <key>juqing_ha.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,309},{61,63}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{61,63}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>juqing_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1206},{57,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,38}}</string>
                <key>sourceSize</key>
                <string>{57,38}</string>
            </dict>
            <key>juqing_heixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,388},{478,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{478,360}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>juqing_jian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1470},{383,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,105}}</string>
                <key>sourceSize</key>
                <string>{383,105}</string>
            </dict>
            <key>juqing_jian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,1470},{279,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,105}}</string>
                <key>sourceSize</key>
                <string>{279,105}</string>
            </dict>
            <key>juqing_jizhongxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{568,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,384}}</string>
                <key>sourceSize</key>
                <string>{568,384}</string>
            </dict>
            <key>juqing_linhun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1415},{143,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{143,241}}</string>
                <key>sourceSize</key>
                <string>{153,241}</string>
            </dict>
            <key>juqing_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,1751},{146,176}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{146,176}}</string>
                <key>sourceSize</key>
                <string>{148,180}</string>
            </dict>
            <key>juqing_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,1185},{173,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,228}}</string>
                <key>sourceSize</key>
                <string>{173,228}</string>
            </dict>
            <key>juqing_neijianzhenwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1204},{264,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,256}}</string>
                <key>sourceSize</key>
                <string>{264,256}</string>
            </dict>
            <key>juqing_paidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1470},{243,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,144}}</string>
                <key>sourceSize</key>
                <string>{243,144}</string>
            </dict>
            <key>juqing_qin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1658},{234,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,237}}</string>
                <key>sourceSize</key>
                <string>{234,237}</string>
            </dict>
            <key>juqing_ru.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1206},{262,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,150}}</string>
                <key>sourceSize</key>
                <string>{262,150}</string>
            </dict>
            <key>juqing_sha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,750},{433,339}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{433,339}}</string>
                <key>sourceSize</key>
                <string>{447,353}</string>
            </dict>
            <key>juqing_sha01.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1218},{510,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,300}}</string>
                <key>sourceSize</key>
                <string>{510,300}</string>
            </dict>
            <key>juqing_sha02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{571,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,410}}</string>
                <key>sourceSize</key>
                <string>{571,410}</string>
            </dict>
            <key>juqing_shan.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1520},{407,375}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{407,375}}</string>
                <key>sourceSize</key>
                <string>{407,387}</string>
            </dict>
            <key>juqing_shan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1493},{451,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,404}}</string>
                <key>sourceSize</key>
                <string>{451,404}</string>
            </dict>
            <key>juqing_shandian.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,388},{568,378}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,378}}</string>
                <key>sourceSize</key>
                <string>{568,384}</string>
            </dict>
            <key>juqing_shou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{701,305}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{701,305}}</string>
                <key>sourceSize</key>
                <string>{705,305}</string>
            </dict>
            <key>juqing_xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,1206},{188,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{188,178}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>juqing_zhendong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,654},{278,184}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{278,184}}</string>
                <key>sourceSize</key>
                <string>{298,204}</string>
            </dict>
            <key>juqing_zhendong02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,934},{180,270}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{180,270}}</string>
                <key>sourceSize</key>
                <string>{194,300}</string>
            </dict>
            <key>juqing_zhugong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,1386},{138,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,194}}</string>
                <key>sourceSize</key>
                <string>{138,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Newplay01.png</string>
            <key>size</key>
            <string>{1899,1899}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f20693c124c31c6850b4f45d94306db9:1/1$</string>
            <key>textureFileName</key>
            <string>Newplay01.png</string>
        </dict>
    </dict>
</plist>
