<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paoxiao_daji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,218},{300,324}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{300,324}}</string>
                <key>sourceSize</key>
                <string>{330,380}</string>
            </dict>
            <key>paoxiao_daji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{326,356}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{326,356}}</string>
                <key>sourceSize</key>
                <string>{330,380}</string>
            </dict>
            <key>paoxiao_sha01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,178}}</string>
                <key>offset</key>
                <string>{-25,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,127},{414,178}}</string>
                <key>sourceSize</key>
                <string>{470,310}</string>
            </dict>
            <key>paoxiao_sha02.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{394,214}}</string>
                <key>offset</key>
                <string>{17,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,84},{394,214}}</string>
                <key>sourceSize</key>
                <string>{470,310}</string>
            </dict>
            <key>paoxiao_sha03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,432},{350,244}}</string>
                <key>offset</key>
                <string>{49,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,44},{350,244}}</string>
                <key>sourceSize</key>
                <string>{470,310}</string>
            </dict>
            <key>paoxiao_sha04.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,544},{318,262}}</string>
                <key>offset</key>
                <string>{68,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,8},{318,262}}</string>
                <key>sourceSize</key>
                <string>{470,310}</string>
            </dict>
            <key>paoxiao_sha05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{390,248}}</string>
                <key>offset</key>
                <string>{28,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{390,248}}</string>
                <key>sourceSize</key>
                <string>{470,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paoxiao.png</string>
            <key>size</key>
            <string>{878,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95c36ad1a709be4e8c41069725f7ad8d:1/1$</string>
            <key>textureFileName</key>
            <string>paoxiao.png</string>
        </dict>
    </dict>
</plist>
