<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiangxi_wuqi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,554},{133,290}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,290}}</string>
                <key>sourceSize</key>
                <string>{135,290}</string>
            </dict>
            <key>qiangxi_wuqi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{212,210}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,19},{212,210}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>qiangxi_xue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,624},{280,198}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{280,198}}</string>
                <key>sourceSize</key>
                <string>{336,232}</string>
            </dict>
            <key>qiangxi_xue03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,402},{310,220}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{310,220}}</string>
                <key>sourceSize</key>
                <string>{336,232}</string>
            </dict>
            <key>qiangxi_xue04.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{320,230}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{320,230}}</string>
                <key>sourceSize</key>
                <string>{336,232}</string>
            </dict>
            <key>qiangxi_xue05.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,324},{284,228}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,3},{284,228}}</string>
                <key>sourceSize</key>
                <string>{336,232}</string>
            </dict>
            <key>qiangxi_xuebao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{242,214}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,18},{242,214}}</string>
                <key>sourceSize</key>
                <string>{336,232}</string>
            </dict>
            <key>qiangxi_xuebao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,689},{274,208}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{274,208}}</string>
                <key>sourceSize</key>
                <string>{336,232}</string>
            </dict>
            <key>qiangxi_xuebao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,624},{300,216}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{300,216}}</string>
                <key>sourceSize</key>
                <string>{336,232}</string>
            </dict>
            <key>qiangxi_xuebao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{326,226}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{326,226}}</string>
                <key>sourceSize</key>
                <string>{336,232}</string>
            </dict>
            <key>qiangxi_zha01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,212},{318,188}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,21},{318,188}}</string>
                <key>sourceSize</key>
                <string>{374,220}</string>
            </dict>
            <key>qiangxi_zha02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,202}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{348,202}}</string>
                <key>sourceSize</key>
                <string>{374,220}</string>
            </dict>
            <key>qiangxi_zha03.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{344,208}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{344,208}}</string>
                <key>sourceSize</key>
                <string>{374,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiangxi.png</string>
            <key>size</key>
            <string>{936,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61edbfb2df4484ed172e3344b312c4ab:1/1$</string>
            <key>textureFileName</key>
            <string>qiangxi.png</string>
        </dict>
    </dict>
</plist>
