<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>600074.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{107,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,77}}</string>
                <key>sourceSize</key>
                <string>{111,77}</string>
            </dict>
            <key>600239.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,411},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>Button_lshiduihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1119},{225,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,92}}</string>
                <key>sourceSize</key>
                <string>{225,92}</string>
            </dict>
            <key>SecretShop_button_shengmiyoushang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1119},{225,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,92}}</string>
                <key>sourceSize</key>
                <string>{225,92}</string>
            </dict>
            <key>SecretShop_icon_hunyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,448},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>SecretShop_icon_lshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,411},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>SecretShop_icon_yulu.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,448},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>SecretShop_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{393,468}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,468}}</string>
                <key>sourceSize</key>
                <string>{397,468}</string>
            </dict>
            <key>Tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{357,468}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{357,468}}</string>
                <key>sourceSize</key>
                <string>{397,468}</string>
            </dict>
            <key>Tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{357,468}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{357,468}}</string>
                <key>sourceSize</key>
                <string>{397,468}</string>
            </dict>
            <key>Tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,397},{371,468}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{371,468}}</string>
                <key>sourceSize</key>
                <string>{397,468}</string>
            </dict>
            <key>Tree4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{397,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,468}}</string>
                <key>sourceSize</key>
                <string>{397,468}</string>
            </dict>
            <key>jifenduihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,261},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>juexbaoxiang_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,770},{365,464}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{365,464}}</string>
                <key>sourceSize</key>
                <string>{397,468}</string>
            </dict>
            <key>zshuICON.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,111},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretShop.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fc1b3c3737f1eb2d52de307e22b15d6:1/1$</string>
            <key>textureFileName</key>
            <string>secretShop.png</string>
        </dict>
    </dict>
</plist>
