<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shensu_baofa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{650,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,268}}</string>
                <key>sourceSize</key>
                <string>{650,268}</string>
            </dict>
            <key>shensu_daji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{359,322}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{359,322}}</string>
                <key>sourceSize</key>
                <string>{387,342}</string>
            </dict>
            <key>shensu_daji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{385,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,342}}</string>
                <key>sourceSize</key>
                <string>{387,342}</string>
            </dict>
            <key>shensu_daji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,411},{339,332}}</string>
                <key>offset</key>
                <string>{24,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{339,332}}</string>
                <key>sourceSize</key>
                <string>{387,342}</string>
            </dict>
            <key>shensu_daoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,272},{381,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,190}}</string>
                <key>sourceSize</key>
                <string>{381,190}</string>
            </dict>
            <key>shensu_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{407,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,203}}</string>
                <key>sourceSize</key>
                <string>{407,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shensu.png</string>
            <key>size</key>
            <string>{940,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e679e4107d0a3a222b6b28fc6e5e1b60:1/1$</string>
            <key>textureFileName</key>
            <string>shensu.png</string>
        </dict>
    </dict>
</plist>
