<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_mokurou_bianzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,275},{192,156}}</string>
                <key>offset</key>
                <string>{-49,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,121},{192,156}}</string>
                <key>sourceSize</key>
                <string>{384,496}</string>
            </dict>
            <key>skill_mokurou_bianzi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{236,246}}</string>
                <key>offset</key>
                <string>{41,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,123},{236,246}}</string>
                <key>sourceSize</key>
                <string>{384,496}</string>
            </dict>
            <key>skill_mokurou_bianzi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,255},{262,206}}</string>
                <key>offset</key>
                <string>{-4,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,260},{262,206}}</string>
                <key>sourceSize</key>
                <string>{384,496}</string>
            </dict>
            <key>skill_mokurou_bianzi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,658},{236,212}}</string>
                <key>offset</key>
                <string>{-72,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,265},{236,212}}</string>
                <key>sourceSize</key>
                <string>{384,496}</string>
            </dict>
            <key>skill_mokurou_bianzi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,695},{202,212}}</string>
                <key>offset</key>
                <string>{34,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,262},{202,212}}</string>
                <key>sourceSize</key>
                <string>{384,496}</string>
            </dict>
            <key>skill_mokurou_bianzi06.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,250},{246,224}}</string>
                <key>offset</key>
                <string>{67,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,84},{246,224}}</string>
                <key>sourceSize</key>
                <string>{384,496}</string>
            </dict>
            <key>skill_mokurou_bianzi07.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,498},{168,130}}</string>
                <key>offset</key>
                <string>{-64,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,246},{168,130}}</string>
                <key>sourceSize</key>
                <string>{384,496}</string>
            </dict>
            <key>skill_mokurou_bianzi08.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,668},{116,96}}</string>
                <key>offset</key>
                <string>{-40,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,257},{116,96}}</string>
                <key>sourceSize</key>
                <string>{384,496}</string>
            </dict>
            <key>skill_mokurou_daji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{210,281}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{210,281}}</string>
                <key>sourceSize</key>
                <string>{280,315}</string>
            </dict>
            <key>skill_mokurou_daji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{250,299}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,299}}</string>
                <key>sourceSize</key>
                <string>{280,315}</string>
            </dict>
            <key>skill_mokurou_daji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{272,315}}</string>
                <key>sourceSize</key>
                <string>{280,315}</string>
            </dict>
            <key>skill_mokurou_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,498},{223,195}}</string>
                <key>offset</key>
                <string>{-27,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,195}}</string>
                <key>sourceSize</key>
                <string>{277,261}</string>
            </dict>
            <key>skill_mokurou_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,2},{271,139}}</string>
                <key>offset</key>
                <string>{-3,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{271,139}}</string>
                <key>sourceSize</key>
                <string>{277,261}</string>
            </dict>
            <key>skill_mokurou_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{255,251}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{255,251}}</string>
                <key>sourceSize</key>
                <string>{277,261}</string>
            </dict>
            <key>skill_mokurou_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,463},{193,249}}</string>
                <key>offset</key>
                <string>{42,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,12},{193,249}}</string>
                <key>sourceSize</key>
                <string>{277,261}</string>
            </dict>
            <key>skill_mokurou_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,695},{97,227}}</string>
                <key>offset</key>
                <string>{90,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,26},{97,227}}</string>
                <key>sourceSize</key>
                <string>{277,261}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_mokurou01.png</string>
            <key>size</key>
            <string>{924,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ea4ec74131fb6b55c0226559ba4d216:1/1$</string>
            <key>textureFileName</key>
            <string>skill_mokurou01.png</string>
        </dict>
    </dict>
</plist>
