<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_lieren_liandaoxuanzhuan00.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,198},{386,206}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,227},{386,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_liandaoxuanzhuan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{410,194}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,231},{410,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_liandaoxuanzhuan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{386,206}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,218},{386,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_liandaoxuanzhuan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,194}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,226},{410,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_lizi00.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{132,164}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,225},{132,164}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_lizi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,198},{240,286}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,161},{240,286}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_lizi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,664},{256,304}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,148},{256,304}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_lizi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,198},{260,304}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,148},{260,304}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_lizi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,586},{250,312}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,140},{250,312}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_lizi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{250,318}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,130},{250,318}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_lizi06.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,440},{222,266}}</string>
                <key>offset</key>
                <string>{15,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,157},{222,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_lieren03.png</string>
            <key>size</key>
            <string>{968,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9a32b00538900167a7222e8b3e11faa:1/1$</string>
            <key>textureFileName</key>
            <string>skill_lieren03.png</string>
        </dict>
    </dict>
</plist>
