<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_guicai_bingchen.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,392},{149,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,163}}</string>
                <key>sourceSize</key>
                <string>{149,165}</string>
            </dict>
            <key>skill_guicai_bingkuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,693},{86,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>skill_guicai_huase01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{380,204}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{380,204}}</string>
                <key>sourceSize</key>
                <string>{420,210}</string>
            </dict>
            <key>skill_guicai_huase02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{420,206}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{420,206}}</string>
                <key>sourceSize</key>
                <string>{420,210}</string>
            </dict>
            <key>skill_guicai_huase03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{388,164}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,25},{388,164}}</string>
                <key>sourceSize</key>
                <string>{420,210}</string>
            </dict>
            <key>skill_guicai_huase04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,364},{270,142}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,42},{270,142}}</string>
                <key>sourceSize</key>
                <string>{420,210}</string>
            </dict>
            <key>skill_guicai_huoyan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,583},{140,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{140,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>skill_guicai_huoyan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,583},{126,120}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{126,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>skill_guicai_huoyan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,557},{134,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{134,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>skill_guicai_huoyan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,636},{142,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{142,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>skill_guicai_huoyanfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,424},{249,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,157}}</string>
                <key>sourceSize</key>
                <string>{249,157}</string>
            </dict>
            <key>skill_guicai_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>skill_guicai_suibing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,705},{85,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,66}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skill_guicai_suibing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,705},{39,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>skill_guicai_suibing03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,705},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>skill_guicai_suibing04.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,705},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_guicai.png</string>
            <key>size</key>
            <string>{773,773}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14c2d133e382898f03d28445ba14c619:1/1$</string>
            <key>textureFileName</key>
            <string>skill_guicai.png</string>
        </dict>
    </dict>
</plist>
