<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_longdan_faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{308,300}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{308,300}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>skill_longdan_lanlong06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,288}}</string>
                <key>offset</key>
                <string>{25,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{382,288}}</string>
                <key>sourceSize</key>
                <string>{440,304}</string>
            </dict>
            <key>skill_longdan_lanlong07.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{280,256}}</string>
                <key>offset</key>
                <string>{80,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,0},{280,256}}</string>
                <key>sourceSize</key>
                <string>{440,304}</string>
            </dict>
            <key>skill_longdan_sha01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,284},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_longdan_sha02.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,284},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_longdan_sha03.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,284},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_longdan_sha04.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,284},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_longdan_sha05.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,284},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_longdan_sha06.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,284},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_longdan_sha07.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,284},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_longdan_sha08.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,292},{146,192}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{146,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_longdan_sha09.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,284},{148,160}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{148,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_longdan_shan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,284},{1,1}}</string>
                <key>offset</key>
                <string>{-87.5,95.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>skill_longdan_shan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,284},{1,1}}</string>
                <key>offset</key>
                <string>{-87.5,95.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>skill_longdan_shan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,284},{1,1}}</string>
                <key>offset</key>
                <string>{-87.5,95.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>skill_longdan_shan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,284},{1,1}}</string>
                <key>offset</key>
                <string>{-87.5,95.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>skill_longdan_shan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,284},{1,1}}</string>
                <key>offset</key>
                <string>{-87.5,95.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>skill_longdan_shan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,284},{1,1}}</string>
                <key>offset</key>
                <string>{-87.5,95.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>skill_longdan_shan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,284},{1,1}}</string>
                <key>offset</key>
                <string>{-87.5,95.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>skill_longdan_shan08.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,486},{148,146}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{148,146}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>skill_longdan_shan09.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,446},{142,158}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{142,158}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_longdan01.png</string>
            <key>size</key>
            <string>{644,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5272f5ef5674a080c1273abe678ea014:1/1$</string>
            <key>textureFileName</key>
            <string>skill_longdan01.png</string>
        </dict>
    </dict>
</plist>
