<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_zhuiyi_v5_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{320,288}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{320,288}}</string>
                <key>sourceSize</key>
                <string>{344,304}</string>
            </dict>
            <key>skill_zhuiyi_v5_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,304}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,304}}</string>
                <key>sourceSize</key>
                <string>{344,304}</string>
            </dict>
            <key>skill_zhuiyi_v5_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{300,294}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,2},{300,294}}</string>
                <key>sourceSize</key>
                <string>{344,304}</string>
            </dict>
            <key>skill_zhuiyi_v5_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1002},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{98,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_zhuiyi_v5_xian01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,940},{50,36}}</string>
                <key>offset</key>
                <string>{-103,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{50,36}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>skill_zhuiyi_v5_xian01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1106},{102,42}}</string>
                <key>offset</key>
                <string>{-77,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{102,42}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>skill_zhuiyi_v5_xian01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,940},{132,42}}</string>
                <key>offset</key>
                <string>{-61,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,54},{132,42}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>skill_zhuiyi_v5_xian01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,826},{174,46}}</string>
                <key>offset</key>
                <string>{-41,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,51},{174,46}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>skill_zhuiyi_v5_xian01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,826},{216,46}}</string>
                <key>offset</key>
                <string>{-20,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,51},{216,46}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>skill_zhuiyi_v5_xian01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,634},{256,46}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,51},{256,46}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>skill_zhuiyi_v5_xian_loop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,328},{314,56}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,43},{314,56}}</string>
                <key>sourceSize</key>
                <string>{324,128}</string>
            </dict>
            <key>skill_zhuiyi_v5_xian_loop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,328},{308,60}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,41},{308,60}}</string>
                <key>sourceSize</key>
                <string>{324,128}</string>
            </dict>
            <key>skill_zhuiyi_v5_xian_loop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,638},{300,60}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,41},{300,60}}</string>
                <key>sourceSize</key>
                <string>{324,128}</string>
            </dict>
            <key>skill_zhuiyi_v5_xian_loop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{306,64}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,38},{306,64}}</string>
                <key>sourceSize</key>
                <string>{324,128}</string>
            </dict>
            <key>skill_zhuiyi_v5_xian_loop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,328},{304,64}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,37},{304,64}}</string>
                <key>sourceSize</key>
                <string>{324,128}</string>
            </dict>
            <key>skill_zhuiyi_v5_xian_loop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{312,60}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,38},{312,60}}</string>
                <key>sourceSize</key>
                <string>{324,128}</string>
            </dict>
            <key>skill_zhuiyi_v5_xian_loop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{314,60}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,37},{314,60}}</string>
                <key>sourceSize</key>
                <string>{324,128}</string>
            </dict>
            <key>skill_zhuiyi_v5_xian_loop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{314,64}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{314,64}}</string>
                <key>sourceSize</key>
                <string>{324,128}</string>
            </dict>
            <key>skill_zhuiyi_v5_zi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{324,166}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{324,166}}</string>
                <key>sourceSize</key>
                <string>{360,190}</string>
            </dict>
            <key>skill_zhuiyi_v5_zi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,644},{180,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,95}}</string>
                <key>sourceSize</key>
                <string>{180,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_zhuiyi_v5.png</string>
            <key>size</key>
            <string>{512,1150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee94aecfbe917c63c7a822788ccdc24a:1/1$</string>
            <key>textureFileName</key>
            <string>skill_zhuiyi_v5.png</string>
        </dict>
    </dict>
</plist>
