<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_qiaobian_cardzhuan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,766},{225,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,183}}</string>
                <key>sourceSize</key>
                <string>{225,183}</string>
            </dict>
            <key>skill_qiaobian_cardzhuan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,611},{225,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,183}}</string>
                <key>sourceSize</key>
                <string>{225,183}</string>
            </dict>
            <key>skill_qiaobian_cardzhuan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,384},{225,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,183}}</string>
                <key>sourceSize</key>
                <string>{225,183}</string>
            </dict>
            <key>skill_qiaobian_cardzhuan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,581},{225,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,183}}</string>
                <key>sourceSize</key>
                <string>{225,183}</string>
            </dict>
            <key>skill_qiaobian_cardzhuan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,396},{225,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,183}}</string>
                <key>sourceSize</key>
                <string>{225,183}</string>
            </dict>
            <key>skill_qiaobian_cardzhuan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,594},{225,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,183}}</string>
                <key>sourceSize</key>
                <string>{225,183}</string>
            </dict>
            <key>skill_qiaobian_cardzhuan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,199},{225,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,183}}</string>
                <key>sourceSize</key>
                <string>{225,183}</string>
            </dict>
            <key>skill_qiaobian_cardzhuan08.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,396},{225,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,183}}</string>
                <key>sourceSize</key>
                <string>{225,183}</string>
            </dict>
            <key>skill_qiaobian_cardzhuan09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{225,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,183}}</string>
                <key>sourceSize</key>
                <string>{225,183}</string>
            </dict>
            <key>skill_qiaobian_guangli01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{280,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,195}}</string>
                <key>sourceSize</key>
                <string>{280,195}</string>
            </dict>
            <key>skill_qiaobian_guangli02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,199},{280,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,195}}</string>
                <key>sourceSize</key>
                <string>{280,195}</string>
            </dict>
            <key>skill_qiaobian_guangli03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{280,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,195}}</string>
                <key>sourceSize</key>
                <string>{280,195}</string>
            </dict>
            <key>skill_qiaobian_guangli04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{280,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,195}}</string>
                <key>sourceSize</key>
                <string>{280,195}</string>
            </dict>
            <key>skill_qiaobian_guangli05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{280,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,195}}</string>
                <key>sourceSize</key>
                <string>{280,195}</string>
            </dict>
            <key>skill_qiaobian_guangli06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,196}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>skill_qiaobian_guanglidown01.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,199},{133,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,139}}</string>
                <key>sourceSize</key>
                <string>{133,139}</string>
            </dict>
            <key>skill_qiaobian_guanglidown02.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,796},{133,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,139}}</string>
                <key>sourceSize</key>
                <string>{133,139}</string>
            </dict>
            <key>skill_qiaobian_guanglidown03.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,796},{133,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,139}}</string>
                <key>sourceSize</key>
                <string>{133,139}</string>
            </dict>
            <key>skill_qiaobian_guanglidown04.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,779},{133,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,139}}</string>
                <key>sourceSize</key>
                <string>{133,139}</string>
            </dict>
            <key>skill_qiaobian_guanglidown05.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,779},{133,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,139}}</string>
                <key>sourceSize</key>
                <string>{133,139}</string>
            </dict>
            <key>skill_qiaobian_guanglidown06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{133,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,139}}</string>
                <key>sourceSize</key>
                <string>{133,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_qiaobian02.png</string>
            <key>size</key>
            <string>{953,953}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d7a24e1c5ed502b892f92736f216a98:1/1$</string>
            <key>textureFileName</key>
            <string>skill_qiaobian02.png</string>
        </dict>
    </dict>
</plist>
