<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_jiushi_caozhi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{316,344}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,196},{316,344}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_jiushi_fu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{300,242}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,226},{300,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiushi_lvguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,416},{308,92}}</string>
                <key>offset</key>
                <string>{26,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,483},{308,92}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_jiushi_maobi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,106}}</string>
                <key>offset</key>
                <string>{76,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,194},{580,106}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiushi_mo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,642},{50,60}}</string>
                <key>offset</key>
                <string>{48,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{503,227},{50,60}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiushi_mo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,642},{66,74}}</string>
                <key>offset</key>
                <string>{40,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,227},{66,74}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiushi_mo03.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,316},{82,94}}</string>
                <key>offset</key>
                <string>{32,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,226},{82,94}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiushi_mo04.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,316},{98,118}}</string>
                <key>offset</key>
                <string>{24,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{455,227},{98,118}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiushi_mo05.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{112,144}}</string>
                <key>offset</key>
                <string>{17,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,226},{112,144}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiushi_mo06.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,322},{126,150}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,226},{126,150}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiushi_mo07.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,450},{134,190}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,227},{134,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiushi_mo08.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,116},{134,204}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,226},{134,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiushi_mo09.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,110},{234,204}}</string>
                <key>offset</key>
                <string>{56,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,226},{234,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiushi_mo10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,428},{300,204}}</string>
                <key>offset</key>
                <string>{90,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,226},{300,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_jiushi02.png</string>
            <key>size</key>
            <string>{732,732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ea5750803eb7826014c7abe778db494:1/1$</string>
            <key>textureFileName</key>
            <string>skill_jiushi02.png</string>
        </dict>
    </dict>
</plist>
