<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_hujia_baoli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{331,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,376}}</string>
                <key>sourceSize</key>
                <string>{331,376}</string>
            </dict>
            <key>skill_hujia_baopo.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,365},{307,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,181}}</string>
                <key>sourceSize</key>
                <string>{307,181}</string>
            </dict>
            <key>skill_hujia_caocao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{331,255}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{331,255}}</string>
                <key>sourceSize</key>
                <string>{333,257}</string>
            </dict>
            <key>skill_hujia_fazhen01.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,548},{361,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,173}}</string>
                <key>sourceSize</key>
                <string>{361,173}</string>
            </dict>
            <key>skill_hujia_fazhen02.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{361,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,173}}</string>
                <key>sourceSize</key>
                <string>{361,173}</string>
            </dict>
            <key>skill_hujia_fazhen03.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,555},{361,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,173}}</string>
                <key>sourceSize</key>
                <string>{361,173}</string>
            </dict>
            <key>skill_hujia_fazhen04.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,380},{361,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,173}}</string>
                <key>sourceSize</key>
                <string>{361,173}</string>
            </dict>
            <key>skill_hujia_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,201},{162,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,257}}</string>
                <key>sourceSize</key>
                <string>{162,257}</string>
            </dict>
            <key>skill_hujia_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,555},{136,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,279}}</string>
                <key>sourceSize</key>
                <string>{136,279}</string>
            </dict>
            <key>skill_hujia_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,2},{136,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,243}}</string>
                <key>sourceSize</key>
                <string>{136,243}</string>
            </dict>
            <key>skill_hujia_lizi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{221,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,287}}</string>
                <key>sourceSize</key>
                <string>{221,287}</string>
            </dict>
            <key>skill_hujia_lizi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,693},{230,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,256}}</string>
                <key>sourceSize</key>
                <string>{230,256}</string>
            </dict>
            <key>skill_hujia_yanquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{281,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,197}}</string>
                <key>sourceSize</key>
                <string>{281,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_hujia03.png</string>
            <key>size</key>
            <string>{951,951}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bdc73f70f7974181468076b63062cbb:1/1$</string>
            <key>textureFileName</key>
            <string>skill_hujia03.png</string>
        </dict>
    </dict>
</plist>
