<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_tongji_heiwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,388},{350,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>skill_tongji_heiyan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{358,204}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,204}}</string>
                <key>sourceSize</key>
                <string>{368,208}</string>
            </dict>
            <key>skill_tongji_heiyan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{358,204}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,204}}</string>
                <key>sourceSize</key>
                <string>{368,208}</string>
            </dict>
            <key>skill_tongji_heiyan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,204}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,204}}</string>
                <key>sourceSize</key>
                <string>{368,208}</string>
            </dict>
            <key>skill_tongji_heiyan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,208},{358,178}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{358,178}}</string>
                <key>sourceSize</key>
                <string>{368,208}</string>
            </dict>
            <key>skill_tongji_kuloushou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{208,252}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{208,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_tongji_kuloushou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,590},{216,242}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{216,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_tongji_kuloushou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,808},{232,214}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,42},{232,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_tongji_kuloushou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,486},{254,224}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{254,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_tongji_kuloushou_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_tongji_kuloushou_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,260},{224,256}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{224,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_tongji_kuloushou_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,712},{202,252}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{202,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_tongji_shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,414},{135,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{135,137}}</string>
                <key>sourceSize</key>
                <string>{145,143}</string>
            </dict>
            <key>skill_tongji_zhuahen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{106,170}}</string>
                <key>offset</key>
                <string>{-50,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{106,170}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>skill_tongji_zhuahen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,808},{150,168}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,21},{150,168}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>skill_tongji_zhuahen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{210,154}}</string>
                <key>offset</key>
                <string>{15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,46},{210,154}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_tongji.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eb0892f5cf9d3264e3734416c8235b1:1/1$</string>
            <key>textureFileName</key>
            <string>skill_tongji.png</string>
        </dict>
    </dict>
</plist>
