<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_haoshi_suipian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{150,199}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,199}}</string>
                <key>sourceSize</key>
                <string>{160,199}</string>
            </dict>
            <key>skill_haoshi_suipian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,199}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,199}}</string>
                <key>sourceSize</key>
                <string>{160,199}</string>
            </dict>
            <key>skill_haoshi_suipian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,191},{142,197}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{142,197}}</string>
                <key>sourceSize</key>
                <string>{160,199}</string>
            </dict>
            <key>skill_haoshi_suipian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{158,187}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{158,187}}</string>
                <key>sourceSize</key>
                <string>{160,199}</string>
            </dict>
            <key>skill_haoshi_suipian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,203},{152,195}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{152,195}}</string>
                <key>sourceSize</key>
                <string>{160,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_haoshi02.png</string>
            <key>size</key>
            <string>{452,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa617794276f440836285cc1f5622467:1/1$</string>
            <key>textureFileName</key>
            <string>skill_haoshi02.png</string>
        </dict>
    </dict>
</plist>
