<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eye01__00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,412},{56,34}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{56,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye01__00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,440},{56,32}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{56,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye01__00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,404},{56,32}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{56,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye01__00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,404},{56,32}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{56,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye01__00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,404},{56,32}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{56,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye01__00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,404},{58,32}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{58,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye01__00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,378},{58,34}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{58,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye01__00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,378},{58,32}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{58,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye01__00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,414},{58,32}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{58,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye01__00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,404},{56,34}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{56,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye02_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,438},{38,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{38,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye02_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,456},{38,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{38,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye02_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,456},{40,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{40,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye02_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,456},{38,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{38,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye02_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,438},{40,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{40,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye02_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,438},{40,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{40,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye02_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,438},{42,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{42,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye02_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,438},{42,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{42,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye02_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,456},{40,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{40,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye02_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,456},{40,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{40,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>heise.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>jianying_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,400}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{384,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>lang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,236},{270,256}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,256}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>lang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{300,242}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{300,242}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>lang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,246},{296,246}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{296,246}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>lang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{294,232}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{294,232}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>lang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{280,244}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{280,244}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>lang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,2},{266,232}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{266,232}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>lang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{252,234}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{252,234}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>lang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,238},{248,250}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{248,250}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>lang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,236},{248,250}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{248,250}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>lang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,248},{172,206}}</string>
                <key>offset</key>
                <string>{-46,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,49},{172,206}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>qiu_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,248},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_baiyin.png</string>
            <key>size</key>
            <string>{1796,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:652aef45446af2aa8c2bca54bcd0856e:1/1$</string>
            <key>textureFileName</key>
            <string>skill_baiyin.png</string>
        </dict>
    </dict>
</plist>
