<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_juejing_dunp_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,428},{182,208}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{182,208}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>skill_juejing_dunp_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,216},{182,210}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{182,210}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>skill_juejing_dunp_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,474},{180,210}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{180,210}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>skill_juejing_dunp_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,434},{182,212}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{182,212}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>skill_juejing_dunp_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,434},{184,214}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{184,214}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>skill_juejing_dunp_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,2},{182,212}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{182,212}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>skill_juejing_dunp_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,218},{182,214}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{182,214}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>skill_juejing_dunp_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{184,214}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{184,214}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>skill_juejing_dunp_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,218},{186,214}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{186,214}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>skill_juejing_dunp_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{186,214}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{186,214}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>skill_juejing_jianying02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,512}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{462,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_juejing_jianying_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{368,400}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{368,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_juejing_lizi_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,248},{154,224}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{154,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_juejing_lizi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,404},{172,248}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{172,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_juejing_lizi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{178,244}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{178,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_juejing_lizi_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{184,244}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{184,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_juejing_lizi_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,404},{188,244}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{188,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_juejing_lizi_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,404},{192,244}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{192,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_juejing_lizi_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,404},{196,234}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{196,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_juejing_lizi_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,238},{142,234}}</string>
                <key>offset</key>
                <string>{-35,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{142,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_juejing_lizi_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{146,234}}</string>
                <key>offset</key>
                <string>{-33,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{146,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_juejing_lizi_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,248},{148,158}}</string>
                <key>offset</key>
                <string>{-31,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,23},{148,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_juejing_lizi_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{60,72}}</string>
                <key>offset</key>
                <string>{14,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,31},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_juejing_lizi_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{26,26}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,78},{26,26}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_juejing.png</string>
            <key>size</key>
            <string>{1988,656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e64d582c622e2577aae2836ff96f3e7:1/1$</string>
            <key>textureFileName</key>
            <string>skill_juejing.png</string>
        </dict>
    </dict>
</plist>
