<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_yinghun_lizi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{130,868}}</string>
                <key>offset</key>
                <string>{13,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,26},{130,868}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_yinghun_lizi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,906}}</string>
                <key>offset</key>
                <string>{16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,25},{130,906}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_yinghun_lizi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{128,906}}</string>
                <key>offset</key>
                <string>{14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,21},{128,906}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_yinghun_lizi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{120,904}}</string>
                <key>offset</key>
                <string>{10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,17},{120,904}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_yinghun_lizi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{98,818}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,98},{98,818}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_yinghun_shan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{106,902}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,39},{106,902}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_yinghun03.png</string>
            <key>size</key>
            <string>{910,910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6a5ddeabe2a0dd178b215fb8850c243:1/1$</string>
            <key>textureFileName</key>
            <string>skill_yinghun03.png</string>
        </dict>
    </dict>
</plist>
