<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhidao_baodian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,364},{254,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{254,220}}</string>
                <key>sourceSize</key>
                <string>{256,230}</string>
            </dict>
            <key>zhidao_baodian_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{400,360}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,22},{400,360}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>zhidao_baodian_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,398}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{448,398}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>zhidao_baodian_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{390,382}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{390,382}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>zhidao_shou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{185,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,125}}</string>
                <key>sourceSize</key>
                <string>{185,125}</string>
            </dict>
            <key>zhidao_shou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,620},{200,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,128}}</string>
                <key>sourceSize</key>
                <string>{200,128}</string>
            </dict>
            <key>zhidao_xishou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,754},{232,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{232,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhidao_xishou_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,402},{350,185}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{350,185}}</string>
                <key>sourceSize</key>
                <string>{400,185}</string>
            </dict>
            <key>zhidao_xishou_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{368,185}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{368,185}}</string>
                <key>sourceSize</key>
                <string>{400,185}</string>
            </dict>
            <key>zhidao_xishou_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,364},{332,177}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,8},{332,177}}</string>
                <key>sourceSize</key>
                <string>{400,185}</string>
            </dict>
            <key>zhidao_xishou_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,750},{274,161}}</string>
                <key>offset</key>
                <string>{55,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,10},{274,161}}</string>
                <key>sourceSize</key>
                <string>{400,185}</string>
            </dict>
            <key>zhidao_xishou_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,189},{166,119}}</string>
                <key>offset</key>
                <string>{98,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,27},{166,119}}</string>
                <key>sourceSize</key>
                <string>{400,185}</string>
            </dict>
            <key>zhidao_xishou_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,913},{112,83}}</string>
                <key>offset</key>
                <string>{133,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,49},{112,83}}</string>
                <key>sourceSize</key>
                <string>{400,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_zhidao.png</string>
            <key>size</key>
            <string>{982,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:327e533f4bead274270111a7e57e253b:1/1$</string>
            <key>textureFileName</key>
            <string>skill_zhidao.png</string>
        </dict>
    </dict>
</plist>
