<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozha_lizi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,874},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{180,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_lizi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,874},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,58},{184,184}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_lizi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,220},{204,194}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,57},{204,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_lizi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{232,212}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,54},{232,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_lizi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,416},{242,228}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,43},{242,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_lizi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{254,236}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,37},{254,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_lizi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{262,240}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,35},{262,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_lizi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,236},{266,236}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,38},{266,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_lizi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,234}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,42},{274,234}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_lizi_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{274,232}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,45},{274,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>chongjibo_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,906},{138,130}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,61},{138,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chongjibo_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,898},{168,158}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,45},{168,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chongjibo_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,708},{206,188}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{206,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chongjibo_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{216,198}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,23},{216,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chongjibo_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,698},{224,206}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{224,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chongjibo_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,660},{232,212}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{232,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chongjibo_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{238,220}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{238,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chongjibo_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,474},{242,222}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{242,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>star_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,244},{242,234}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{242,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>star_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,480},{230,226}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{230,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_xingwu.png</string>
            <key>size</key>
            <string>{1024,1060}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c723aafdda8411a67adc5e5b56c52d33:1/1$</string>
            <key>textureFileName</key>
            <string>skill_xingwu.png</string>
        </dict>
    </dict>
</plist>
