<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_jieyin_jie_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,285}}</string>
                <key>sourceSize</key>
                <string>{210,285}</string>
            </dict>
            <key>skill_jieyin_jie_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{210,283}}</string>
                <key>sourceSize</key>
                <string>{210,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_jieyin_jinjie.png</string>
            <key>size</key>
            <string>{426,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb635d0fee52ef723ef802cec0d370e6:1/1$</string>
            <key>textureFileName</key>
            <string>skill_jieyin_jinjie.png</string>
        </dict>
    </dict>
</plist>
