<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_wushuang_jinjie01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{80,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,150}}</string>
                <key>sourceSize</key>
                <string>{80,150}</string>
            </dict>
            <key>skill_wushuang_jinjie02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,84},{40,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{40,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>skill_wushuang_jinjie03.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,176},{36,32}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{36,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>skill_wushuang_jinjie04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,226}}</string>
                <key>sourceSize</key>
                <string>{80,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_wushuang_jinjie.png</string>
            <key>size</key>
            <string>{230,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ffc0afab693beda6ab3266305ed3f36:1/1$</string>
            <key>textureFileName</key>
            <string>skill_wushuang_jinjie.png</string>
        </dict>
    </dict>
</plist>
