<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_shenfen_faguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,348},{352,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,344}}</string>
                <key>sourceSize</key>
                <string>{352,344}</string>
            </dict>
            <key>skill_shenfen_faguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{352,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,344}}</string>
                <key>sourceSize</key>
                <string>{352,344}</string>
            </dict>
            <key>skill_shenfen_faguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{352,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,344}}</string>
                <key>sourceSize</key>
                <string>{352,344}</string>
            </dict>
            <key>skill_shenfen_faguang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,344}}</string>
                <key>sourceSize</key>
                <string>{352,344}</string>
            </dict>
            <key>skill_shenfen_juguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,694},{216,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>skill_shenfen_juguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,337},{216,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>skill_shenfen_juguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,337},{216,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>skill_shenfen_juguang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,694},{216,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>skill_shenfen_wuqi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{196,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,333}}</string>
                <key>sourceSize</key>
                <string>{196,333}</string>
            </dict>
            <key>skill_shenfen_wuqi01_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,694},{290,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,230}}</string>
                <key>sourceSize</key>
                <string>{290,230}</string>
            </dict>
            <key>skill_shenfen_wuqi01_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{290,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,230}}</string>
                <key>sourceSize</key>
                <string>{290,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_shenfen01.png</string>
            <key>size</key>
            <string>{926,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56460805171525e9049376f952a73387:1/1$</string>
            <key>textureFileName</key>
            <string>skill_shenfen01.png</string>
        </dict>
    </dict>
</plist>
