<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>white_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,646},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>yingbing_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1720},{134,114}}</string>
                <key>offset</key>
                <string>{26,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,0},{134,114}}</string>
                <key>sourceSize</key>
                <string>{256,380}</string>
            </dict>
            <key>yingbing_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1520},{122,328}}</string>
                <key>offset</key>
                <string>{15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{122,328}}</string>
                <key>sourceSize</key>
                <string>{256,380}</string>
            </dict>
            <key>yingbing_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{256,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,380}}</string>
                <key>sourceSize</key>
                <string>{256,380}</string>
            </dict>
            <key>yingbing_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1150},{248,368}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{248,368}}</string>
                <key>sourceSize</key>
                <string>{256,380}</string>
            </dict>
            <key>yingbing_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{256,374}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,374}}</string>
                <key>sourceSize</key>
                <string>{256,380}</string>
            </dict>
            <key>yingbing_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{240,364}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{240,364}}</string>
                <key>sourceSize</key>
                <string>{256,380}</string>
            </dict>
            <key>yingbing_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,380}}</string>
                <key>sourceSize</key>
                <string>{256,380}</string>
            </dict>
            <key>yingbing_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{252,372}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{252,372}}</string>
                <key>sourceSize</key>
                <string>{256,380}</string>
            </dict>
            <key>yingbing_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{224,330}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{224,330}}</string>
                <key>sourceSize</key>
                <string>{256,380}</string>
            </dict>
            <key>yingbing_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,334},{220,310}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{220,310}}</string>
                <key>sourceSize</key>
                <string>{256,380}</string>
            </dict>
            <key>yingbing_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,646},{182,284}}</string>
                <key>offset</key>
                <string>{-19,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{182,284}}</string>
                <key>sourceSize</key>
                <string>{256,380}</string>
            </dict>
            <key>yingbing_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,932},{212,216}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,118},{212,216}}</string>
                <key>sourceSize</key>
                <string>{256,380}</string>
            </dict>
            <key>yingbing_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1520},{198,78}}</string>
                <key>offset</key>
                <string>{-2,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,244},{198,78}}</string>
                <key>sourceSize</key>
                <string>{256,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_yingbing_v3.png</string>
            <key>size</key>
            <string>{507,1882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a9726d909dc207ccb1329e299ecbbc1:1/1$</string>
            <key>textureFileName</key>
            <string>skill_yingbing_v3.png</string>
        </dict>
    </dict>
</plist>
