<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_shenfen_pengfa01.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,454},{183,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,210}}</string>
                <key>sourceSize</key>
                <string>{183,210}</string>
            </dict>
            <key>skill_shenfen_pengfa02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,454},{183,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,210}}</string>
                <key>sourceSize</key>
                <string>{183,210}</string>
            </dict>
            <key>skill_shenfen_pengfa03.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,242},{183,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,210}}</string>
                <key>sourceSize</key>
                <string>{183,210}</string>
            </dict>
            <key>skill_shenfen_pengfa04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,242},{183,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,210}}</string>
                <key>sourceSize</key>
                <string>{183,210}</string>
            </dict>
            <key>skill_shenfen_pengfa05.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,454},{183,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,210}}</string>
                <key>sourceSize</key>
                <string>{183,210}</string>
            </dict>
            <key>skill_shenfen_pengfa06.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,242},{183,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,210}}</string>
                <key>sourceSize</key>
                <string>{183,210}</string>
            </dict>
            <key>skill_shenfen_pengfa07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{183,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,210}}</string>
                <key>sourceSize</key>
                <string>{183,210}</string>
            </dict>
            <key>skill_shenfen_pengfa08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{183,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,210}}</string>
                <key>sourceSize</key>
                <string>{183,210}</string>
            </dict>
            <key>skill_shenfen_wuqi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{566,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,238}}</string>
                <key>sourceSize</key>
                <string>{566,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_shenfen02.png</string>
            <key>size</key>
            <string>{742,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5f468530ec27ccc86a4338a25708abb:1/1$</string>
            <key>textureFileName</key>
            <string>skill_shenfen02.png</string>
        </dict>
    </dict>
</plist>
