<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_renjia_chongjibo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,463}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{171,463}}</string>
                <key>sourceSize</key>
                <string>{209,463}</string>
            </dict>
            <key>skill_renjia_hujia01.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,600},{160,160}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,130},{160,160}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>skill_renjia_hujia02.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{172,174}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,123},{172,174}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>skill_renjia_hujia03.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,204},{198,200}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,110},{198,200}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>skill_renjia_hujia04.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,426},{208,210}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,105},{208,210}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>skill_renjia_hujia05.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{210,210}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,105},{210,210}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>skill_renjia_hujia06.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,214},{208,210}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,105},{208,210}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>skill_renjia_hujia07.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,214},{206,206}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,108},{206,206}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>skill_renjia_hujia08.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{200,200}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,110},{200,200}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>skill_renjia_hujia09.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,404},{194,194}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,114},{194,194}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>skill_renjia_hujia10.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,600},{172,174}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,123},{172,174}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>skill_renjia_hujia11.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,638},{140,136}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,126},{140,136}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>skill_renjia_shexian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{314,246}}</string>
                <key>offset</key>
                <string>{-143,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,195},{314,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_renjia01.png</string>
            <key>size</key>
            <string>{796,796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0734b1377169990093cb32409c5db0fe:1/1$</string>
            <key>textureFileName</key>
            <string>skill_renjia01.png</string>
        </dict>
    </dict>
</plist>
