<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_jianying_feng_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,334},{152,120}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,60},{152,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_jianying_feng_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{152,126}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{152,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_jianying_feng_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,326},{154,122}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,61},{154,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_jianying_feng_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,174},{164,150}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{164,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_jianying_feng_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,162}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{172,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_jianying_feng_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{164,170}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{164,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_jianying_feng_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,174},{156,158}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{156,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_jianying_feng_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{164,158}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,23},{164,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_jianying_feng_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{148,148}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{148,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_jianying.png</string>
            <key>size</key>
            <string>{492,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16bcb812260f89206e7f7124f3b86b93:1/1$</string>
            <key>textureFileName</key>
            <string>skill_jianying.png</string>
        </dict>
    </dict>
</plist>
