<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bai_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{98,104}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{98,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>cong_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{112,92}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{112,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guang_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,72},{33,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{33,216}}</string>
                <key>sourceSize</key>
                <string>{35,220}</string>
            </dict>
            <key>ma_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,118}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{106,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>saoguang_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,52},{46,56}}</string>
                <key>offset</key>
                <string>{2,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,8},{46,56}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>saoguang_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{48,122}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,14},{48,122}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>saoguang_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{68,136}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,79},{68,136}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>saoguang_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{68,94}}</string>
                <key>offset</key>
                <string>{-2,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,154},{68,94}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>saoguang_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,72},{34,28}}</string>
                <key>offset</key>
                <string>{-17,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,219},{34,28}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>yi_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{116,102}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{116,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_yicong_v5.png</string>
            <key>size</key>
            <string>{820,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dd983fe87651f682a7f49c44d41b7c9:1/1$</string>
            <key>textureFileName</key>
            <string>skill_yicong_v5.png</string>
        </dict>
    </dict>
</plist>
