<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_yingzi_huaban_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,392},{118,112}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,69},{118,112}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>skill_yingzi_huaban_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,212},{178,180}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,43},{178,180}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>skill_yingzi_huaban_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{220,208}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{220,208}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>skill_yingzi_huaban_light04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{226,232}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{226,232}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>skill_yingzi_huaban_light05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,248}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_yingzi02.png</string>
            <key>size</key>
            <string>{506,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:627d8024bddd7cc65d5a444c4986d73b:1/1$</string>
            <key>textureFileName</key>
            <string>skill_yingzi02.png</string>
        </dict>
    </dict>
</plist>
