<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_xinsheng_baofa01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{290,266}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{290,266}}</string>
                <key>sourceSize</key>
                <string>{300,270}</string>
            </dict>
            <key>skill_xinsheng_baofa02.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{280,266}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{280,266}}</string>
                <key>sourceSize</key>
                <string>{300,270}</string>
            </dict>
            <key>skill_xinsheng_baofa03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,266}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{296,266}}</string>
                <key>sourceSize</key>
                <string>{300,270}</string>
            </dict>
            <key>skill_xinsheng_baofa04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,270},{252,250}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{252,250}}</string>
                <key>sourceSize</key>
                <string>{300,270}</string>
            </dict>
            <key>skill_xinsheng_baofa05.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,522},{194,212}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{194,212}}</string>
                <key>sourceSize</key>
                <string>{300,270}</string>
            </dict>
            <key>skill_xinsheng_yanwu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,738},{218,206}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,37},{218,206}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>skill_xinsheng_yanwu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,512},{224,206}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,37},{224,206}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>skill_xinsheng_yanwu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,270},{240,206}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,37},{240,206}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>skill_xinsheng_yanwu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,738},{220,206}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,37},{220,206}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>skill_xinsheng_zuoci01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,549},{250,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,277}}</string>
                <key>sourceSize</key>
                <string>{250,277}</string>
            </dict>
            <key>skill_xinsheng_zuoci02.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,270},{250,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,277}}</string>
                <key>sourceSize</key>
                <string>{250,277}</string>
            </dict>
            <key>skill_xinsheng_zuoci03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{250,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,277}}</string>
                <key>sourceSize</key>
                <string>{250,277}</string>
            </dict>
            <key>skill_xinsheng_zuoci04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{250,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,277}}</string>
                <key>sourceSize</key>
                <string>{250,277}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_xinsheng01.png</string>
            <key>size</key>
            <string>{968,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ca616e4e756a4ebcc455bb508632882:1/1$</string>
            <key>textureFileName</key>
            <string>skill_xinsheng01.png</string>
        </dict>
    </dict>
</plist>
