<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_duanliang_daji.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,766},{234,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,126}}</string>
                <key>sourceSize</key>
                <string>{234,126}</string>
            </dict>
            <key>skill_duanliang_guang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{286,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,238}}</string>
                <key>sourceSize</key>
                <string>{286,238}</string>
            </dict>
            <key>skill_duanliang_guang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{286,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,236}}</string>
                <key>sourceSize</key>
                <string>{286,236}</string>
            </dict>
            <key>skill_duanliang_guang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,238}}</string>
                <key>sourceSize</key>
                <string>{286,238}</string>
            </dict>
            <key>skill_duanliang_guang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,240},{286,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,236}}</string>
                <key>sourceSize</key>
                <string>{286,236}</string>
            </dict>
            <key>skill_duanliang_guang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{286,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,236}}</string>
                <key>sourceSize</key>
                <string>{286,236}</string>
            </dict>
            <key>skill_duanliang_taozi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,422},{128,114}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{128,114}}</string>
                <key>sourceSize</key>
                <string>{164,178}</string>
            </dict>
            <key>skill_duanliang_taozi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,658},{164,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,178}}</string>
                <key>sourceSize</key>
                <string>{164,178}</string>
            </dict>
            <key>skill_duanliang_taozi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,478},{164,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,178}}</string>
                <key>sourceSize</key>
                <string>{164,178}</string>
            </dict>
            <key>skill_duanliang_taozi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,718},{164,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,178}}</string>
                <key>sourceSize</key>
                <string>{164,178}</string>
            </dict>
            <key>skill_duanliang_taozi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,588},{164,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,178}}</string>
                <key>sourceSize</key>
                <string>{164,178}</string>
            </dict>
            <key>skill_duanliang_taozi06.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,538},{164,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,178}}</string>
                <key>sourceSize</key>
                <string>{164,178}</string>
            </dict>
            <key>skill_duanliang_taozi07.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,242},{164,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,178}}</string>
                <key>sourceSize</key>
                <string>{164,178}</string>
            </dict>
            <key>skill_duanliang_taozi08.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,422},{164,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,178}}</string>
                <key>sourceSize</key>
                <string>{164,178}</string>
            </dict>
            <key>skill_duanliang_taozi09.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,242},{164,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,178}}</string>
                <key>sourceSize</key>
                <string>{164,178}</string>
            </dict>
            <key>skill_duanliang_taozi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{164,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,178}}</string>
                <key>sourceSize</key>
                <string>{164,178}</string>
            </dict>
            <key>skill_duanliang_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{225,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,132}}</string>
                <key>sourceSize</key>
                <string>{225,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_duanliang.png</string>
            <key>size</key>
            <string>{900,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:763208f63e023d8e85ae039cf1390bfe:1/1$</string>
            <key>textureFileName</key>
            <string>skill_duanliang.png</string>
        </dict>
    </dict>
</plist>
