<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoyan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1212},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huoyan_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,970},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huoyan_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,728},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huoyan_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,728},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huoyan_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huoyan_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huoyan_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,486},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huoyan_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,486},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huoyan_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huoyan_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,244},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huoyan_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,244},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huoyan_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huoyan_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huoyan_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huoyan_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huoyan_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>qizi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,970},{268,286}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{268,286}}</string>
                <key>sourceSize</key>
                <string>{270,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_hujia_v4.png</string>
            <key>size</key>
            <string>{968,1454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ef11a0cacc0befa2424d8e55b03ab09:1/1$</string>
            <key>textureFileName</key>
            <string>skill_hujia_v4.png</string>
        </dict>
    </dict>
</plist>
