<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heise.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,410},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>skill_tianzhao_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,344},{266,132}}</string>
                <key>offset</key>
                <string>{11,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,268},{266,132}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>skill_tianzhao_01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,344},{260,132}}</string>
                <key>offset</key>
                <string>{9,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,268},{260,132}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>skill_tianzhao_01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2},{254,130}}</string>
                <key>offset</key>
                <string>{9,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,270},{254,130}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>skill_tianzhao_01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,278},{254,130}}</string>
                <key>offset</key>
                <string>{13,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,270},{254,130}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>skill_tianzhao_01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,348},{256,162}}</string>
                <key>offset</key>
                <string>{13,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,238},{256,162}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>skill_tianzhao_01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,312},{258,198}}</string>
                <key>offset</key>
                <string>{10,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,202},{258,198}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>skill_tianzhao_01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,274},{260,236}}</string>
                <key>offset</key>
                <string>{6,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,164},{260,236}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>skill_tianzhao_01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{270,270}}</string>
                <key>offset</key>
                <string>{-2,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,130},{270,270}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>skill_tianzhao_01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2},{274,308}}</string>
                <key>offset</key>
                <string>{-6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,92},{274,308}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>skill_tianzhao_01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{280,344}}</string>
                <key>offset</key>
                <string>{-8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,56},{280,344}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>skill_tianzhao_01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,382}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{282,382}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>skill_tianzhao_eye_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{334,104}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,43},{334,104}}</string>
                <key>sourceSize</key>
                <string>{400,172}</string>
            </dict>
            <key>skill_tianzhao_eye_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{340,116}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,31},{340,116}}</string>
                <key>sourceSize</key>
                <string>{400,172}</string>
            </dict>
            <key>skill_tianzhao_eye_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{340,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{340,124}}</string>
                <key>sourceSize</key>
                <string>{400,172}</string>
            </dict>
            <key>skill_tianzhao_eye_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{340,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{340,126}}</string>
                <key>sourceSize</key>
                <string>{400,172}</string>
            </dict>
            <key>skill_tianzhao_eye_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{340,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{340,126}}</string>
                <key>sourceSize</key>
                <string>{400,172}</string>
            </dict>
            <key>skill_tianzhao_shetou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{200,274}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,19},{200,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_tianzhao.png</string>
            <key>size</key>
            <string>{1930,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfe7797b5f18aa22690d780bd5ce4a4c:1/1$</string>
            <key>textureFileName</key>
            <string>skill_tianzhao.png</string>
        </dict>
    </dict>
</plist>
