<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tianxiang_3_fang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,572},{263,270}}</string>
                <key>offset</key>
                <string>{-27,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,77},{263,270}}</string>
                <key>sourceSize</key>
                <string>{335,360}</string>
            </dict>
            <key>tianxiang_3_fang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,860},{311,284}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,64},{311,284}}</string>
                <key>sourceSize</key>
                <string>{335,360}</string>
            </dict>
            <key>tianxiang_3_fang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{331,292}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{331,292}}</string>
                <key>sourceSize</key>
                <string>{335,360}</string>
            </dict>
            <key>tianxiang_3_fang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,296},{301,274}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,78},{301,274}}</string>
                <key>sourceSize</key>
                <string>{335,360}</string>
            </dict>
            <key>tianxiang_3_fang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,844},{301,254}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,87},{301,254}}</string>
                <key>sourceSize</key>
                <string>{335,360}</string>
            </dict>
            <key>tianxiang_3_fang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,860},{285,242}}</string>
                <key>offset</key>
                <string>{-12,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,95},{285,242}}</string>
                <key>sourceSize</key>
                <string>{335,360}</string>
            </dict>
            <key>tianxiang_3_fang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,998},{95,108}}</string>
                <key>offset</key>
                <string>{25,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,148},{95,108}}</string>
                <key>sourceSize</key>
                <string>{335,360}</string>
            </dict>
            <key>tianxiang_3_fang08.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,592},{141,180}}</string>
                <key>offset</key>
                <string>{64,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,114},{141,180}}</string>
                <key>sourceSize</key>
                <string>{335,360}</string>
            </dict>
            <key>tianxiang_3_fang09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{127,210}}</string>
                <key>offset</key>
                <string>{91,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,63},{127,210}}</string>
                <key>sourceSize</key>
                <string>{335,360}</string>
            </dict>
            <key>tianxiang_3_fang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,296},{169,116}}</string>
                <key>offset</key>
                <string>{55,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,11},{169,116}}</string>
                <key>sourceSize</key>
                <string>{335,360}</string>
            </dict>
            <key>tianxiang_3_gong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{332,324}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{332,324}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>tianxiang_3_gong02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{356,324}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{356,324}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>tianxiang_3_gong03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{356,326}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{356,326}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>tianxiang_3_gong04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,340}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{358,340}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>tianxiang_3_gong05.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,328},{262,348}}</string>
                <key>offset</key>
                <string>{-53,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{262,348}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>tianxiang_3_gong06.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,592},{266,334}}</string>
                <key>offset</key>
                <string>{-42,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{266,334}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tianxiang_jinjie.png</string>
            <key>size</key>
            <string>{1158,1158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9b1800930108d7bee03d4768af37e54:1/1$</string>
            <key>textureFileName</key>
            <string>tianxiang_jinjie.png</string>
        </dict>
    </dict>
</plist>
