<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tianyi_wuqi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>tianyi_wuqi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,187}}</string>
                <key>sourceSize</key>
                <string>{220,187}</string>
            </dict>
            <key>tianyi_wuqi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tianyi.png</string>
            <key>size</key>
            <string>{446,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6ef30ba96bdfb79b3123ea9b3b6c86b:1/1$</string>
            <key>textureFileName</key>
            <string>tianyi.png</string>
        </dict>
    </dict>
</plist>
