<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xianzhen_baohuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{402,116}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{402,116}}</string>
                <key>sourceSize</key>
                <string>{420,130}</string>
            </dict>
            <key>xianzhen_daji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{400,360}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{400,360}}</string>
                <key>sourceSize</key>
                <string>{514,404}</string>
            </dict>
            <key>xianzhen_daji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,398}}</string>
                <key>offset</key>
                <string>{-27,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{448,398}}</string>
                <key>sourceSize</key>
                <string>{514,404}</string>
            </dict>
            <key>xianzhen_daji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{390,384}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{390,384}}</string>
                <key>sourceSize</key>
                <string>{514,404}</string>
            </dict>
            <key>xianzhen_daoguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,364},{344,306}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{344,306}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>xianzhen_daoguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{318,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{318,42}}</string>
                <key>sourceSize</key>
                <string>{330,50}</string>
            </dict>
            <key>xianzhen_dun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,710},{150,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,198}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>xianzhen_dun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,760},{136,228}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{136,228}}</string>
                <key>sourceSize</key>
                <string>{150,230}</string>
            </dict>
            <key>xianzhen_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,402},{356,234}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{356,234}}</string>
                <key>sourceSize</key>
                <string>{360,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xianzhen.png</string>
            <key>size</key>
            <string>{938,938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8840536adbdc06120f172ce31ad14b45:1/1$</string>
            <key>textureFileName</key>
            <string>xianzhen.png</string>
        </dict>
    </dict>
</plist>
