<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_xuechi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1152},{246,230}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{246,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1384},{250,240}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1372},{246,248}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{246,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{246,194}}</string>
                <key>offset</key>
                <string>{-5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{246,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,738},{246,202}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{246,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,174},{238,184}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,72},{238,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{242,188}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,64},{242,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{246,198}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,56},{246,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{248,206}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,48},{248,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,164}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,87},{248,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{244,170}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,81},{244,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{250,174}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,77},{250,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,360},{252,180}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,73},{252,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,542},{248,194}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{248,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,942},{248,208}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,48},{248,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{248,220}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{248,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuechi.png</string>
            <key>size</key>
            <string>{504,1630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10d333fdd22955464122bcbdbf857646:1/1$</string>
            <key>textureFileName</key>
            <string>xuechi.png</string>
        </dict>
    </dict>
</plist>
