<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xueji_daji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,744},{294,270}}</string>
                <key>offset</key>
                <string>{-11,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,130},{294,270}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>xueji_daji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{400,332}}</string>
                <key>offset</key>
                <string>{-16,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,68},{400,332}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>xueji_daji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,376},{462,366}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{462,366}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>xueji_daji04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,376}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{482,376}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>xueji_daji05.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{478,372}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{478,372}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>xueji_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{306,314}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{306,314}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xueji.png</string>
            <key>size</key>
            <string>{1022,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad97f4abf85065e4ef26a24be8f28f94:1/1$</string>
            <key>textureFileName</key>
            <string>xueji.png</string>
        </dict>
    </dict>
</plist>
