<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>YangchengScene01_baoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,819},{202,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{202,253}}</string>
                <key>sourceSize</key>
                <string>{206,253}</string>
            </dict>
            <key>YangchengScene01_baoshisuodin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{212,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,253}}</string>
                <key>sourceSize</key>
                <string>{212,253}</string>
            </dict>
            <key>YangchengScene01_beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,331},{352,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,245}}</string>
                <key>sourceSize</key>
                <string>{352,245}</string>
            </dict>
            <key>YangchengScene01_goddess.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,394},{371,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,236}}</string>
                <key>sourceSize</key>
                <string>{371,236}</string>
            </dict>
            <key>YangchengScene01_goddesssuodin.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,319},{381,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,236}}</string>
                <key>sourceSize</key>
                <string>{381,236}</string>
            </dict>
            <key>YangchengScene01_jiemian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,2},{260,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,82}}</string>
                <key>sourceSize</key>
                <string>{260,82}</string>
            </dict>
            <key>YangchengScene01_jiemianneibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,264},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>YangchengScene01_jineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,578},{239,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,278}}</string>
                <key>sourceSize</key>
                <string>{239,278}</string>
            </dict>
            <key>YangchengScene01_jingmai.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1002},{202,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,238}}</string>
                <key>sourceSize</key>
                <string>{202,238}</string>
            </dict>
            <key>YangchengScene01_jingmai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,919},{210,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,238}}</string>
                <key>sourceSize</key>
                <string>{210,238}</string>
            </dict>
            <key>YangchengScene01_lianhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1002},{202,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{202,237}}</string>
                <key>sourceSize</key>
                <string>{214,237}</string>
            </dict>
            <key>YangchengScene01_lianhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{214,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,237}}</string>
                <key>sourceSize</key>
                <string>{214,237}</string>
            </dict>
            <key>YangchengScene01_lianmai.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{353,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,315}}</string>
                <key>sourceSize</key>
                <string>{353,315}</string>
            </dict>
            <key>YangchengScene01_lianmai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{366,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,315}}</string>
                <key>sourceSize</key>
                <string>{366,315}</string>
            </dict>
            <key>YangchengScene01_shenbing.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,702},{215,265}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{215,265}}</string>
                <key>sourceSize</key>
                <string>{245,293}</string>
            </dict>
            <key>YangchengScene01_wujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{363,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,327}}</string>
                <key>sourceSize</key>
                <string>{363,327}</string>
            </dict>
            <key>YangchengScene01_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1023},{201,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,237}}</string>
                <key>sourceSize</key>
                <string>{201,237}</string>
            </dict>
            <key>YangchengScene01_zhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,767},{233,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,237}}</string>
                <key>sourceSize</key>
                <string>{233,237}</string>
            </dict>
            <key>YangchengScene01_zudui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{371,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,323}}</string>
                <key>sourceSize</key>
                <string>{371,323}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YangchengScene01.png</string>
            <key>size</key>
            <string>{1226,1226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31bf3b6916af46f3c404aa1a55901874:1/1$</string>
            <key>textureFileName</key>
            <string>YangchengScene01.png</string>
        </dict>
    </dict>
</plist>
