<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yiji_hudie01.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,800},{132,92}}</string>
                <key>offset</key>
                <string>{15,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,190},{132,92}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>yiji_hudie02.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,664},{126,116}}</string>
                <key>offset</key>
                <string>{-6,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,169},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>yiji_hudie03.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,672},{144,130}}</string>
                <key>offset</key>
                <string>{-10,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,153},{144,130}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>yiji_hudie04.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,642},{168,156}}</string>
                <key>offset</key>
                <string>{-16,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,129},{168,156}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>yiji_hudie05.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,818},{180,176}}</string>
                <key>offset</key>
                <string>{-9,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,110},{180,176}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>yiji_hudie06.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,438},{202,202}}</string>
                <key>offset</key>
                <string>{-13,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,84},{202,202}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>yiji_hudie07.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,214},{222,222}}</string>
                <key>offset</key>
                <string>{-14,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,64},{222,222}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>yiji_hudie08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{224,244}}</string>
                <key>offset</key>
                <string>{-18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{224,244}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>yiji_hudie09.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,252},{204,254}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,19},{204,254}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>yiji_hudie10.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{210,258}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{210,258}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>yiji_hudie11.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,214},{220,222}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{220,222}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>yiji_hudie12.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,458},{204,190}}</string>
                <key>offset</key>
                <string>{19,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,28},{204,190}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>yiji_hudie13.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{196,174}}</string>
                <key>offset</key>
                <string>{29,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,26},{196,174}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>yiji_hudie14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{178,168}}</string>
                <key>offset</key>
                <string>{26,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,14},{178,168}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>yiji_hudie15.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,828},{172,168}}</string>
                <key>offset</key>
                <string>{18,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,5},{172,168}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>yiji_hudie_juhe01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>yiji_hudie_juhe02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{282,276}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{282,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>yiji_hudie_juhe03.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{254,248}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,37},{254,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>yiji_hudie_juhe04.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,458},{222,212}}</string>
                <key>offset</key>
                <string>{-15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,57},{222,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>yiji_hudie_juhe05.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,782},{198,164}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,76},{198,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>yiji_hudie_juhe06.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,672},{168,140}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{168,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>yiji_qiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,438},{82,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yiji.png</string>
            <key>size</key>
            <string>{998,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06a30f1fda11347f71a16a8bf5856d70:1/1$</string>
            <key>textureFileName</key>
            <string>yiji.png</string>
        </dict>
    </dict>
</plist>
