<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZhanDouJieSuanScene01_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,265},{119,98}}</string>
                <key>offset</key>
                <string>{-101,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{119,98}}</string>
                <key>sourceSize</key>
                <string>{345,150}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_light012.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,376},{287,140}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{287,140}}</string>
                <key>sourceSize</key>
                <string>{339,140}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,252},{195,122}}</string>
                <key>offset</key>
                <string>{-73,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{195,122}}</string>
                <key>sourceSize</key>
                <string>{345,150}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,377},{289,146}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{289,146}}</string>
                <key>sourceSize</key>
                <string>{345,150}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_light04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{323,150}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,150}}</string>
                <key>sourceSize</key>
                <string>{345,150}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_light05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,68},{307,150}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{307,150}}</string>
                <key>sourceSize</key>
                <string>{345,150}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_light06.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,68},{267,122}}</string>
                <key>offset</key>
                <string>{39,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{267,122}}</string>
                <key>sourceSize</key>
                <string>{345,150}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_light07.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,668},{255,110}}</string>
                <key>offset</key>
                <string>{45,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,14},{255,110}}</string>
                <key>sourceSize</key>
                <string>{345,150}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_light08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,68},{195,122}}</string>
                <key>offset</key>
                <string>{75,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,6},{195,122}}</string>
                <key>sourceSize</key>
                <string>{345,150}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_light09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{323,138}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{323,138}}</string>
                <key>sourceSize</key>
                <string>{339,140}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_light10.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,463},{285,138}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{285,138}}</string>
                <key>sourceSize</key>
                <string>{339,140}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_light11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,393},{313,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{313,140}}</string>
                <key>sourceSize</key>
                <string>{339,140}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_shibaiwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{779,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{779,64}}</string>
                <key>sourceSize</key>
                <string>{783,70}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_stars01.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,718},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_stars02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_wenzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,68},{208,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{230,90}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_wenzi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,160},{200,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{200,90}}</string>
                <key>sourceSize</key>
                <string>{230,90}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_wenzi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,376},{195,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{195,85}}</string>
                <key>sourceSize</key>
                <string>{215,85}</string>
            </dict>
            <key>ZhanDouJieSuanScene01_wenzi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,708},{160,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,69}}</string>
                <key>sourceSize</key>
                <string>{160,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhanDouJieSuanScene01.png</string>
            <key>size</key>
            <string>{783,783}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:069d506aa0d3eed3f54bf36925f2efe3:1/1$</string>
            <key>textureFileName</key>
            <string>ZhanDouJieSuanScene01.png</string>
        </dict>
    </dict>
</plist>
