<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhoufu_bagua.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{256,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{256,96}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>zhoufu_bingdong.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1822},{135,135}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>zhoufu_feisan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1640},{230,218}}</string>
                <key>offset</key>
                <string>{-44,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,62},{230,218}}</string>
                <key>sourceSize</key>
                <string>{466,286}</string>
            </dict>
            <key>zhoufu_feisan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{438,242}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{438,242}}</string>
                <key>sourceSize</key>
                <string>{466,286}</string>
            </dict>
            <key>zhoufu_feisan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,258}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{446,258}}</string>
                <key>sourceSize</key>
                <string>{466,286}</string>
            </dict>
            <key>zhoufu_feisan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{416,240}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{416,240}}</string>
                <key>sourceSize</key>
                <string>{466,286}</string>
            </dict>
            <key>zhoufu_feisan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{330,228}}</string>
                <key>offset</key>
                <string>{-31,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,23},{330,228}}</string>
                <key>sourceSize</key>
                <string>{466,286}</string>
            </dict>
            <key>zhoufu_fuwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1872},{104,218}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{104,218}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>zhoufu_fuxian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,350},{63,62}}</string>
                <key>offset</key>
                <string>{-55,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,176},{63,62}}</string>
                <key>sourceSize</key>
                <string>{195,250}</string>
            </dict>
            <key>zhoufu_fuxian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1655},{165,116}}</string>
                <key>offset</key>
                <string>{-3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,123},{165,116}}</string>
                <key>sourceSize</key>
                <string>{195,250}</string>
            </dict>
            <key>zhoufu_fuxian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1308},{127,174}}</string>
                <key>offset</key>
                <string>{25,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,55},{127,174}}</string>
                <key>sourceSize</key>
                <string>{195,250}</string>
            </dict>
            <key>zhoufu_fuxian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1484},{169,118}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,40},{169,118}}</string>
                <key>sourceSize</key>
                <string>{195,250}</string>
            </dict>
            <key>zhoufu_fuxian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,260},{93,88}}</string>
                <key>offset</key>
                <string>{-3,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,10},{93,88}}</string>
                <key>sourceSize</key>
                <string>{195,250}</string>
            </dict>
            <key>zhoufu_fuxian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,450},{103,106}}</string>
                <key>offset</key>
                <string>{-15,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{103,106}}</string>
                <key>sourceSize</key>
                <string>{195,250}</string>
            </dict>
            <key>zhoufu_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,890},{366,115}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{366,115}}</string>
                <key>sourceSize</key>
                <string>{378,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhoufu.png</string>
            <key>size</key>
            <string>{361,1978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:144cb826e918714186b710a420b5b9a6:1/1$</string>
            <key>textureFileName</key>
            <string>zhoufu.png</string>
        </dict>
    </dict>
</plist>
