<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guangyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>lizi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,100},{86,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{86,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>lizi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{78,92}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{78,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>lizi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{66,70}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{66,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>lizi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,182},{78,72}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{78,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>lizi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{78,76}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{78,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>lizi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,74},{62,60}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,24},{62,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>lizi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{88,70}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{88,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>lizi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,182},{72,74}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{72,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Baox_Jx_bj.png</string>
            <key>size</key>
            <string>{252,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb5987bd51faf136ed42af3638ca76e8:1/1$</string>
            <key>textureFileName</key>
            <string>Baox_Jx_bj.png</string>
        </dict>
    </dict>
</plist>
