<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_down01.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,278},{176,272}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{176,272}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>buff_down02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,294}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{174,294}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>buff_down03.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{178,266}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{178,266}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>buff_down04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{174,274}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{174,274}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>buff_down05.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,552},{176,196}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,75},{176,196}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>buff_down06.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,192},{176,174}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,124},{176,174}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>buff_down07.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,368},{152,116}}</string>
                <key>offset</key>
                <string>{0,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,173},{152,116}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>buff_down_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{190,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{190,188}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>buff_down_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,368},{150,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{150,170}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>buffup_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{243,282}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{243,282}}</string>
                <key>sourceSize</key>
                <string>{245,310}</string>
            </dict>
            <key>buffup_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,582},{116,230}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,230}}</string>
                <key>sourceSize</key>
                <string>{120,240}</string>
            </dict>
            <key>buffup_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{185,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,120}}</string>
                <key>sourceSize</key>
                <string>{185,120}</string>
            </dict>
            <key>buffup_light04.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,486},{228,70}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{228,70}}</string>
                <key>sourceSize</key>
                <string>{230,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_down.png</string>
            <key>size</key>
            <string>{731,731}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02328de82e12d0a03da9b8792d86beab:1/1$</string>
            <key>textureFileName</key>
            <string>buff_down.png</string>
        </dict>
    </dict>
</plist>
