<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Buff_Fengwu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,171},{21,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>Buff_Fengwu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,135},{27,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>Buff_Fengwu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,63},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>Buff_Fengwu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{29,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>Buff_Fengwu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,99},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>Buff_Fengwu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>Buff_Fengwu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{27,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>Buff_Fengwu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{27,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>Buff_Fengwu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{27,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>Buff_Fengwu_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Buff_FengWu.png</string>
            <key>size</key>
            <string>{62,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5106b0abec4915c93c6f1f91f595765b:1/1$</string>
            <key>textureFileName</key>
            <string>Buff_FengWu.png</string>
        </dict>
    </dict>
</plist>
