<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CaidanScene01_luntan.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,264},{252,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,268}}</string>
                <key>sourceSize</key>
                <string>{252,268}</string>
            </dict>
            <key>CaidanScene01_shejiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{395,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,334}}</string>
                <key>sourceSize</key>
                <string>{395,334}</string>
            </dict>
            <key>CaidanScene01_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{261,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,260}}</string>
                <key>sourceSize</key>
                <string>{261,260}</string>
            </dict>
            <key>CaidanScene01_tujianchengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{352,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,262}}</string>
                <key>sourceSize</key>
                <string>{352,262}</string>
            </dict>
            <key>CaidanScene01_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,518},{248,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,271}}</string>
                <key>sourceSize</key>
                <string>{248,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CaidanScene01.png</string>
            <key>size</key>
            <string>{768,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:538817a03b6c37bf4ef364c20df7fe87:1/1$</string>
            <key>textureFileName</key>
            <string>CaidanScene01.png</string>
        </dict>
    </dict>
</plist>
