<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,17},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{33,33}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>+10.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,52},{57,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,28}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,64},{42,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,28}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>hongkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{74,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,59}}</string>
                <key>sourceSize</key>
                <string>{74,59}</string>
            </dict>
            <key>max.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,111},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>shukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,60}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>－.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{39,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{39,13}}</string>
                <key>sourceSize</key>
                <string>{43,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Daojugoumaixitong.png</string>
            <key>size</key>
            <string>{143,143}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1df09228c7d60c4fb704710f4046d7b6:1/1$</string>
            <key>textureFileName</key>
            <string>Daojugoumaixitong.png</string>
        </dict>
    </dict>
</plist>
