<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DlgCmn_baoxiangtubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,522},{115,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,113}}</string>
                <key>sourceSize</key>
                <string>{115,113}</string>
            </dict>
            <key>DlgCmn_dicha.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,315},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>DlgCmn_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{324,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,316}}</string>
                <key>sourceSize</key>
                <string>{324,316}</string>
            </dict>
            <key>DlgCmn_ditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,2},{719,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,36}}</string>
                <key>sourceSize</key>
                <string>{719,36}</string>
            </dict>
            <key>DlgCmn_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,723},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>DlgCmn_gonggaoneikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,315},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>DlgCmn_gonggaotaitouren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{671,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,311}}</string>
                <key>sourceSize</key>
                <string>{671,311}</string>
            </dict>
            <key>DlgCmn_gonggaowenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,315},{205,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,90}}</string>
                <key>sourceSize</key>
                <string>{205,90}</string>
            </dict>
            <key>DlgCmn_hengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{726,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{726,60}}</string>
                <key>sourceSize</key>
                <string>{726,60}</string>
            </dict>
            <key>DlgCmn_huawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,728},{267,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,14}}</string>
                <key>sourceSize</key>
                <string>{267,14}</string>
            </dict>
            <key>DlgCmn_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,681},{45,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,131}}</string>
                <key>sourceSize</key>
                <string>{45,131}</string>
            </dict>
            <key>DlgCmn_jiantou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,681},{45,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,131}}</string>
                <key>sourceSize</key>
                <string>{45,131}</string>
            </dict>
            <key>DlgCmn_liaotiananniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,681},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
            <key>DlgCmn_liaotiananniu_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
            <key>DlgCmn_liaotianhengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{508,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,38}}</string>
                <key>sourceSize</key>
                <string>{508,38}</string>
            </dict>
            <key>DlgCmn_liaotianshijiedi.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,639},{104,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,55}}</string>
                <key>sourceSize</key>
                <string>{104,55}</string>
            </dict>
            <key>DlgCmn_suoyingditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,507},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>DlgCmn_toutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{726,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{726,86}}</string>
                <key>sourceSize</key>
                <string>{726,86}</string>
            </dict>
            <key>DlgCmn_xiaojiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,723},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DlgCmn.png</string>
            <key>size</key>
            <string>{807,807}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a45c446cd13738ff2e51a20599109ecc:1/1$</string>
            <key>textureFileName</key>
            <string>DlgCmn.png</string>
        </dict>
    </dict>
</plist>
