<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duiJiu_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,211},{159,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{159,34}}</string>
                <key>sourceSize</key>
                <string>{165,34}</string>
            </dict>
            <key>duiJiu_wenzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,175},{159,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{159,34}}</string>
                <key>sourceSize</key>
                <string>{165,34}</string>
            </dict>
            <key>duiJiu_wenzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,139},{159,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{159,34}}</string>
                <key>sourceSize</key>
                <string>{165,34}</string>
            </dict>
            <key>duijiu_button01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,75},{164,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,62}}</string>
                <key>sourceSize</key>
                <string>{164,62}</string>
            </dict>
            <key>duijiu_button02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{164,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,62}}</string>
                <key>sourceSize</key>
                <string>{164,62}</string>
            </dict>
            <key>duijiu_zhaomuyulan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,71}}</string>
                <key>sourceSize</key>
                <string>{199,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duijiu.png</string>
            <key>size</key>
            <string>{232,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cda439c35cafa8515d2646a0ad38f548:1/1$</string>
            <key>textureFileName</key>
            <string>duijiu.png</string>
        </dict>
    </dict>
</plist>
