<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DuiJiuScene_Zidimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1192},{206,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,41}}</string>
                <key>sourceSize</key>
                <string>{206,41}</string>
            </dict>
            <key>DuiJiuScene_anniujin.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,839},{249,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,98}}</string>
                <key>sourceSize</key>
                <string>{249,98}</string>
            </dict>
            <key>DuiJiuScene_anniushen.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,902},{249,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,98}}</string>
                <key>sourceSize</key>
                <string>{249,98}</string>
            </dict>
            <key>DuiJiuScene_anniuyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,588},{249,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,98}}</string>
                <key>sourceSize</key>
                <string>{249,98}</string>
            </dict>
            <key>DuiJiuScene_bagua.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{360,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,150}}</string>
                <key>sourceSize</key>
                <string>{360,150}</string>
            </dict>
            <key>DuiJiuScene_card_bei01.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,436},{208,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{208,286}}</string>
                <key>sourceSize</key>
                <string>{220,330}</string>
            </dict>
            <key>DuiJiuScene_card_bei02.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,264},{140,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{140,322}}</string>
                <key>sourceSize</key>
                <string>{220,330}</string>
            </dict>
            <key>DuiJiuScene_card_bei03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,934},{56,328}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,1},{56,328}}</string>
                <key>sourceSize</key>
                <string>{220,330}</string>
            </dict>
            <key>DuiJiuScene_daanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1182},{188,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,89}}</string>
                <key>sourceSize</key>
                <string>{188,89}</string>
            </dict>
            <key>DuiJiuScene_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{716,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,126}}</string>
                <key>sourceSize</key>
                <string>{716,126}</string>
            </dict>
            <key>DuiJiuScene_dizuoyinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1235},{93,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,41}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>DuiJiuScene_guang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,614},{286,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{286,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>DuiJiuScene_guang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1138},{13,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{13,180}}</string>
                <key>sourceSize</key>
                <string>{15,180}</string>
            </dict>
            <key>DuiJiuScene_guang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{346,348}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{346,348}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>DuiJiuScene_guang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1233},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>DuiJiuScene_guang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,678},{168,226}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{168,226}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>DuiJiuScene_guang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1233},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>DuiJiuScene_guang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1235},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>DuiJiuScene_guang08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,616},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>DuiJiuScene_hun_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1128},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,103}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>DuiJiuScene_jinjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1235},{99,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,50}}</string>
                <key>sourceSize</key>
                <string>{99,50}</string>
            </dict>
            <key>DuiJiuScene_ka1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,264},{244,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,318}}</string>
                <key>sourceSize</key>
                <string>{244,318}</string>
            </dict>
            <key>DuiJiuScene_ka2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{244,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,318}}</string>
                <key>sourceSize</key>
                <string>{244,318}</string>
            </dict>
            <key>DuiJiuScene_particle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1022},{196,84}}</string>
                <key>offset</key>
                <string>{21,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{196,84}}</string>
                <key>sourceSize</key>
                <string>{290,146}</string>
            </dict>
            <key>DuiJiuScene_particle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,160},{224,82}}</string>
                <key>offset</key>
                <string>{-29,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{224,82}}</string>
                <key>sourceSize</key>
                <string>{290,146}</string>
            </dict>
            <key>DuiJiuScene_particle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,994},{168,126}}</string>
                <key>offset</key>
                <string>{-61,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{168,126}}</string>
                <key>sourceSize</key>
                <string>{290,146}</string>
            </dict>
            <key>DuiJiuScene_particle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1164},{100,134}}</string>
                <key>offset</key>
                <string>{-83,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{100,134}}</string>
                <key>sourceSize</key>
                <string>{290,146}</string>
            </dict>
            <key>DuiJiuScene_particle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,848},{156,116}}</string>
                <key>offset</key>
                <string>{-51,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{156,116}}</string>
                <key>sourceSize</key>
                <string>{290,146}</string>
            </dict>
            <key>DuiJiuScene_particle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1108},{208,72}}</string>
                <key>offset</key>
                <string>{-16,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,74},{208,72}}</string>
                <key>sourceSize</key>
                <string>{290,146}</string>
            </dict>
            <key>DuiJiuScene_particle07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,386},{228,74}}</string>
                <key>offset</key>
                <string>{31,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,72},{228,74}}</string>
                <key>sourceSize</key>
                <string>{290,146}</string>
            </dict>
            <key>DuiJiuScene_particle08.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1153},{166,120}}</string>
                <key>offset</key>
                <string>{62,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,23},{166,120}}</string>
                <key>sourceSize</key>
                <string>{290,146}</string>
            </dict>
            <key>DuiJiuScene_particle09.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1153},{102,138}}</string>
                <key>offset</key>
                <string>{91,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{290,146}</string>
            </dict>
            <key>DuiJiuScene_particle10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1006},{154,120}}</string>
                <key>offset</key>
                <string>{58,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,0},{154,120}}</string>
                <key>sourceSize</key>
                <string>{290,146}</string>
            </dict>
            <key>DuiJiuScene_shenjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1128},{102,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,54}}</string>
                <key>sourceSize</key>
                <string>{102,54}</string>
            </dict>
            <key>DuiJiuScene_shichou_card01.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,848},{144,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{144,194}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
            <key>DuiJiuScene_shichou_card02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{156,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{156,200}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
            <key>DuiJiuScene_shichou_hunpo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{718,132}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{718,132}}</string>
                <key>sourceSize</key>
                <string>{730,140}</string>
            </dict>
            <key>DuiJiuScene_shichou_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,154},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>DuiJiuScene_shichou_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,160},{174,238}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{174,238}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>DuiJiuScene_shichou_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,832},{194,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,188}}</string>
                <key>sourceSize</key>
                <string>{194,190}</string>
            </dict>
            <key>DuiJiuScene_shichou_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1257},{78,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,23}}</string>
                <key>sourceSize</key>
                <string>{78,27}</string>
            </dict>
            <key>DuiJiuScene_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,584},{240,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{240,28}}</string>
                <key>sourceSize</key>
                <string>{240,30}</string>
            </dict>
            <key>DuiJiuScene_wenzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{165,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,34}}</string>
                <key>sourceSize</key>
                <string>{165,34}</string>
            </dict>
            <key>DuiJiuScene_wenzi_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1122},{68,168}}</string>
                <key>offset</key>
                <string>{-60,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,60},{68,168}}</string>
                <key>sourceSize</key>
                <string>{240,330}</string>
            </dict>
            <key>DuiJiuScene_wenzi_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,898},{142,238}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{142,238}}</string>
                <key>sourceSize</key>
                <string>{240,330}</string>
            </dict>
            <key>DuiJiuScene_wenzi_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,400},{186,276}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{186,276}}</string>
                <key>sourceSize</key>
                <string>{240,330}</string>
            </dict>
            <key>DuiJiuScene_wenzi_light04.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,614},{186,282}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{186,282}}</string>
                <key>sourceSize</key>
                <string>{240,330}</string>
            </dict>
            <key>DuiJiuScene_wenzi_light05.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,646},{184,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,24},{184,282}}</string>
                <key>sourceSize</key>
                <string>{240,330}</string>
            </dict>
            <key>DuiJiuScene_wenzi_light06.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,902},{128,260}}</string>
                <key>offset</key>
                <string>{28,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,46},{128,260}}</string>
                <key>sourceSize</key>
                <string>{240,330}</string>
            </dict>
            <key>DuiJiuScene_wenzishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{224,318}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{224,318}}</string>
                <key>sourceSize</key>
                <string>{240,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DuiJiuScene01.png</string>
            <key>size</key>
            <string>{1290,1290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:997a3224e7d1cf255ce26d4278067c19:1/1$</string>
            <key>textureFileName</key>
            <string>DuiJiuScene01.png</string>
        </dict>
    </dict>
</plist>
