<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fanjian_daji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{256,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,250}}</string>
                <key>sourceSize</key>
                <string>{256,250}</string>
            </dict>
            <key>fanjian_daji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,252}}</string>
                <key>sourceSize</key>
                <string>{274,252}</string>
            </dict>
            <key>fanjian_daji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,274},{246,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,252}}</string>
                <key>sourceSize</key>
                <string>{246,252}</string>
            </dict>
            <key>fanjian_daji04.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{220,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,224}}</string>
                <key>sourceSize</key>
                <string>{220,224}</string>
            </dict>
            <key>fanjian_huase01.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,228},{254,126}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{254,126}}</string>
                <key>sourceSize</key>
                <string>{270,126}</string>
            </dict>
            <key>fanjian_huase02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{270,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,126}}</string>
                <key>sourceSize</key>
                <string>{270,126}</string>
            </dict>
            <key>fanjian_huase03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{240,110}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{240,110}}</string>
                <key>sourceSize</key>
                <string>{270,126}</string>
            </dict>
            <key>fanjian_huase04.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,522},{212,102}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{212,102}}</string>
                <key>sourceSize</key>
                <string>{270,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fanjian.png</string>
            <key>size</key>
            <string>{636,636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cce7c36756fbdcc3fdbd09f8809e5fac:1/1$</string>
            <key>textureFileName</key>
            <string>fanjian.png</string>
        </dict>
    </dict>
</plist>
