<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fengwu_bagua01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{294,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{294,210}}</string>
                <key>sourceSize</key>
                <string>{300,210}</string>
            </dict>
            <key>fengwu_bagua02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{300,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,210}}</string>
                <key>sourceSize</key>
                <string>{300,210}</string>
            </dict>
            <key>fengwu_buff01.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{260,206}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{260,206}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
            <key>fengwu_buff02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,666},{260,226}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{260,226}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
            <key>fengwu_buff03.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,214},{260,226}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{260,226}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
            <key>fengwu_buff04.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,442},{260,222}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,222}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
            <key>fengwu_buff05.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,440},{256,116}}</string>
                <key>offset</key>
                <string>{2,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{256,116}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
            <key>fengwu_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,454},{250,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,210}}</string>
                <key>sourceSize</key>
                <string>{250,210}</string>
            </dict>
            <key>fengwu_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,848},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>fengwu_xuanzhuan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,666},{212,180}}</string>
                <key>offset</key>
                <string>{-42,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{212,180}}</string>
                <key>sourceSize</key>
                <string>{296,184}</string>
            </dict>
            <key>fengwu_xuanzhuan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{280,174}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,174}}</string>
                <key>sourceSize</key>
                <string>{296,184}</string>
            </dict>
            <key>fengwu_xuanzhuan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,666},{268,168}}</string>
                <key>offset</key>
                <string>{14,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{268,168}}</string>
                <key>sourceSize</key>
                <string>{296,184}</string>
            </dict>
            <key>fengwu_xuanzhuan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,264},{218,174}}</string>
                <key>offset</key>
                <string>{39,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{218,174}}</string>
                <key>sourceSize</key>
                <string>{296,184}</string>
            </dict>
            <key>fengwu_zhuge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{440,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,450}}</string>
                <key>sourceSize</key>
                <string>{440,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fengwu.png</string>
            <key>size</key>
            <string>{948,948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca59fb272b3bd7582e3bc01efcc1cd21:1/1$</string>
            <key>textureFileName</key>
            <string>fengwu.png</string>
        </dict>
    </dict>
</plist>
