<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dodge01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1335},{230,134}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{230,134}}</string>
                <key>sourceSize</key>
                <string>{246,140}</string>
            </dict>
            <key>dodge02.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1370},{122,124}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{122,124}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>skill_atkdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,538},{106,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{106,50}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>skill_atkdown_yuanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1505},{36,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{36,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>skill_atkup.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,708},{108,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{108,50}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>skill_atkup_yuanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1964},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{34,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>skill_biaoxue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1633},{170,226}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{170,226}}</string>
                <key>sourceSize</key>
                <string>{190,240}</string>
            </dict>
            <key>skill_biaoxue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1839},{174,226}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{174,226}}</string>
                <key>sourceSize</key>
                <string>{190,240}</string>
            </dict>
            <key>skill_biaoxue03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,827},{184,232}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,232}}</string>
                <key>sourceSize</key>
                <string>{190,240}</string>
            </dict>
            <key>skill_biaoxue04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,880},{176,236}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{176,236}}</string>
                <key>sourceSize</key>
                <string>{190,240}</string>
            </dict>
            <key>skill_biaoxue05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1567},{154,230}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{154,230}}</string>
                <key>sourceSize</key>
                <string>{190,240}</string>
            </dict>
            <key>skill_chengtu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,1806},{158,74}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{158,74}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>skill_chengtu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1799},{166,76}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{166,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>skill_chengtu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1633},{172,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{172,80}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>skill_chengtu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,242},{178,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{178,82}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>skill_chengtu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,681},{184,86}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{184,86}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>skill_chengtu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1282},{184,86}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{184,86}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>skill_daji01_ettect01.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1335},{210,282}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,24},{210,282}}</string>
                <key>sourceSize</key>
                <string>{280,330}</string>
            </dict>
            <key>skill_daji01_ettect02.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1711},{250,302}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{250,302}}</string>
                <key>sourceSize</key>
                <string>{280,330}</string>
            </dict>
            <key>skill_daji01_ettect03.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1061},{272,318}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{272,318}}</string>
                <key>sourceSize</key>
                <string>{280,330}</string>
            </dict>
            <key>skill_daji02_ettect01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1050},{210,282}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{210,282}}</string>
                <key>sourceSize</key>
                <string>{280,330}</string>
            </dict>
            <key>skill_daji02_ettect02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1711},{250,302}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{250,302}}</string>
                <key>sourceSize</key>
                <string>{280,330}</string>
            </dict>
            <key>skill_daji02_ettect03.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1378},{272,318}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{272,318}}</string>
                <key>sourceSize</key>
                <string>{280,330}</string>
            </dict>
            <key>skill_dexdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,1805},{108,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{108,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>skill_dexdown_yuanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,719},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{36,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>skill_dexup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,1755},{108,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{108,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>skill_dexup_yuanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,681},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{36,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>skill_dianguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,1583},{170,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{170,96}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>skill_dianguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1806},{136,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{136,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_dianguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1805},{170,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{170,146}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>skill_dianguang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1340},{241,158}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{241,158}}</string>
                <key>sourceSize</key>
                <string>{245,160}</string>
            </dict>
            <key>skill_dianguang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1839},{170,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{170,146}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>skill_dianguang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1807},{170,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{170,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>skill_dianguang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,1341},{241,158}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{241,158}}</string>
                <key>sourceSize</key>
                <string>{245,160}</string>
            </dict>
            <key>skill_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,388},{34,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{34,48}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>skill_down_yuanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1974},{39,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{39,58}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>skill_faguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1487},{290,144}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{290,144}}</string>
                <key>sourceSize</key>
                <string>{310,160}</string>
            </dict>
            <key>skill_faguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1341},{290,144}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{290,144}}</string>
                <key>sourceSize</key>
                <string>{310,160}</string>
            </dict>
            <key>skill_faguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1693},{290,144}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{290,144}}</string>
                <key>sourceSize</key>
                <string>{310,160}</string>
            </dict>
            <key>skill_faguang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1547},{290,144}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{290,144}}</string>
                <key>sourceSize</key>
                <string>{310,160}</string>
            </dict>
            <key>skill_faguang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1672},{290,144}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{290,144}}</string>
                <key>sourceSize</key>
                <string>{310,160}</string>
            </dict>
            <key>skill_fatal_moji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{564,200}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{564,200}}</string>
                <key>sourceSize</key>
                <string>{568,200}</string>
            </dict>
            <key>skill_fatal_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,1915},{57,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,40}}</string>
                <key>sourceSize</key>
                <string>{57,40}</string>
            </dict>
            <key>skill_fatal_scene01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{568,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,384}}</string>
                <key>sourceSize</key>
                <string>{568,384}</string>
            </dict>
            <key>skill_fatal_scene02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{568,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,384}}</string>
                <key>sourceSize</key>
                <string>{568,384}</string>
            </dict>
            <key>skill_fatal_scene03.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{568,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,384}}</string>
                <key>sourceSize</key>
                <string>{568,384}</string>
            </dict>
            <key>skill_fatal_scene04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{568,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,384}}</string>
                <key>sourceSize</key>
                <string>{568,384}</string>
            </dict>
            <key>skill_fatal_sha01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{350,331}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{350,331}}</string>
                <key>sourceSize</key>
                <string>{360,331}</string>
            </dict>
            <key>skill_fatal_sha02.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,760},{314,299}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{314,299}}</string>
                <key>sourceSize</key>
                <string>{360,331}</string>
            </dict>
            <key>skill_heidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1913,1298},{57,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,40}}</string>
                <key>sourceSize</key>
                <string>{57,40}</string>
            </dict>
            <key>skill_huang_faguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,708},{437,184}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{437,184}}</string>
                <key>sourceSize</key>
                <string>{445,200}</string>
            </dict>
            <key>skill_huang_faguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,843},{437,184}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{437,184}}</string>
                <key>sourceSize</key>
                <string>{445,200}</string>
            </dict>
            <key>skill_huang_faguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,441},{437,184}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{437,184}}</string>
                <key>sourceSize</key>
                <string>{445,200}</string>
            </dict>
            <key>skill_huang_faguang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,388},{437,184}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{437,184}}</string>
                <key>sourceSize</key>
                <string>{445,200}</string>
            </dict>
            <key>skill_intdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,1805},{102,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{102,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>skill_intdown_yuanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,793},{34,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{34,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>skill_intup.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1964},{102,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{102,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>skill_intup_yuanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,757},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{34,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>skill_lv_faguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,574},{437,184}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{437,184}}</string>
                <key>sourceSize</key>
                <string>{445,200}</string>
            </dict>
            <key>skill_lv_faguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,388},{437,184}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{437,184}}</string>
                <key>sourceSize</key>
                <string>{445,200}</string>
            </dict>
            <key>skill_lv_faguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,404},{437,184}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{437,184}}</string>
                <key>sourceSize</key>
                <string>{445,200}</string>
            </dict>
            <key>skill_lv_faguang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,2},{437,184}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{437,184}}</string>
                <key>sourceSize</key>
                <string>{445,200}</string>
            </dict>
            <key>skill_lv_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,388},{316,318}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{316,318}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>skill_lv_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1061},{278,268}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{278,268}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>skill_lv_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,760},{288,252}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,32},{288,252}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>skill_lv_light04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1698},{296,242}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,44},{296,242}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>skill_lv_light05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1584},{220,210}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,54},{220,210}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>skill_lvguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1505},{165,280}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{165,280}}</string>
                <key>sourceSize</key>
                <string>{165,300}</string>
            </dict>
            <key>skill_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1147},{356,184}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{356,184}}</string>
                <key>sourceSize</key>
                <string>{360,190}</string>
            </dict>
            <key>skill_redguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1058},{165,280}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{165,280}}</string>
                <key>sourceSize</key>
                <string>{165,300}</string>
            </dict>
            <key>skill_shikuai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1913,1058},{238,64}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{240,70}</string>
            </dict>
            <key>skill_shikuai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,441},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{238,64}}</string>
                <key>sourceSize</key>
                <string>{240,70}</string>
            </dict>
            <key>skill_shikuai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,2},{238,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{238,64}}</string>
                <key>sourceSize</key>
                <string>{240,70}</string>
            </dict>
            <key>skill_treatdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,422},{114,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{114,56}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>skill_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1967},{34,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{34,46}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>skill_up_yuanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,646},{33,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{33,54}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>skill_ye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,400}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FightScene02.png</string>
            <key>size</key>
            <string>{2015,2015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b67411b603b63e1fb54e3f9bf4eed792:1/1$</string>
            <key>textureFileName</key>
            <string>FightScene02.png</string>
        </dict>
    </dict>
</plist>
