<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,380}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{342,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>shouji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,376},{182,174}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,106},{182,174}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shouji_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{204,204}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,92},{204,204}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shouji_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,626},{230,230}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,92},{230,230}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shouji_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,672},{240,232}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,88},{240,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shouji_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,384},{182,240}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,82},{182,240}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>xishou_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{372,185}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{372,185}}</string>
                <key>sourceSize</key>
                <string>{400,185}</string>
            </dict>
            <key>xishou_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{398,185}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,185}}</string>
                <key>sourceSize</key>
                <string>{400,185}</string>
            </dict>
            <key>xishou_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{354,173}}</string>
                <key>offset</key>
                <string>{-23,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{354,173}}</string>
                <key>sourceSize</key>
                <string>{400,185}</string>
            </dict>
            <key>xishou_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,384},{286,153}}</string>
                <key>offset</key>
                <string>{-57,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{286,153}}</string>
                <key>sourceSize</key>
                <string>{400,185}</string>
            </dict>
            <key>xishou_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,858},{166,101}}</string>
                <key>offset</key>
                <string>{-112,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{166,101}}</string>
                <key>sourceSize</key>
                <string>{400,185}</string>
            </dict>
            <key>xishou_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,914},{98,57}}</string>
                <key>offset</key>
                <string>{-151,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{98,57}}</string>
                <key>sourceSize</key>
                <string>{400,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ganlu02.png</string>
            <key>size</key>
            <string>{708,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab19f3966b6489e28e3573d1767a5b0f:1/1$</string>
            <key>textureFileName</key>
            <string>ganlu02.png</string>
        </dict>
    </dict>
</plist>
