<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianqi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,492},{106,74}}</string>
                <key>offset</key>
                <string>{7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,193},{106,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>jianqi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,402},{126,88}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,173},{126,88}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>jianqi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,420},{198,136}}</string>
                <key>offset</key>
                <string>{14,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,116},{198,136}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>jianqi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,420},{214,104}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,113},{214,104}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>lang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,312},{206,106}}</string>
                <key>offset</key>
                <string>{9,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,234},{206,106}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>lang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,290},{286,110}}</string>
                <key>offset</key>
                <string>{7,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,249},{286,110}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>lang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{300,98}}</string>
                <key>offset</key>
                <string>{-11,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,259},{300,98}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>lang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{328,98}}</string>
                <key>offset</key>
                <string>{-3,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,267},{328,98}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>lang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{342,94}}</string>
                <key>offset</key>
                <string>{-7,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,271},{342,94}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>lang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,100}}</string>
                <key>offset</key>
                <string>{-7,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,270},{382,100}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shui_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,402},{132,188}}</string>
                <key>offset</key>
                <string>{7,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,149},{132,188}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shui_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{138,238}}</string>
                <key>offset</key>
                <string>{9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,99},{138,238}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shui_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,346},{148,290}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,46},{148,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shui_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{182,316}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,21},{182,316}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shui_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,332},{208,300}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,37},{208,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shui_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{308,226}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,111},{308,226}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shui_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,102},{288,186}}</string>
                <key>offset</key>
                <string>{10,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,152},{288,186}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ganlu01.png</string>
            <key>size</key>
            <string>{1014,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54695b4ec2eb54a76a056777316cb5e6:1/1$</string>
            <key>textureFileName</key>
            <string>ganlu01.png</string>
        </dict>
    </dict>
</plist>
