<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gemsScene-beijing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>gemsScene-dakongshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>gemsScene-jiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1507},{63,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>gemsScene-wenhao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,917},{69,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,80}}</string>
                <key>sourceSize</key>
                <string>{69,80}</string>
            </dict>
            <key>gemsScene-xiabianheidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,554},{903,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{903,111}}</string>
                <key>sourceSize</key>
                <string>{903,111}</string>
            </dict>
            <key>gemsScene-xiabianheidi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,554},{578,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{578,36}}</string>
                <key>sourceSize</key>
                <string>{578,38}</string>
            </dict>
            <key>gemsScene-xilianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,1525},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>gemsScene-xuanzewenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1459},{152,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,46}}</string>
                <key>sourceSize</key>
                <string>{152,46}</string>
            </dict>
            <key>gemsScene-zhuanhuangbiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,1350},{204,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,214}}</string>
                <key>sourceSize</key>
                <string>{204,214}</string>
            </dict>
            <key>gemsScene_beijing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>gemsScene_duizhandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,917},{606,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,42}}</string>
                <key>sourceSize</key>
                <string>{606,42}</string>
            </dict>
            <key>gemsScene_hechengqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{550,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,431}}</string>
                <key>sourceSize</key>
                <string>{550,431}</string>
            </dict>
            <key>gemsScene_jinnanbiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,554},{262,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,361}}</string>
                <key>sourceSize</key>
                <string>{262,361}</string>
            </dict>
            <key>gemsScene_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1507},{106,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,60}}</string>
                <key>sourceSize</key>
                <string>{106,60}</string>
            </dict>
            <key>gemsScene_wenhao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1134},{263,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,214}}</string>
                <key>sourceSize</key>
                <string>{263,214}</string>
            </dict>
            <key>gemsScene_zuduixiaokong.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,1542},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gemsScene.png</string>
            <key>size</key>
            <string>{1573,1573}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd388befe0872aff8a7f394d7fd75b85:1/1$</string>
            <key>textureFileName</key>
            <string>gemsScene.png</string>
        </dict>
    </dict>
</plist>
