<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GeneralSelectScene01_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,446}}</string>
                <key>sourceSize</key>
                <string>{114,446}</string>
            </dict>
            <key>GeneralSelectScene01_dahu.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,208},{163,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,171}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>GeneralSelectScene01_dahumingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,565},{90,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,187}}</string>
                <key>sourceSize</key>
                <string>{90,187}</string>
            </dict>
            <key>GeneralSelectScene01_dahushuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{74,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,366}}</string>
                <key>sourceSize</key>
                <string>{74,366}</string>
            </dict>
            <key>GeneralSelectScene01_denghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,633},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>GeneralSelectScene01_huodongshuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{262,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,69}}</string>
                <key>sourceSize</key>
                <string>{262,69}</string>
            </dict>
            <key>GeneralSelectScene01_jiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,633},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>GeneralSelectScene01_quedingdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,484},{146,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,147}}</string>
                <key>sourceSize</key>
                <string>{146,147}</string>
            </dict>
            <key>GeneralSelectScene01_xiahoushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,484},{153,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,166}}</string>
                <key>sourceSize</key>
                <string>{153,166}</string>
            </dict>
            <key>GeneralSelectScene01_xiahoushimingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,473},{90,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,187}}</string>
                <key>sourceSize</key>
                <string>{90,187}</string>
            </dict>
            <key>GeneralSelectScene01_xiahoushishuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,408},{74,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,308}}</string>
                <key>sourceSize</key>
                <string>{74,308}</string>
            </dict>
            <key>GeneralSelectScene01_xinxianying.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,242},{164,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,212}}</string>
                <key>sourceSize</key>
                <string>{164,212}</string>
            </dict>
            <key>GeneralSelectScene01_xinxianyingmingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,381},{90,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,187}}</string>
                <key>sourceSize</key>
                <string>{90,187}</string>
            </dict>
            <key>GeneralSelectScene01_xinxianyingshuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{74,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,394}}</string>
                <key>sourceSize</key>
                <string>{74,394}</string>
            </dict>
            <key>GeneralSelectScene01_xuanzhongguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{205,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,204}}</string>
                <key>sourceSize</key>
                <string>{205,204}</string>
            </dict>
            <key>GeneralSelectScene01_yuanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{198,238}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,238}}</string>
                <key>sourceSize</key>
                <string>{200,238}</string>
            </dict>
            <key>GeneralSelectScene01_yuanjimingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,450},{90,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,187}}</string>
                <key>sourceSize</key>
                <string>{90,187}</string>
            </dict>
            <key>GeneralSelectScene01_yuanjishuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,639},{75,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,276}}</string>
                <key>sourceSize</key>
                <string>{75,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GeneralSelectScene01.png</string>
            <key>size</key>
            <string>{716,716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1142efcd2c5b32a8a6924c0a63a730bc:1/1$</string>
            <key>textureFileName</key>
            <string>GeneralSelectScene01.png</string>
        </dict>
    </dict>
</plist>
