<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hujiao_daji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,285}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,53},{380,285}}</string>
                <key>sourceSize</key>
                <string>{444,341}</string>
            </dict>
            <key>hujiao_daji04.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{414,301}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,36},{414,301}}</string>
                <key>sourceSize</key>
                <string>{444,341}</string>
            </dict>
            <key>hujiao_daji05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{438,313}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{438,313}}</string>
                <key>sourceSize</key>
                <string>{444,341}</string>
            </dict>
            <key>hujiao_daji06.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,305},{434,323}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{434,323}}</string>
                <key>sourceSize</key>
                <string>{444,341}</string>
            </dict>
            <key>hujiao_tiger01.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,630},{405,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,380}}</string>
                <key>sourceSize</key>
                <string>{405,380}</string>
            </dict>
            <key>hujiao_tiger02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{405,364}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{405,364}}</string>
                <key>sourceSize</key>
                <string>{405,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hujiao.png</string>
            <key>size</key>
            <string>{1012,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c264e0ec2ebf01cb4b72575a0293679a:1/1$</string>
            <key>textureFileName</key>
            <string>hujiao.png</string>
        </dict>
    </dict>
</plist>
