<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoji_fire_bao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{350,220}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{350,220}}</string>
                <key>sourceSize</key>
                <string>{350,270}</string>
            </dict>
            <key>huoji_fire_bao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,254},{320,244}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{320,244}}</string>
                <key>sourceSize</key>
                <string>{350,270}</string>
            </dict>
            <key>huoji_fire_bao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{350,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,270}}</string>
                <key>sourceSize</key>
                <string>{350,270}</string>
            </dict>
            <key>huoji_fire_bao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,270}}</string>
                <key>sourceSize</key>
                <string>{350,270}</string>
            </dict>
            <key>huoji_fire_bao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{350,250}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{350,250}}</string>
                <key>sourceSize</key>
                <string>{350,270}</string>
            </dict>
            <key>huoji_fire_bao06.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,500},{342,118}}</string>
                <key>offset</key>
                <string>{2,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,152},{342,118}}</string>
                <key>sourceSize</key>
                <string>{350,270}</string>
            </dict>
            <key>huoji_fire_bao07.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,651},{314,94}}</string>
                <key>offset</key>
                <string>{9,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,167},{314,94}}</string>
                <key>sourceSize</key>
                <string>{350,270}</string>
            </dict>
            <key>huoji_fire_bao08.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,422},{310,74}}</string>
                <key>offset</key>
                <string>{10,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,189},{310,74}}</string>
                <key>sourceSize</key>
                <string>{350,270}</string>
            </dict>
            <key>huoji_fire_qiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,498},{180,151}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{180,151}}</string>
                <key>sourceSize</key>
                <string>{180,157}</string>
            </dict>
            <key>huoji_fire_ranshao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{404,104}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{404,104}}</string>
                <key>sourceSize</key>
                <string>{420,120}</string>
            </dict>
            <key>huoji_fire_ranshao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,620},{408,114}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{408,114}}</string>
                <key>sourceSize</key>
                <string>{420,120}</string>
            </dict>
            <key>huoji_fire_ranshao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{404,108}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{404,108}}</string>
                <key>sourceSize</key>
                <string>{420,120}</string>
            </dict>
            <key>huoji_fire_ranshao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,852},{416,110}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{416,110}}</string>
                <key>sourceSize</key>
                <string>{420,120}</string>
            </dict>
            <key>huoji_fire_ranshao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{394,116}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{394,116}}</string>
                <key>sourceSize</key>
                <string>{420,120}</string>
            </dict>
            <key>huoji_fire_ranshao06.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,736},{420,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{420,114}}</string>
                <key>sourceSize</key>
                <string>{420,120}</string>
            </dict>
            <key>huoji_fire_ranshao07.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{418,106}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{418,106}}</string>
                <key>sourceSize</key>
                <string>{420,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huoji.png</string>
            <key>size</key>
            <string>{992,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d87af30ba291b8482ace5ca7327c7224:1/1$</string>
            <key>textureFileName</key>
            <string>huoji.png</string>
        </dict>
    </dict>
</plist>
