<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InterServiceLadderWar_rewardIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{118,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,106}}</string>
                <key>sourceSize</key>
                <string>{118,106}</string>
            </dict>
            <key>InterServiceLadderWar_zhanshengjiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{223,160}}</string>
                <key>sourceSize</key>
                <string>{225,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>InterServiceLadderWar.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f28ee60885a9d9fbe2443da5c40f2b18:1/1$</string>
            <key>textureFileName</key>
            <string>InterServiceLadderWar.png</string>
        </dict>
    </dict>
</plist>
