<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JinengLianhua_beijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,626}}</string>
                <key>offset</key>
                <string>{-182,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{596,626}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>JinengLianhua_huo.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,830},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>JinengLianhua_jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,730},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>JinengLianhua_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{190,148}}</string>
                <key>offset</key>
                <string>{126,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,0},{190,148}}</string>
                <key>sourceSize</key>
                <string>{442,396}</string>
            </dict>
            <key>JinengLianhua_light02.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{194,666},{90,220}}</string>
                <key>offset</key>
                <string>{174,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,143},{90,220}}</string>
                <key>sourceSize</key>
                <string>{442,396}</string>
            </dict>
            <key>JinengLianhua_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,630},{288,34}}</string>
                <key>offset</key>
                <string>{-2,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,362},{288,34}}</string>
                <key>sourceSize</key>
                <string>{442,396}</string>
            </dict>
            <key>JinengLianhua_light04.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{286,666},{86,220}}</string>
                <key>offset</key>
                <string>{-176,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,144},{86,220}}</string>
                <key>sourceSize</key>
                <string>{442,396}</string>
            </dict>
            <key>JinengLianhua_light05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{190,146}}</string>
                <key>offset</key>
                <string>{-126,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,146}}</string>
                <key>sourceSize</key>
                <string>{442,396}</string>
            </dict>
            <key>JinengLianhua_mu.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,630},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>JinengLianhua_shui.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,766},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>JinengLianhua_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,666},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JinengLianhua.png</string>
            <key>size</key>
            <string>{600,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a2f9bdb0ed35d0389ac035146cb20b8:1/1$</string>
            <key>textureFileName</key>
            <string>JinengLianhua.png</string>
        </dict>
    </dict>
</plist>
