<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jingmai_dangqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jingmai_maibo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{756,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{756,158}}</string>
                <key>sourceSize</key>
                <string>{756,158}</string>
            </dict>
            <key>jingmai_maili.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>jingmai_weizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>jingmai_xiulian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{515,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,486}}</string>
                <key>sourceSize</key>
                <string>{515,486}</string>
            </dict>
            <key>jingmai_yiyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jingmai.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cd8c56cecb43ae210dd6eea729d7697:1/1$</string>
            <key>textureFileName</key>
            <string>jingmai.png</string>
        </dict>
    </dict>
</plist>
