<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baisexiangsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,389},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{198,222}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{198,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>huaban_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,2},{214,210}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,33},{214,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kaipai_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,227},{137,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,102}}</string>
                <key>sourceSize</key>
                <string>{137,102}</string>
            </dict>
            <key>kaipai_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,227},{160,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,89}}</string>
                <key>sourceSize</key>
                <string>{160,89}</string>
            </dict>
            <key>kaipai_you.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{115,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,223}}</string>
                <key>sourceSize</key>
                <string>{115,223}</string>
            </dict>
            <key>kaipai_zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,218},{106,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,208}}</string>
                <key>sourceSize</key>
                <string>{106,208}</string>
            </dict>
            <key>kapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,462}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{404,462}}</string>
                <key>sourceSize</key>
                <string>{444,524}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Juexing.png</string>
            <key>size</key>
            <string>{995,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7000589f6350d6a00eed4051f1602d6:1/1$</string>
            <key>textureFileName</key>
            <string>Juexing.png</string>
        </dict>
    </dict>
</plist>
