<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lianying_daji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{394,214}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{394,214}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>lianying_daji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{250,232}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,28},{250,232}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>lianying_daji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,206},{186,178}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,53},{186,178}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>lianying_juguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,488},{230,226}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,43},{230,226}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>lianying_juguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{238,232}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,40},{238,232}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>lianying_juguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,236},{250,218}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,53},{250,218}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>lianying_juguang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,488},{230,212}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,57},{230,212}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>lianying_sheji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{250,202}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{250,202}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>lianying_sheji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,242}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{242,242}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>lianying_sheji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,654},{102,124}}</string>
                <key>offset</key>
                <string>{26,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,57},{102,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>lianying_wuqi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{188,104}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{188,104}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>lianying_wuqi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,462},{190,106}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{190,106}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lianying.png</string>
            <key>size</key>
            <string>{802,802}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82e6baf86c6b6020db211bad2c909931:1/1$</string>
            <key>textureFileName</key>
            <string>lianying.png</string>
        </dict>
    </dict>
</plist>
