<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liegong_daji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,370}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{290,370}}</string>
                <key>sourceSize</key>
                <string>{380,370}</string>
            </dict>
            <key>liegong_daji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,358},{340,260}}</string>
                <key>offset</key>
                <string>{-20,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,110},{340,260}}</string>
                <key>sourceSize</key>
                <string>{380,370}</string>
            </dict>
            <key>liegong_daji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{354,262}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,108},{354,262}}</string>
                <key>sourceSize</key>
                <string>{380,370}</string>
            </dict>
            <key>liegong_daji04.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,290},{364,280}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,90},{364,280}}</string>
                <key>sourceSize</key>
                <string>{380,370}</string>
            </dict>
            <key>liegong_daji05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{368,290}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,80},{368,290}}</string>
                <key>sourceSize</key>
                <string>{380,370}</string>
            </dict>
            <key>liegong_daji06.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{364,286}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{364,286}}</string>
                <key>sourceSize</key>
                <string>{380,370}</string>
            </dict>
            <key>liegong_fashe01.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,734},{228,236}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{228,236}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>liegong_fashe02.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,572},{160,188}}</string>
                <key>offset</key>
                <string>{16,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,2},{160,188}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>liegong_fashe03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,876},{52,60}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,88},{52,60}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>liegong_gong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,744},{130,278}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,278}}</string>
                <key>sourceSize</key>
                <string>{130,280}</string>
            </dict>
            <key>liegong_gong02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{130,278}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,278}}</string>
                <key>sourceSize</key>
                <string>{130,280}</string>
            </dict>
            <key>liegong_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{214,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{214,58}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>liegong_yanjing_light04.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,572},{144,148}}</string>
                <key>offset</key>
                <string>{-7,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,85},{144,148}}</string>
                <key>sourceSize</key>
                <string>{310,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liegong.png</string>
            <key>size</key>
            <string>{964,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f2498be318bd3f86da19bbb64e88950:1/1$</string>
            <key>textureFileName</key>
            <string>liegong.png</string>
        </dict>
    </dict>
</plist>
