<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiangwu_bagua.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,374},{392,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,216}}</string>
                <key>sourceSize</key>
                <string>{392,216}</string>
            </dict>
            <key>qiangwu_daji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,696},{272,256}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,64},{272,256}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>qiangwu_daji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{338,302}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{338,302}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>qiangwu_daji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,308}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,308}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>qiangwu_daji04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{350,292}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,292}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>qiangwu_daji05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{350,282}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,282}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>qiangwu_sudu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,306},{236,388}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{236,388}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>qiangwu_wuqi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{242,370}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,370}}</string>
                <key>sourceSize</key>
                <string>{260,380}</string>
            </dict>
            <key>qiangwu_wuqi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,592},{238,292}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,292}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiangwu.png</string>
            <key>size</key>
            <string>{986,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a5ecebae5626f35884f2b8f3e57c98f:1/1$</string>
            <key>textureFileName</key>
            <string>qiangwu.png</string>
        </dict>
    </dict>
</plist>
