<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_luanwu_biaoxue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,702},{250,244}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,244}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_luanwu_biaoxue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_luanwu_biaoxue03.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,512},{240,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_luanwu_hunfei01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,230}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{320,230}}</string>
                <key>sourceSize</key>
                <string>{320,312}</string>
            </dict>
            <key>skill_luanwu_hunfei02.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,210}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{320,210}}</string>
                <key>sourceSize</key>
                <string>{320,312}</string>
            </dict>
            <key>skill_luanwu_hunfei03.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,678},{264,196}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,112},{264,196}}</string>
                <key>sourceSize</key>
                <string>{320,312}</string>
            </dict>
            <key>skill_luanwu_hunfei04.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,466},{294,210}}</string>
                <key>offset</key>
                <string>{-13,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,87},{294,210}}</string>
                <key>sourceSize</key>
                <string>{320,312}</string>
            </dict>
            <key>skill_luanwu_hunfei05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{288,226}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{288,226}}</string>
                <key>sourceSize</key>
                <string>{320,312}</string>
            </dict>
            <key>skill_luanwu_hunfei06.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,268},{310,242}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,54},{310,242}}</string>
                <key>sourceSize</key>
                <string>{320,312}</string>
            </dict>
            <key>skill_luanwu_hunfei07.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,214},{310,250}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,48},{310,250}}</string>
                <key>sourceSize</key>
                <string>{320,312}</string>
            </dict>
            <key>skill_luanwu_hunfei08.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{308,264}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,40},{308,264}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>skill_luanwu_hunfei09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{296,238}}</string>
                <key>offset</key>
                <string>{4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{296,238}}</string>
                <key>sourceSize</key>
                <string>{320,312}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_luanwu02.png</string>
            <key>size</key>
            <string>{956,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a73a2e82fd4ebf29ef2a7dd795bcd1c:1/1$</string>
            <key>textureFileName</key>
            <string>skill_luanwu02.png</string>
        </dict>
    </dict>
</plist>
