<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,272},{113,97}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{113,97}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>bao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,140},{153,131}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{153,131}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>bao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,140},{157,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,151}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>bao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,273},{145,125}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{145,125}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,180},{198,222}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{198,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lianpo_blue_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,364},{32,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,76},{32,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_blue_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,276},{66,96}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,48},{66,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_blue_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,276},{102,144}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,20},{102,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_blue_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,2},{136,184}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_blue_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,172},{132,182}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,1},{132,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_blue_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,140},{134,150}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,33},{134,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_blue_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,272},{128,156}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,26},{128,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_blue_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,274},{128,162}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,20},{128,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_green_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,2},{32,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,76},{32,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_green_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,276},{66,96}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{66,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_green_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,293},{102,144}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,20},{102,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_green_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,2},{136,184}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_green_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,172},{132,182}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,1},{132,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_red_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,364},{32,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,76},{32,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_red_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,286},{66,96}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{66,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_red_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{102,144}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,20},{102,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_red_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,2},{136,184}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_red_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,180},{132,182}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,1},{132,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_red_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,140},{134,150}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,33},{134,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_red_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,274},{128,156}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,26},{128,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lianpo_ronghe_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,282}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,3},{212,282}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lianpo_ronghe_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{206,270}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,13},{206,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lianpo_ronghe_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{196,268}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,13},{196,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lianpo_ronghe_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{186,268}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,11},{186,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lianpo_ronghe_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{176,274}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,3},{176,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lianpo_ronghe_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{168,272}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,3},{168,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lianpo_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,2},{128,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,68}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_lianpo.png</string>
            <key>size</key>
            <string>{2030,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdd943caee72bbf3ec76a5526809a543:1/1$</string>
            <key>textureFileName</key>
            <string>skill_lianpo.png</string>
        </dict>
    </dict>
</plist>
