<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dun_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1296},{222,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{222,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>posui_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>posui_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{250,248}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{250,248}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>posui_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{246,250}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>posui_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{246,250}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>posui_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1420},{246,236}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{246,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>posui_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1088},{130,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,146}}</string>
                <key>sourceSize</key>
                <string>{130,146}</string>
            </dict>
            <key>posui_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1772},{76,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,142}}</string>
                <key>sourceSize</key>
                <string>{76,142}</string>
            </dict>
            <key>posui_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1736},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>skill_mumu_guzheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,624},{176,246}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{176,246}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>skill_mumu_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_mumu_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1554},{180,54}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{180,54}}</string>
                <key>sourceSize</key>
                <string>{200,64}</string>
            </dict>
            <key>skill_mumu_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{256,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,37},{256,122}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>skill_mumu_lizi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1430},{94,162}}</string>
                <key>offset</key>
                <string>{-189,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{94,162}}</string>
                <key>sourceSize</key>
                <string>{512,200}</string>
            </dict>
            <key>skill_mumu_lizi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1734},{152,166}}</string>
                <key>offset</key>
                <string>{-158,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,26},{152,166}}</string>
                <key>sourceSize</key>
                <string>{512,200}</string>
            </dict>
            <key>skill_mumu_lizi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1554},{184,178}}</string>
                <key>offset</key>
                <string>{-120,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,14},{184,178}}</string>
                <key>sourceSize</key>
                <string>{512,200}</string>
            </dict>
            <key>skill_mumu_lizi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,872},{236,176}}</string>
                <key>offset</key>
                <string>{-92,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,14},{236,176}}</string>
                <key>sourceSize</key>
                <string>{512,200}</string>
            </dict>
            <key>skill_mumu_lizi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,164},{326,168}}</string>
                <key>offset</key>
                <string>{-44,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,14},{326,168}}</string>
                <key>sourceSize</key>
                <string>{512,200}</string>
            </dict>
            <key>skill_mumu_lizi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,160}}</string>
                <key>offset</key>
                <string>{26,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,15},{460,160}}</string>
                <key>sourceSize</key>
                <string>{512,200}</string>
            </dict>
            <key>skill_mumu_lizi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,260},{362,148}}</string>
                <key>offset</key>
                <string>{75,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,28},{362,148}}</string>
                <key>sourceSize</key>
                <string>{512,200}</string>
            </dict>
            <key>skill_mumu_lizi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,492},{354,146}}</string>
                <key>offset</key>
                <string>{79,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,29},{354,146}}</string>
                <key>sourceSize</key>
                <string>{512,200}</string>
            </dict>
            <key>skill_mumu_lizi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,848},{238,140}}</string>
                <key>offset</key>
                <string>{137,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,33},{238,140}}</string>
                <key>sourceSize</key>
                <string>{512,200}</string>
            </dict>
            <key>skill_mumu_lizi_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1594},{176,68}}</string>
                <key>offset</key>
                <string>{164,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,75},{176,68}}</string>
                <key>sourceSize</key>
                <string>{512,200}</string>
            </dict>
            <key>skill_mumu_xian_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1658},{116,98}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{116,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_mumu_xian_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1864},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{120,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_mumu_xian_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1658},{126,100}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{126,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_mumu_xian_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1772},{128,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_mumu_xian_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1888},{122,96}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{122,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_mumu_xian_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1888},{114,92}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{114,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_mumu_xian_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1916},{106,94}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{106,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_mumu_xian_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1888},{106,96}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{106,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_mumu_xian_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1902},{116,102}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{116,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_mumu_xian_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1760},{118,102}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{118,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_mumu_yinfu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1236},{192,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{192,92}}</string>
                <key>sourceSize</key>
                <string>{200,128}</string>
            </dict>
            <key>skill_mumu_yinfu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1110},{200,184}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_mumu.png</string>
            <key>size</key>
            <string>{596,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43cce7500c14bca745a3ceb0ae444a78:1/1$</string>
            <key>textureFileName</key>
            <string>skill_mumu.png</string>
        </dict>
    </dict>
</plist>
