<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianguang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,240},{170,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,146}}</string>
                <key>sourceSize</key>
                <string>{170,146}</string>
            </dict>
            <key>lizibao_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{364,280}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,90},{364,280}}</string>
                <key>sourceSize</key>
                <string>{380,370}</string>
            </dict>
            <key>lizibao_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,290}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,80},{368,290}}</string>
                <key>sourceSize</key>
                <string>{380,370}</string>
            </dict>
            <key>lizibao_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{364,286}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,84},{364,286}}</string>
                <key>sourceSize</key>
                <string>{380,370}</string>
            </dict>
            <key>skill_xuechi_xuebao_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,318},{56,54}}</string>
                <key>offset</key>
                <string>{-19,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,146},{56,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_xuebao_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,214},{118,102}}</string>
                <key>offset</key>
                <string>{-13,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,105},{118,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_xuebao_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,228},{138,170}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,40},{138,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_xuebao_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,218},{174,212}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{174,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_xuebao_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,224},{168,208}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{168,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_xuebao_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,216},{176,212}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{176,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_xuebao_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,2},{186,210}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{186,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_xuebao_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,2},{186,212}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{186,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_xuebao_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{198,214}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{198,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_xuebao_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{220,214}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{220,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_xuebao_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{236,102}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,123},{236,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_xuebao_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{222,100}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,126},{222,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_xuechi_xuebao_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{224,104}}</string>
                <key>offset</key>
                <string>{8,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,125},{224,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_zhaoxin.png</string>
            <key>size</key>
            <string>{1968,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f6f2cbc256309974b0c89defd203212:1/1$</string>
            <key>textureFileName</key>
            <string>skill_zhaoxin.png</string>
        </dict>
    </dict>
</plist>
