<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_gongxin_feilong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{474,348}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,348}}</string>
                <key>sourceSize</key>
                <string>{480,348}</string>
            </dict>
            <key>skill_gongxin_feilong02.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,640},{480,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,348}}</string>
                <key>sourceSize</key>
                <string>{480,348}</string>
            </dict>
            <key>skill_gongxin_feilong03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,302},{444,336}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{444,336}}</string>
                <key>sourceSize</key>
                <string>{480,348}</string>
            </dict>
            <key>skill_gongxin_feilong04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{426,294}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{426,294}}</string>
                <key>sourceSize</key>
                <string>{480,348}</string>
            </dict>
            <key>skill_gongxin_feilong05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{446,302}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{446,302}}</string>
                <key>sourceSize</key>
                <string>{480,348}</string>
            </dict>
            <key>skill_gongxin_feilong06.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{418,298}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{418,298}}</string>
                <key>sourceSize</key>
                <string>{480,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_gongxin02.png</string>
            <key>size</key>
            <string>{990,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd7795105a613887bab1a9b992640dfc:1/1$</string>
            <key>textureFileName</key>
            <string>skill_gongxin02.png</string>
        </dict>
    </dict>
</plist>
