<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_hujia_mogu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,314},{190,186}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,171},{190,186}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>skill_hujia_mogu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{254,290}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,67},{254,290}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>skill_hujia_mogu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,634},{254,298}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,58},{254,298}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>skill_hujia_mogu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{254,310}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,47},{254,310}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>skill_hujia_mogu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,316}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,41},{252,316}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>skill_hujia_mogu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{252,320}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,39},{252,320}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>skill_hujia_mogu07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,324}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,37},{252,324}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>skill_hujia_mogu08.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,320},{250,312}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,41},{250,312}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>skill_hujia_mogu09.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,320},{246,280}}</string>
                <key>offset</key>
                <string>{-3,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,42},{246,280}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>skill_hujia_mogu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,602},{244,202}}</string>
                <key>offset</key>
                <string>{-3,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,42},{244,202}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>skill_hujia_mogu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,602},{222,224}}</string>
                <key>offset</key>
                <string>{6,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,47},{222,224}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>skill_hujia_mogu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{208,168}}</string>
                <key>offset</key>
                <string>{2,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,47},{208,168}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_hujia02.png</string>
            <key>size</key>
            <string>{944,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d41657ad4d142f6a67c8d2c95c7b939:1/1$</string>
            <key>textureFileName</key>
            <string>skill_hujia02.png</string>
        </dict>
    </dict>
</plist>
