<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_gongxin_fazhen01.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{250,322}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{250,322}}</string>
                <key>sourceSize</key>
                <string>{252,322}</string>
            </dict>
            <key>skill_gongxin_fazhen02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,326},{252,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,322}}</string>
                <key>sourceSize</key>
                <string>{252,322}</string>
            </dict>
            <key>skill_gongxin_fazhen03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{252,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,322}}</string>
                <key>sourceSize</key>
                <string>{252,322}</string>
            </dict>
            <key>skill_gongxin_fazhen04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,322}}</string>
                <key>sourceSize</key>
                <string>{252,322}</string>
            </dict>
            <key>skill_gongxin_fazhen05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{252,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,322}}</string>
                <key>sourceSize</key>
                <string>{252,322}</string>
            </dict>
            <key>skill_gongxin_fazhen06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,322}}</string>
                <key>sourceSize</key>
                <string>{252,322}</string>
            </dict>
            <key>skill_gongxin_fazhenGo.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,650},{252,320}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,320}}</string>
                <key>sourceSize</key>
                <string>{252,322}</string>
            </dict>
            <key>skill_gongxin_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,326},{178,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,233}}</string>
                <key>sourceSize</key>
                <string>{178,233}</string>
            </dict>
            <key>skill_gongxin_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,196},{218,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,154}}</string>
                <key>sourceSize</key>
                <string>{218,154}</string>
            </dict>
            <key>skill_gongxin_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,744},{152,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{152,140}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>skill_gongxin_xinsui01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,542},{200,182}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_gongxin_xinsui02.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,352},{200,188}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{200,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_gongxin_xinsui03.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{200,192}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{200,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_gongxin_xinsui04.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,763},{200,188}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{200,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_gongxin_xinsui05.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,561},{200,182}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{200,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_gongxin_xinsui06.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,744},{200,174}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{200,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_gongxin_xinsui07.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,352},{156,110}}</string>
                <key>offset</key>
                <string>{20,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,90},{156,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_gongxin01.png</string>
            <key>size</key>
            <string>{1018,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92ee814001f0307b08439e8cb4737dfa:1/1$</string>
            <key>textureFileName</key>
            <string>skill_gongxin01.png</string>
        </dict>
    </dict>
</plist>
