<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Skill_Kuangbao_baoqi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,260},{234,256}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{234,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_Kuangbao_baoqi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{234,256}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{234,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_Kuangbao_baoqi_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{244,256}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{244,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_Kuangbao_baoqi_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{250,256}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_Kuangbao_baoqi_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,260},{246,256}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{246,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_Kuangbao_baoqi_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{232,256}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{232,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_Kuangbao_baoqi_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{246,256}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{246,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_Kuangbao_baoqi_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{248,256}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{248,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_Kuangbao_baoqi_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,260},{236,256}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{236,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_Kuangbao_baoqi_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{236,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{236,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_Kuangbao_fangsheguang_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,256}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_Kuangbao_glow02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,132},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Skill_Kuangbao_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Skill_Kuangbao_huoyan01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,260},{252,250}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{252,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_Kuangbao_lizi01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,260},{238,244}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{238,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_Kuangbao_lizi02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,260},{244,248}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{244,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Skill_Kuangbao.png</string>
            <key>size</key>
            <string>{1838,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23947de1f6e2e27f7b0626a5676217b7:1/1$</string>
            <key>textureFileName</key>
            <string>Skill_Kuangbao.png</string>
        </dict>
    </dict>
</plist>
