<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>choudai01_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1850},{48,40}}</string>
                <key>offset</key>
                <string>{-38,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,12},{48,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1272},{116,108}}</string>
                <key>offset</key>
                <string>{-5,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,12},{116,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,228},{138,144}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,9},{138,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1680},{168,172}}</string>
                <key>offset</key>
                <string>{21,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,10},{168,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{182,236}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,12},{182,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{236,236}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{236,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{238,236}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{238,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{240,208}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,44},{240,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{240,204}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{240,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,374},{232,150}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,47},{232,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{224,122}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,47},{224,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1580},{192,98}}</string>
                <key>offset</key>
                <string>{18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,51},{192,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai02_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{158,96}}</string>
                <key>offset</key>
                <string>{-49,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{158,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai02_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{216,110}}</string>
                <key>offset</key>
                <string>{-20,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{216,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai02_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,128}}</string>
                <key>offset</key>
                <string>{-1,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{254,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai02_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{250,142}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{250,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai02_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,608},{224,150}}</string>
                <key>offset</key>
                <string>{16,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,1},{224,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai02_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,834},{216,150}}</string>
                <key>offset</key>
                <string>{20,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,9},{216,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai02_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1052},{218,118}}</string>
                <key>offset</key>
                <string>{19,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,46},{218,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai02_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{216,112}}</string>
                <key>offset</key>
                <string>{20,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,58},{216,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai02_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1850},{196,158}}</string>
                <key>offset</key>
                <string>{16,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,69},{196,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai02_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1850},{196,160}}</string>
                <key>offset</key>
                <string>{17,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,73},{196,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai02_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{198,162}}</string>
                <key>offset</key>
                <string>{18,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,74},{198,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>choudai02_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1382},{196,174}}</string>
                <key>offset</key>
                <string>{19,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,74},{196,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_fuluan.png</string>
            <key>size</key>
            <string>{396,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a8b46f16766c03fd96fc2e1c2623f4c:1/1$</string>
            <key>textureFileName</key>
            <string>skill_fuluan.png</string>
        </dict>
    </dict>
</plist>
