<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bao_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bao_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{342,366}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,16},{342,366}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bao_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{310,400}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{310,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bao_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{332,346}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,54},{332,346}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>lizi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,2},{92,218}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,82},{92,218}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>lizi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,258},{176,222}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,78},{176,222}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>lizi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,614},{178,226}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,71},{178,226}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>lizi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,436},{176,232}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,63},{176,232}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>lizi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,258},{176,236}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,54},{176,236}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>lizi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,370},{186,238}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{186,238}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>lizi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2},{188,240}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{188,240}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>lizi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,2},{190,242}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,22},{190,242}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>lizi_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{190,246}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,11},{190,246}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>lizi_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,610},{190,222}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,25},{190,222}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>lizi_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,350},{190,224}}</string>
                <key>offset</key>
                <string>{14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,12},{190,224}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>lizi_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,246},{170,220}}</string>
                <key>offset</key>
                <string>{25,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,3},{170,220}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>lizi_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,638},{168,170}}</string>
                <key>offset</key>
                <string>{26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,39},{168,170}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>lizi_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,670},{106,58}}</string>
                <key>offset</key>
                <string>{57,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,102},{106,58}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>tengman_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,638},{186,146}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,88},{186,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tengman_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,634},{186,146}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,88},{186,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tengman_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,448},{186,146}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,88},{186,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tengman_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,614},{186,146}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,88},{186,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tengman_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,606},{196,146}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,88},{196,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tengman_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,244},{202,146}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,88},{202,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tengman_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,656},{202,150}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,85},{202,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tengman_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,476},{210,160}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,75},{210,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tengman_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,468},{216,164}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,71},{216,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tengman_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,244},{230,166}}</string>
                <key>offset</key>
                <string>{-11,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,69},{230,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tengman_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,436},{232,166}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,69},{232,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tengman_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,370},{234,166}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,69},{234,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tengman_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,404},{250,168}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,68},{250,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zaiqi_taozi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{244,254}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{244,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_zaiqi.png</string>
            <key>size</key>
            <string>{2032,811}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:783df12b9a715de9dd3649c99cabc9f7:1/1$</string>
            <key>textureFileName</key>
            <string>skill_zaiqi.png</string>
        </dict>
    </dict>
</plist>
