<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Skill_Yijue_baozha_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,754},{294,270}}</string>
                <key>offset</key>
                <string>{-11,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,130},{294,270}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>Skill_Yijue_baozha_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{400,332}}</string>
                <key>offset</key>
                <string>{-16,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,68},{400,332}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>Skill_Yijue_baozha_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{462,366}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{462,366}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>Skill_Yijue_baozha_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,376}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{482,376}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>Skill_Yijue_baozha_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{478,372}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{478,372}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>Skill_Yijue_baozha_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1122},{350,362}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,4},{350,362}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>Skill_Yijue_shikuai_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,134},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>Skill_Yijue_shikuai_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,68},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>Skill_Yijue_shikuai_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>Skill_Yijue_wuqi01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{380,392}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{380,392}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Skill_Yijue_wuqi02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1486},{364,298}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{364,298}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Skill_Yijue.png</string>
            <key>size</key>
            <string>{738,1852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:084ba0afe0a2a4d5e1389f53d8cb7bed:1/1$</string>
            <key>textureFileName</key>
            <string>Skill_Yijue.png</string>
        </dict>
    </dict>
</plist>
