<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,131},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>raoshe_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,46},{317,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,41}}</string>
                <key>sourceSize</key>
                <string>{317,41}</string>
            </dict>
            <key>raoshe_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,89},{149,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,40}}</string>
                <key>sourceSize</key>
                <string>{149,40}</string>
            </dict>
            <key>raoshe_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,40}}</string>
                <key>sourceSize</key>
                <string>{512,40}</string>
            </dict>
            <key>raoshe_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,172},{151,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,40}}</string>
                <key>sourceSize</key>
                <string>{151,40}</string>
            </dict>
            <key>raoshe_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{151,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,40}}</string>
                <key>sourceSize</key>
                <string>{151,40}</string>
            </dict>
            <key>raoshe_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,89},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>raoshe_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{335,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,42}}</string>
                <key>sourceSize</key>
                <string>{335,42}</string>
            </dict>
            <key>raoshe_dilie.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,46},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>raoshe_yanwu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{267,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,126}}</string>
                <key>sourceSize</key>
                <string>{267,126}</string>
            </dict>
            <key>xuehua.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,131},{66,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>zi_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,125},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{86,87}</string>
            </dict>
            <key>zi_hou.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,131},{76,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,86}}</string>
                <key>sourceSize</key>
                <string>{76,86}</string>
            </dict>
            <key>zi_mohu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,44},{79,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,128}}</string>
                <key>sourceSize</key>
                <string>{83,128}</string>
            </dict>
            <key>zi_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>zi_yan.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,91},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_raoshe.png</string>
            <key>size</key>
            <string>{937,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6588ce55ed63b00158066420d5a52bca:1/1$</string>
            <key>textureFileName</key>
            <string>skill_raoshe.png</string>
        </dict>
    </dict>
</plist>
