<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daoguang_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,224},{254,118}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,118}}</string>
                <key>sourceSize</key>
                <string>{256,160}</string>
            </dict>
            <key>daoguang_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{222,160}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{222,160}}</string>
                <key>sourceSize</key>
                <string>{256,160}</string>
            </dict>
            <key>daoguang_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,204},{194,160}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,0},{194,160}}</string>
                <key>sourceSize</key>
                <string>{256,160}</string>
            </dict>
            <key>daoguang_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,480},{180,160}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{256,160}</string>
            </dict>
            <key>daoguang_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,730},{160,160}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{256,160}</string>
            </dict>
            <key>daoguang_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1126},{146,150}}</string>
                <key>offset</key>
                <string>{55,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,9},{146,150}}</string>
                <key>sourceSize</key>
                <string>{256,160}</string>
            </dict>
            <key>daoguang_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1278},{98,128}}</string>
                <key>offset</key>
                <string>{79,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,20},{98,128}}</string>
                <key>sourceSize</key>
                <string>{256,160}</string>
            </dict>
            <key>gy_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,220}}</string>
                <key>sourceSize</key>
                <string>{256,220}</string>
            </dict>
            <key>hit_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{222,170}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,46},{222,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{230,184}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,39},{230,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{230,196}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,34},{230,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{234,200}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{234,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,480},{248,128}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,76},{248,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>smoke_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,642},{222,70}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,32},{222,70}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>smoke_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,944},{222,70}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,32},{222,70}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>smoke_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,892},{244,72}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{244,72}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>smoke_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,642},{228,72}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,32},{228,72}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>smoke_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,892},{232,74}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,31},{232,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>smoke_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1168},{232,74}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,31},{232,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>smoke_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1168},{230,64}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,41},{230,64}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>smoke_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,872},{228,64}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,41},{228,64}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>smoke_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1138},{226,56}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,49},{226,56}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>smoke_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{14,52}}</string>
                <key>offset</key>
                <string>{-102,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,47},{14,52}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>zf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{218,254}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{218,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_fuhun.png</string>
            <key>size</key>
            <string>{512,1415}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66e19bc311e378ea9bafc26b1005b621:1/1$</string>
            <key>textureFileName</key>
            <string>skill_fuhun.png</string>
        </dict>
    </dict>
</plist>
