<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_yinghun_guihuo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{154,146}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,269},{154,146}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,818},{146,152}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,269},{146,152}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo03.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,640},{132,150}}</string>
                <key>offset</key>
                <string>{12,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,271},{132,150}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo04.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,788},{128,142}}</string>
                <key>offset</key>
                <string>{13,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,277},{128,142}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo05.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,792},{134,138}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,280},{134,138}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo06.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,442},{136,130}}</string>
                <key>offset</key>
                <string>{6,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,287},{136,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo07.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,574},{136,118}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,296},{136,118}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo08.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,808},{138,112}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,299},{138,112}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo09.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,782},{142,118}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,282},{142,118}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo10.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,488},{150,128}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,269},{150,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo11.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,710},{154,140}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{392,255},{154,140}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{152,148}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,245},{152,148}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo13.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,488},{140,150}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,240},{140,150}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo14.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,488},{124,148}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,240},{124,148}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo15.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,638},{126,142}}</string>
                <key>offset</key>
                <string>{-22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,242},{126,142}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo16.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,304},{136,134}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,244},{136,134}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo17.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,640},{146,126}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,245},{146,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo18.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,304},{144,118}}</string>
                <key>offset</key>
                <string>{-16,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,244},{144,118}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo19.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,866},{146,112}}</string>
                <key>offset</key>
                <string>{-15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,250},{146,112}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_guihuo20.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,694},{142,112}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,261},{142,112}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_yinghun_sunjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{404,300}}</string>
                <key>offset</key>
                <string>{-114,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,168},{404,300}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>skill_yinghun_sunjian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{532,290}}</string>
                <key>offset</key>
                <string>{-118,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,167},{532,290}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>skill_yinghun_yan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{188,226}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,145},{188,226}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>skill_yinghun_yan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,304},{182,228}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,143},{182,228}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>skill_yinghun_yan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,480},{180,228}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,144},{180,228}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>skill_yinghun_yan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{182,216}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,143},{182,216}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>skill_yinghun_yan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,294},{184,226}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,142},{184,226}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_yinghun01.png</string>
            <key>size</key>
            <string>{980,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a40b02cf2cb4a438e0821301a7d918c:1/1$</string>
            <key>textureFileName</key>
            <string>skill_yinghun01.png</string>
        </dict>
    </dict>
</plist>
