<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozha_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1016},{125,91}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,91}}</string>
                <key>sourceSize</key>
                <string>{125,105}</string>
            </dict>
            <key>dianguang_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{170,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,146}}</string>
                <key>sourceSize</key>
                <string>{170,146}</string>
            </dict>
            <key>dilie02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,814},{200,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{200,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dilie_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,612},{200,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{200,87}}</string>
                <key>sourceSize</key>
                <string>{200,143}</string>
            </dict>
            <key>dunpai_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{150,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,175}}</string>
                <key>sourceSize</key>
                <string>{150,175}</string>
            </dict>
            <key>dunpai_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{150,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,175}}</string>
                <key>sourceSize</key>
                <string>{150,175}</string>
            </dict>
            <key>guangshu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{234,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{234,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yan_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>yuanhuan_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{140,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{140,51}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_guixin.png</string>
            <key>size</key>
            <string>{244,1191}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd764247788dc206b1c4da2521dcecac:1/1$</string>
            <key>textureFileName</key>
            <string>skill_guixin.png</string>
        </dict>
    </dict>
</plist>
