<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,207}}</string>
                <key>sourceSize</key>
                <string>{141,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_jushou_v4.png</string>
            <key>size</key>
            <string>{145,211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1882e8a5c53f3e84a12f141de336c18d:1/1$</string>
            <key>textureFileName</key>
            <string>skill_jushou_v4.png</string>
        </dict>
    </dict>
</plist>
