<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_jiang_baopo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,542},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>skill_jiang_baopo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>skill_jiang_baopo03.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>skill_jiang_baopo04.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,272},{258,210}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,30},{258,210}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>skill_jiang_gun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,770},{292,120}}</string>
                <key>offset</key>
                <string>{-62,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,212},{292,120}}</string>
                <key>sourceSize</key>
                <string>{520,420}</string>
            </dict>
            <key>skill_jiang_gun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,238},{282,200}}</string>
                <key>offset</key>
                <string>{119,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,140},{282,200}}</string>
                <key>sourceSize</key>
                <string>{520,420}</string>
            </dict>
            <key>skill_jiang_gun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{308,268}}</string>
                <key>offset</key>
                <string>{-69,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{308,268}}</string>
                <key>sourceSize</key>
                <string>{520,420}</string>
            </dict>
            <key>skill_jiang_gun04.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{304,234}}</string>
                <key>offset</key>
                <string>{-108,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,115},{304,234}}</string>
                <key>sourceSize</key>
                <string>{520,420}</string>
            </dict>
            <key>skill_jiang_gun05.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,536},{238,232}}</string>
                <key>offset</key>
                <string>{-73,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,164},{238,232}}</string>
                <key>sourceSize</key>
                <string>{520,420}</string>
            </dict>
            <key>skill_jiang_gun06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,268}}</string>
                <key>offset</key>
                <string>{21,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,6},{380,268}}</string>
                <key>sourceSize</key>
                <string>{520,420}</string>
            </dict>
            <key>skill_jiang_gun07.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,244},{290,238}}</string>
                <key>offset</key>
                <string>{56,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,182},{290,238}}</string>
                <key>sourceSize</key>
                <string>{520,420}</string>
            </dict>
            <key>skill_jiang_gun08.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,732},{280,178}}</string>
                <key>offset</key>
                <string>{-97,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,196},{280,178}}</string>
                <key>sourceSize</key>
                <string>{520,420}</string>
            </dict>
            <key>skill_jiang_gun09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{290,138}}</string>
                <key>offset</key>
                <string>{-93,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,206},{290,138}}</string>
                <key>sourceSize</key>
                <string>{520,420}</string>
            </dict>
            <key>skill_jiang_gun10.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,892},{298,122}}</string>
                <key>offset</key>
                <string>{-92,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,209},{298,122}}</string>
                <key>sourceSize</key>
                <string>{520,420}</string>
            </dict>
            <key>skill_jiang_gun11.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,536},{166,194}}</string>
                <key>offset</key>
                <string>{-15,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,164},{166,194}}</string>
                <key>sourceSize</key>
                <string>{520,420}</string>
            </dict>
            <key>skill_jiang_gun12.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,864},{168,140}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,162},{168,140}}</string>
                <key>sourceSize</key>
                <string>{520,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_jiang01.png</string>
            <key>size</key>
            <string>{1017,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5889017408f331a357d63020ddf88a9:1/1$</string>
            <key>textureFileName</key>
            <string>skill_jiang01.png</string>
        </dict>
    </dict>
</plist>
