<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_jiuyuan_guanghuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,294}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,189},{296,294}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiuyuan_nengliang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,578},{286,228}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,226},{286,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiuyuan_nengliang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,282},{288,246}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,211},{288,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiuyuan_nengliang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{306,276}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,202},{306,276}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiuyuan_nengliang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{296,280}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,202},{296,280}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiuyuan_nengliang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,606},{290,276}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,204},{290,276}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiuyuan_nengliang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{292,278}}</string>
                <key>offset</key>
                <string>{21,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,204},{292,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiuyuan_nengliang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{306,266}}</string>
                <key>offset</key>
                <string>{7,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,212},{306,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiuyuan_nengliang08.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,284},{292,228}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,242},{292,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiuyuan_nengliang09.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,572},{284,238}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,212},{284,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_jiuyuan_nengliang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,298},{298,256}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,204},{298,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_jiuyuan01.png</string>
            <key>size</key>
            <string>{1018,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ee0539c32d6e062134f87396de3302e:1/1$</string>
            <key>textureFileName</key>
            <string>skill_jiuyuan01.png</string>
        </dict>
    </dict>
</plist>
