<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_mokurou_bomoo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,334},{312,202}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{312,202}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>skill_mokurou_bomoo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{330,220}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{330,220}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>skill_mokurou_bomoo03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,232}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{330,232}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>skill_mokurou_bomoo04.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{330,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{330,228}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>skill_mokurou_bomoo05.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,232},{310,226}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{310,226}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>skill_mokurou_buff01.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,740},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_mokurou_buff02.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,662},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_mokurou_buff03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,662},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_mokurou_buff04.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,538},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_mokurou_buff05.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,460},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_mokurou_buff06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_mokurou_buff07.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,460},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_mokurou_buff08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_mokurou_buff09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_mokurou_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,538},{248,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,160}}</string>
                <key>sourceSize</key>
                <string>{250,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_mokurou02.png</string>
            <key>size</key>
            <string>{972,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7149a24b916231a379b69c8109ea3d9a:1/1$</string>
            <key>textureFileName</key>
            <string>skill_mokurou02.png</string>
        </dict>
    </dict>
</plist>
