<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bao_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,234},{214,226}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{214,226}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bao_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1410},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bao_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1178},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bao_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,946},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bao_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,714},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bao_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{230,214}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{230,214}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>baozha_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1808},{208,108}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,135},{208,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,280}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1544},{272,262}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{272,262}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{280,256}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{280,256}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{286,252}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{286,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{292,246}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{292,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{296,248}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{296,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{278,248}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{278,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,462},{224,250}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,19},{224,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozha_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1808},{186,204}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,63},{186,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lun_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1642},{110,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>paoshen_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1754},{254,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,150}}</string>
                <key>sourceSize</key>
                <string>{260,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_spluanji.png</string>
            <key>size</key>
            <string>{528,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31daa03941dc3cab3f1d08d6df85b110:1/1$</string>
            <key>textureFileName</key>
            <string>skill_spluanji.png</string>
        </dict>
    </dict>
</plist>
