<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_renjia_jianshe01.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,248},{276,290}}</string>
                <key>offset</key>
                <string>{44,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,103},{276,290}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>skill_renjia_jianshe02.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,374},{330,360}}</string>
                <key>offset</key>
                <string>{75,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,68},{330,360}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>skill_renjia_jianshe03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{322,370}}</string>
                <key>offset</key>
                <string>{87,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,63},{322,370}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>skill_renjia_jianshe04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,376}}</string>
                <key>offset</key>
                <string>{94,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,60},{316,376}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>skill_renjia_jianshe05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{282,370}}</string>
                <key>offset</key>
                <string>{92,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,61},{282,370}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>skill_renjia_lizi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,526},{170,198}}</string>
                <key>offset</key>
                <string>{64,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,87},{170,198}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>skill_renjia_lizi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,752},{234,296}}</string>
                <key>offset</key>
                <string>{104,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,33},{234,296}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>skill_renjia_lizi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{242,306}}</string>
                <key>offset</key>
                <string>{112,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,29},{242,306}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>skill_renjia_lizi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{244,316}}</string>
                <key>offset</key>
                <string>{119,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,24},{244,316}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>skill_renjia_lizi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,736},{248,324}}</string>
                <key>offset</key>
                <string>{124,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,20},{248,324}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_renjia02.png</string>
            <key>size</key>
            <string>{996,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:454e59b1ea4e6767daa0b6e42619dd8b:1/1$</string>
            <key>textureFileName</key>
            <string>skill_renjia02.png</string>
        </dict>
    </dict>
</plist>
