<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_xinsheng_guang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{300,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_xinsheng_guang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,179},{300,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_xinsheng_guang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{300,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_xinsheng_guang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_xinsheng_guang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,175}</string>
            </dict>
            <key>skill_xinsheng_shandian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,414},{144,258}}</string>
                <key>offset</key>
                <string>{-34,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,281},{144,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_xinsheng_shandian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,414},{168,244}}</string>
                <key>offset</key>
                <string>{-23,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,287},{168,244}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_xinsheng_shandian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,674},{200,250}}</string>
                <key>offset</key>
                <string>{-6,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,281},{200,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_xinsheng_shandian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,216},{196,258}}</string>
                <key>offset</key>
                <string>{-4,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,273},{196,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_xinsheng_shandian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,414},{156,258}}</string>
                <key>offset</key>
                <string>{1,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,273},{156,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_xinsheng_shandian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{160,252}}</string>
                <key>offset</key>
                <string>{8,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,272},{160,252}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_xinsheng_shandian07.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,668},{208,242}}</string>
                <key>offset</key>
                <string>{-3,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,289},{208,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_xinsheng_shandian08.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,414},{212,252}}</string>
                <key>offset</key>
                <string>{-12,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,279},{212,252}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_xinsheng_shandian09.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{212,258}}</string>
                <key>offset</key>
                <string>{-14,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,273},{212,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_xinsheng02.png</string>
            <key>size</key>
            <string>{878,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e25781dbd0680cf47fc1ec58cd447a0:1/1$</string>
            <key>textureFileName</key>
            <string>skill_xinsheng02.png</string>
        </dict>
    </dict>
</plist>
