<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_shefu_xiaobing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{340,161}}</string>
                <key>offset</key>
                <string>{-14,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,144},{340,161}}</string>
                <key>sourceSize</key>
                <string>{368,305}</string>
            </dict>
            <key>skill_shefu_xiaobing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,309},{344,247}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{344,247}}</string>
                <key>sourceSize</key>
                <string>{368,305}</string>
            </dict>
            <key>skill_shefu_xiaobing03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{354,259}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{354,259}}</string>
                <key>sourceSize</key>
                <string>{368,305}</string>
            </dict>
            <key>skill_shefu_xiaobing04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{322,279}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{322,279}}</string>
                <key>sourceSize</key>
                <string>{368,305}</string>
            </dict>
            <key>skill_shefu_xiaobing05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{346,301}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{346,301}}</string>
                <key>sourceSize</key>
                <string>{368,305}</string>
            </dict>
            <key>skill_shefu_xiaobing06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,305}}</string>
                <key>sourceSize</key>
                <string>{368,305}</string>
            </dict>
            <key>skill_shefu_xiaobing07.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,558},{340,255}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,42},{340,255}}</string>
                <key>sourceSize</key>
                <string>{368,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_shefu02.png</string>
            <key>size</key>
            <string>{873,873}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd63e498328630d09cafc2c3f347f15c:1/1$</string>
            <key>textureFileName</key>
            <string>skill_shefu02.png</string>
        </dict>
    </dict>
</plist>
