<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_dimeng_guangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,118},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>skill_dimeng_shou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,566},{198,248}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,248}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>skill_dimeng_shou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{160,220}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{160,220}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>skill_dimeng_xishou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,300}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>skill_dimeng_xishou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{300,300}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>skill_dimeng_xishou03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{288,288}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{288,288}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>skill_dimeng_xishou04.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,304},{260,252}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,13},{260,252}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>skill_dimeng_xishou05.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,304},{220,210}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,31},{220,210}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
            <key>skill_dimeng_xishou06.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{120,114}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,81},{120,114}}</string>
                <key>sourceSize</key>
                <string>{320,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_dimeng.png</string>
            <key>size</key>
            <string>{766,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:182ca9f5280cda2a7e42c5c4869bfbe7:1/1$</string>
            <key>textureFileName</key>
            <string>skill_dimeng.png</string>
        </dict>
    </dict>
</plist>
