<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_lieren_daoguang00.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,578},{184,94}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,266},{184,94}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_daoguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{246,126}}</string>
                <key>offset</key>
                <string>{40,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{397,258},{246,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_daoguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,432},{246,170}}</string>
                <key>offset</key>
                <string>{27,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,246},{246,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_daoguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,292},{284,186}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{347,240},{284,186}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_daoguang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,242},{248,188}}</string>
                <key>offset</key>
                <string>{25,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,245},{248,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_daoguang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,604},{210,194}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,242},{210,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_daoguang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{204,232}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,193},{204,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_daoguang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,658},{196,194}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,221},{196,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_daoguang08.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,456},{200,186}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,220},{200,186}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_daoguang09.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,250},{204,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,235},{204,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_daoguang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,674},{176,138}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,255},{176,138}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_daoguang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,242},{76,24}}</string>
                <key>offset</key>
                <string>{-39,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,334},{76,24}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_liandao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{354,238}}</string>
                <key>offset</key>
                <string>{-115,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,240},{354,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_liandaocanying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{354,238}}</string>
                <key>offset</key>
                <string>{-115,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,238},{354,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_lieren_liandaomohu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,288}}</string>
                <key>offset</key>
                <string>{-115,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,192},{348,288}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_lieren02.png</string>
            <key>size</key>
            <string>{867,867}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b668812396df21ef25f180f8861ec5e:1/1$</string>
            <key>textureFileName</key>
            <string>skill_lieren02.png</string>
        </dict>
    </dict>
</plist>
