<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_hujia_dun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{222,228}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,228}}</string>
                <key>sourceSize</key>
                <string>{230,228}</string>
            </dict>
            <key>skill_hujia_dun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,452},{224,228}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,228}}</string>
                <key>sourceSize</key>
                <string>{230,228}</string>
            </dict>
            <key>skill_hujia_dun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{224,228}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,228}}</string>
                <key>sourceSize</key>
                <string>{230,228}</string>
            </dict>
            <key>skill_hujia_dun04.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,452},{228,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{230,228}</string>
            </dict>
            <key>skill_hujia_dun05.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,228},{224,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{224,228}}</string>
                <key>sourceSize</key>
                <string>{230,228}</string>
            </dict>
            <key>skill_hujia_dun06.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,226},{224,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{224,228}}</string>
                <key>sourceSize</key>
                <string>{230,228}</string>
            </dict>
            <key>skill_hujia_dun07.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,226},{224,228}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{224,228}}</string>
                <key>sourceSize</key>
                <string>{230,228}</string>
            </dict>
            <key>skill_hujia_dun08.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{224,228}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{224,228}}</string>
                <key>sourceSize</key>
                <string>{230,228}</string>
            </dict>
            <key>skill_hujia_dun09.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{222,228}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{222,228}}</string>
                <key>sourceSize</key>
                <string>{230,228}</string>
            </dict>
            <key>skill_hujia_heiguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,690},{298,258}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{298,258}}</string>
                <key>sourceSize</key>
                <string>{300,268}</string>
            </dict>
            <key>skill_hujia_heiguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{298,242}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{298,242}}</string>
                <key>sourceSize</key>
                <string>{300,268}</string>
            </dict>
            <key>skill_hujia_heiguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,682},{292,242}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{292,242}}</string>
                <key>sourceSize</key>
                <string>{300,268}</string>
            </dict>
            <key>skill_hujia_heiguang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,454},{268,234}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{268,234}}</string>
                <key>sourceSize</key>
                <string>{300,268}</string>
            </dict>
            <key>skill_hujia_heiguang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,214}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{252,214}}</string>
                <key>sourceSize</key>
                <string>{300,268}</string>
            </dict>
            <key>skill_hujia_heiguang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{250,222}}</string>
                <key>offset</key>
                <string>{-23,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,46},{250,222}}</string>
                <key>sourceSize</key>
                <string>{300,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_hujia01.png</string>
            <key>size</key>
            <string>{962,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7902fc867d1e5d360c9fc25fe8c7e5f4:1/1$</string>
            <key>textureFileName</key>
            <string>skill_hujia01.png</string>
        </dict>
    </dict>
</plist>
