<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_qiaobian_bagua01.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,819},{230,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,110}}</string>
                <key>sourceSize</key>
                <string>{230,110}</string>
            </dict>
            <key>skill_qiaobian_bagua02.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,804},{230,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,110}}</string>
                <key>sourceSize</key>
                <string>{230,110}</string>
            </dict>
            <key>skill_qiaobian_bagua03.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,705},{230,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,110}}</string>
                <key>sourceSize</key>
                <string>{230,110}</string>
            </dict>
            <key>skill_qiaobian_bagua04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,692},{230,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,110}}</string>
                <key>sourceSize</key>
                <string>{230,110}</string>
            </dict>
            <key>skill_qiaobian_bagua05.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,250},{230,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,110}}</string>
                <key>sourceSize</key>
                <string>{230,110}</string>
            </dict>
            <key>skill_qiaobian_bao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,374},{240,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,157}}</string>
                <key>sourceSize</key>
                <string>{240,157}</string>
            </dict>
            <key>skill_qiaobian_bao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,374},{240,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,157}}</string>
                <key>sourceSize</key>
                <string>{240,157}</string>
            </dict>
            <key>skill_qiaobian_baopo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,188},{218,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,184}}</string>
                <key>sourceSize</key>
                <string>{218,184}</string>
            </dict>
            <key>skill_qiaobian_baopo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,373},{218,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,184}}</string>
                <key>sourceSize</key>
                <string>{218,184}</string>
            </dict>
            <key>skill_qiaobian_baopo03.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,188},{218,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,184}}</string>
                <key>sourceSize</key>
                <string>{218,184}</string>
            </dict>
            <key>skill_qiaobian_baopo04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{218,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,184}}</string>
                <key>sourceSize</key>
                <string>{218,184}</string>
            </dict>
            <key>skill_qiaobian_baopo05.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,187},{218,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,184}}</string>
                <key>sourceSize</key>
                <string>{218,184}</string>
            </dict>
            <key>skill_qiaobian_baopo06.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{218,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,184}}</string>
                <key>sourceSize</key>
                <string>{218,184}</string>
            </dict>
            <key>skill_qiaobian_card01.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,828},{74,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,121}}</string>
                <key>sourceSize</key>
                <string>{74,121}</string>
            </dict>
            <key>skill_qiaobian_card02.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,705},{74,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,121}}</string>
                <key>sourceSize</key>
                <string>{74,121}</string>
            </dict>
            <key>skill_qiaobian_card03.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,127},{74,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,121}}</string>
                <key>sourceSize</key>
                <string>{74,121}</string>
            </dict>
            <key>skill_qiaobian_card04.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,533},{157,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,209}}</string>
                <key>sourceSize</key>
                <string>{157,209}</string>
            </dict>
            <key>skill_qiaobian_card05.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{97,123}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,38},{97,123}}</string>
                <key>sourceSize</key>
                <string>{157,209}</string>
            </dict>
            <key>skill_qiaobian_cardbao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{183,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,238}}</string>
                <key>sourceSize</key>
                <string>{183,238}</string>
            </dict>
            <key>skill_qiaobian_cardbao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{183,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,238}}</string>
                <key>sourceSize</key>
                <string>{183,238}</string>
            </dict>
            <key>skill_qiaobian_cardbao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{183,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,238}}</string>
                <key>sourceSize</key>
                <string>{183,238}</string>
            </dict>
            <key>skill_qiaobian_cardbao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{183,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,238}}</string>
                <key>sourceSize</key>
                <string>{183,238}</string>
            </dict>
            <key>skill_qiaobian_cardbao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,238}}</string>
                <key>sourceSize</key>
                <string>{183,238}</string>
            </dict>
            <key>skill_qiaobian_guangqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,807},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>skill_qiaobian_juhe01.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,559},{189,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,144}}</string>
                <key>sourceSize</key>
                <string>{189,144}</string>
            </dict>
            <key>skill_qiaobian_juhe02.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,673},{189,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,144}}</string>
                <key>sourceSize</key>
                <string>{189,144}</string>
            </dict>
            <key>skill_qiaobian_juhe03.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,616},{189,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,144}}</string>
                <key>sourceSize</key>
                <string>{189,144}</string>
            </dict>
            <key>skill_qiaobian_juhe04.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,482},{189,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,144}}</string>
                <key>sourceSize</key>
                <string>{189,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_qiaobian01.png</string>
            <key>size</key>
            <string>{966,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2e1ab22513c2c8dec9d373767823329:1/1$</string>
            <key>textureFileName</key>
            <string>skill_qiaobian01.png</string>
        </dict>
    </dict>
</plist>
