<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caohua_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{236,232}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{236,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fangkuai_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,448},{210,228}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,32},{210,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heitao_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,276}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{240,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hongtao_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{264,228}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,37},{264,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tuntian_lizi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,236},{228,210}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,55},{228,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tuntian_lizi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,660},{250,176}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,58},{250,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tuntian_lizi_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{238,202}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,47},{238,202}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tuntian_lizi_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{224,234}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{224,234}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tuntian_lizi_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,838},{222,228}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,54},{222,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tuntian_lizi_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1062},{220,206}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{220,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tuntian_lizi_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{250,176}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,79},{250,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tuntian_lizi_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1270},{216,202}}</string>
                <key>offset</key>
                <string>{-19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,70},{216,202}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tuntian_lizi_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{204,254}}</string>
                <key>offset</key>
                <string>{15,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,3},{204,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_tuntian.png</string>
            <key>size</key>
            <string>{482,1474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45e8caa7f3fa7f4b5d54750ff7d1df80:1/1$</string>
            <key>textureFileName</key>
            <string>skill_tuntian.png</string>
        </dict>
    </dict>
</plist>
