<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Skill_JiJiaozhishi_boli_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{354,442}}</string>
                <key>offset</key>
                <string>{-21,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{354,442}}</string>
                <key>sourceSize</key>
                <string>{400,512}</string>
            </dict>
            <key>Skill_JiJiaozhishi_chongfeng_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,340}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{750,340}}</string>
                <key>sourceSize</key>
                <string>{800,350}</string>
            </dict>
            <key>Skill_JiJiaozhishi_chongfeng_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{690,348}}</string>
                <key>offset</key>
                <string>{55,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,0},{690,348}}</string>
                <key>sourceSize</key>
                <string>{800,350}</string>
            </dict>
            <key>Skill_JiJiaozhishi_niu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,694},{438,256}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{438,256}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Skill_JiJiaozhishi_suipian_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,358},{86,92}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,50},{86,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_JiJiaozhishi_suipian_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,450},{152,138}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,31},{152,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_JiJiaozhishi_suipian_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,762},{160,164}}</string>
                <key>offset</key>
                <string>{-16,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,20},{160,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_JiJiaozhishi_suipian_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,450},{178,182}}</string>
                <key>offset</key>
                <string>{-19,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{178,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_JiJiaozhishi_suipian_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,754},{190,192}}</string>
                <key>offset</key>
                <string>{-20,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{190,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_JiJiaozhishi_suipian_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{194,196}}</string>
                <key>offset</key>
                <string>{-20,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{194,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_JiJiaozhishi_suipian_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,836},{198,156}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,53},{198,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_JiJiaozhishi_suipian_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,634},{200,158}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,53},{200,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_JiJiaozhishi_suipian_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,450},{188,160}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,54},{188,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_JiJiaozhishi_suipian_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,612},{190,148}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,68},{190,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_JiJiaozhishi_yanche_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,358},{396,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{396,90}}</string>
                <key>sourceSize</key>
                <string>{400,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Skill_JiJiaozhishi.png</string>
            <key>size</key>
            <string>{1206,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a54a03b569287dcc3eb1b6a44587cb70:1/1$</string>
            <key>textureFileName</key>
            <string>Skill_JiJiaozhishi.png</string>
        </dict>
    </dict>
</plist>
