<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Skill_SpLiegong_dilie_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,752},{254,214}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{254,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_SpLiegong_glow_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,494},{254,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_SpLiegong_hit_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,728},{250,252}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{250,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_SpLiegong_hit_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,474},{250,252}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{250,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_SpLiegong_hit_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{248,252}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{248,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_SpLiegong_hit_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{244,246}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{244,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_SpLiegong_hit_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{224,248}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{224,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_SpLiegong_hit_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,468},{218,248}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{218,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_SpLiegong_hit_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,780},{218,246}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{218,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_SpLiegong_jian_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,150}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{492,150}}</string>
                <key>sourceSize</key>
                <string>{512,150}</string>
            </dict>
            <key>Skill_SpLiegong_juji_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,838},{180,166}}</string>
                <key>offset</key>
                <string>{-37,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,75},{180,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_SpLiegong_juji_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,252},{168,194}}</string>
                <key>offset</key>
                <string>{-36,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,37},{168,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_SpLiegong_juji_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,304},{202,168}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{202,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_SpLiegong_juji_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,478},{166,154}}</string>
                <key>offset</key>
                <string>{42,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,16},{166,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_SpLiegong_juji_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,588},{126,154}}</string>
                <key>offset</key>
                <string>{58,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,19},{126,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_SpLiegong_juji_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,646},{132,142}}</string>
                <key>offset</key>
                <string>{51,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,34},{132,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Skill_SpLiegong_liangdian_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,306},{186,218}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,1},{186,218}}</string>
                <key>sourceSize</key>
                <string>{340,220}</string>
            </dict>
            <key>Skill_SpLiegong_liangdian_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,256},{206,210}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,10},{206,210}}</string>
                <key>sourceSize</key>
                <string>{340,220}</string>
            </dict>
            <key>Skill_SpLiegong_liangdian_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,780},{224,218}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,2},{224,218}}</string>
                <key>sourceSize</key>
                <string>{340,220}</string>
            </dict>
            <key>Skill_SpLiegong_liangdian_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,448},{138,158}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,41},{138,158}}</string>
                <key>sourceSize</key>
                <string>{340,220}</string>
            </dict>
            <key>Skill_SpLiegong_liangdian_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{300,168}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{300,168}}</string>
                <key>sourceSize</key>
                <string>{340,220}</string>
            </dict>
            <key>Skill_SpLiegong_liangdian_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{340,174}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{340,174}}</string>
                <key>sourceSize</key>
                <string>{340,220}</string>
            </dict>
            <key>Skill_SpLiegong_liangdian_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{302,104}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,65},{302,104}}</string>
                <key>sourceSize</key>
                <string>{340,220}</string>
            </dict>
            <key>Skill_SpLiegong_yanwu_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,752},{256,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{256,66}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Skill_SpLiegong_yanwu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,2},{220,64}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{220,64}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Skill_SpLiegong_yanwu_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,252},{208,60}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,38},{208,60}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Skill_SpLiegong_yanwu_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{182,52}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,43},{182,52}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Skill_SpLiegong_yanwu_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,304},{176,48}}</string>
                <key>offset</key>
                <string>{-32,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,46},{176,48}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>skill_spliegong_zhuiji_buff_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,250},{158,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,15},{158,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_spliegong.png</string>
            <key>size</key>
            <string>{1230,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93849cbaf7add296b2404309b6b70338:1/1$</string>
            <key>textureFileName</key>
            <string>skill_spliegong.png</string>
        </dict>
    </dict>
</plist>
