<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_zhuikong_fazhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{368,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,212}}</string>
                <key>sourceSize</key>
                <string>{368,212}</string>
            </dict>
            <key>skill_zhuikong_guihun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,372},{206,122}}</string>
                <key>offset</key>
                <string>{-22,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,254},{206,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_zhuikong_guihun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{260,136}}</string>
                <key>offset</key>
                <string>{5,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,235},{260,136}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_zhuikong_guihun_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{294,150}}</string>
                <key>offset</key>
                <string>{22,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,202},{294,150}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_zhuikong_guihun_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,2},{290,180}}</string>
                <key>offset</key>
                <string>{19,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,162},{290,180}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_zhuikong_guihun_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,517},{248,212}}</string>
                <key>offset</key>
                <string>{14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,123},{248,212}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_zhuikong_guihun_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,504},{296,264}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,71},{296,264}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_zhuikong_guihun_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,509},{268,302}}</string>
                <key>offset</key>
                <string>{-31,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,27},{268,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_zhuikong_guihun_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,508},{266,286}}</string>
                <key>offset</key>
                <string>{-25,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,20},{266,286}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_zhuikong_guihun_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,402},{230,200}}</string>
                <key>offset</key>
                <string>{-39,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,73},{230,200}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_zhuikong_guihun_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,402},{186,158}}</string>
                <key>offset</key>
                <string>{-33,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,92},{186,158}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_zhuikong_guihun_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,372},{162,134}}</string>
                <key>offset</key>
                <string>{-45,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,92},{162,134}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_zhuikong_guihun_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,362},{148,140}}</string>
                <key>offset</key>
                <string>{-38,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,71},{148,140}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_zhuikong_guihun_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,362},{148,66}}</string>
                <key>offset</key>
                <string>{-37,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,145},{148,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_zhuikong_guihun_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,362},{110,38}}</string>
                <key>offset</key>
                <string>{-21,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,142},{110,38}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_zhuikong_heiyan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{358,204}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,204}}</string>
                <key>sourceSize</key>
                <string>{368,208}</string>
            </dict>
            <key>skill_zhuikong_heiyan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{358,204}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,204}}</string>
                <key>sourceSize</key>
                <string>{368,208}</string>
            </dict>
            <key>skill_zhuikong_heiyan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{358,204}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,204}}</string>
                <key>sourceSize</key>
                <string>{368,208}</string>
            </dict>
            <key>skill_zhuikong_heiyan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,362},{358,178}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{358,178}}</string>
                <key>sourceSize</key>
                <string>{368,208}</string>
            </dict>
            <key>skill_zhuikong_mianju01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,513}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,513}}</string>
                <key>sourceSize</key>
                <string>{402,513}</string>
            </dict>
            <key>skill_zhuikong_mianju02.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{316,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,505}}</string>
                <key>sourceSize</key>
                <string>{316,505}</string>
            </dict>
            <key>skill_zhuikong_xian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,184},{216,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{216,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>skill_zhuikong_xian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,517},{214,234}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,46},{214,234}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>skill_zhuikong_xian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,562},{214,176}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,104},{214,176}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_zhuikong.png</string>
            <key>size</key>
            <string>{2030,779}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18fca2ee91620fc624121c3469d84459:1/1$</string>
            <key>textureFileName</key>
            <string>skill_zhuikong.png</string>
        </dict>
    </dict>
</plist>
