<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TiaozhanScene01_dazhanhulaoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{432,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,414}}</string>
                <key>sourceSize</key>
                <string>{432,414}</string>
            </dict>
            <key>TiaozhanScene01_dazhanhulaoguan_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,415}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{442,415}}</string>
                <key>sourceSize</key>
                <string>{472,427}</string>
            </dict>
            <key>TiaozhanScene01_dianfengzhizhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,629},{400,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,323}}</string>
                <key>sourceSize</key>
                <string>{400,323}</string>
            </dict>
            <key>TiaozhanScene01_dianfengzhizhan_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,324},{400,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,323}}</string>
                <key>sourceSize</key>
                <string>{400,323}</string>
            </dict>
            <key>TiaozhanScene01_guoguanzhanjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{452,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,320}}</string>
                <key>sourceSize</key>
                <string>{452,320}</string>
            </dict>
            <key>TiaozhanScene01_guoguanzhanjiang_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{461,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,320}}</string>
                <key>sourceSize</key>
                <string>{461,320}</string>
            </dict>
            <key>TiaozhanScene01_kuafutianti.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,324},{431,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,303}}</string>
                <key>sourceSize</key>
                <string>{431,303}</string>
            </dict>
            <key>TiaozhanScene01_kuafutianti_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,324},{440,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,303}}</string>
                <key>sourceSize</key>
                <string>{440,303}</string>
            </dict>
            <key>TiaozhanScene01_kuangshanzhengduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,970},{377,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,287}}</string>
                <key>sourceSize</key>
                <string>{377,287}</string>
            </dict>
            <key>TiaozhanScene01_kuangshanzhengduo_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,954},{384,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,287}}</string>
                <key>sourceSize</key>
                <string>{384,287}</string>
            </dict>
            <key>TiaozhanScene01_qiangduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1243},{363,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,339}}</string>
                <key>sourceSize</key>
                <string>{363,339}</string>
            </dict>
            <key>TiaozhanScene01_qiangduo_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,629},{372,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,339}}</string>
                <key>sourceSize</key>
                <string>{372,339}</string>
            </dict>
            <key>TiaozhanScene01_smallKuafuzhengba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1298},{360,294}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{360,294}}</string>
                <key>sourceSize</key>
                <string>{360,298}</string>
            </dict>
            <key>TiaozhanScene01_smallKuafuzhengba_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1259},{368,294}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{368,294}}</string>
                <key>sourceSize</key>
                <string>{368,298}</string>
            </dict>
            <key>TiaozhanScene01_tianti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,1012},{363,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,284}}</string>
                <key>sourceSize</key>
                <string>{363,284}</string>
            </dict>
            <key>TiaozhanScene01_tianti_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,726},{373,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,284}}</string>
                <key>sourceSize</key>
                <string>{373,284}</string>
            </dict>
            <key>TiaozhanScene01_wangzhezhizhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1249},{352,412}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,412}}</string>
                <key>sourceSize</key>
                <string>{352,418}</string>
            </dict>
            <key>TiaozhanScene01_wangzhezhizhan_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{368,412}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,412}}</string>
                <key>sourceSize</key>
                <string>{368,418}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TiaozhanScene01.png</string>
            <key>size</key>
            <string>{1646,1646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9709ee193764cabeda7a177f2df689b:1/1$</string>
            <key>textureFileName</key>
            <string>TiaozhanScene01.png</string>
        </dict>
    </dict>
</plist>
