<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WujiangScene01_tuodongkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,49}}</string>
                <key>sourceSize</key>
                <string>{71,49}</string>
            </dict>
            <key>WujiangScene01_tuodongtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{855,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{855,16}}</string>
                <key>sourceSize</key>
                <string>{855,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WujiangScene01.png</string>
            <key>size</key>
            <string>{932,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:173db8b98906b0553bdee22847ec51e2:1/1$</string>
            <key>textureFileName</key>
            <string>WujiangScene01.png</string>
        </dict>
    </dict>
</plist>
