<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wushuang_daji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{348,432}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{348,432}}</string>
                <key>sourceSize</key>
                <string>{368,432}</string>
            </dict>
            <key>wushuang_daji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{368,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,432}}</string>
                <key>sourceSize</key>
                <string>{368,432}</string>
            </dict>
            <key>wushuang_daji04.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,424},{292,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{292,432}}</string>
                <key>sourceSize</key>
                <string>{368,432}</string>
            </dict>
            <key>wushuang_juguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{450,420}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{450,420}}</string>
                <key>sourceSize</key>
                <string>{480,440}</string>
            </dict>
            <key>wushuang_liepin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,250}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{480,250}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>wushuang_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,718},{296,430}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{296,430}}</string>
                <key>sourceSize</key>
                <string>{296,434}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wushuang.png</string>
            <key>size</key>
            <string>{1016,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd10e7e8e2f16b15bf635b4bdf7f0a3f:1/1$</string>
            <key>textureFileName</key>
            <string>wushuang.png</string>
        </dict>
    </dict>
</plist>
