<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaoji_baopo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,596},{290,182}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,84},{290,182}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>xiaoji_baopo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,644},{360,232}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,37},{360,232}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>xiaoji_baopo03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{334,280}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{334,280}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>xiaoji_jian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,322},{80,368}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,368}}</string>
                <key>sourceSize</key>
                <string>{80,370}</string>
            </dict>
            <key>xiaoji_jian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,368},{80,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,220}}</string>
                <key>sourceSize</key>
                <string>{80,220}</string>
            </dict>
            <key>xiaoji_jian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,298},{68,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{68,300}}</string>
                <key>sourceSize</key>
                <string>{80,300}</string>
            </dict>
            <key>xiaoji_jian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,590},{70,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>xiaoji_jiansui01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{345,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,280}}</string>
                <key>sourceSize</key>
                <string>{345,280}</string>
            </dict>
            <key>xiaoji_juji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{324,294}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{324,294}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>xiaoji_juji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,318}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{324,318}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>xiaoji_juji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{312,312}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{312,312}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>xiaoji_juji04.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,316},{326,268}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,36},{326,268}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>xiaoji_juji05.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,692},{324,232}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,55},{324,232}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>xiaoji_juji06.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,368},{298,226}}</string>
                <key>offset</key>
                <string>{-13,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{298,226}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>xiaoji_juji07.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,888},{58,102}}</string>
                <key>offset</key>
                <string>{-17,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,90},{58,102}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaoji.png</string>
            <key>size</key>
            <string>{1018,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:358a197d5ecc5307ff3bbea560931454:1/1$</string>
            <key>textureFileName</key>
            <string>xiaoji.png</string>
        </dict>
    </dict>
</plist>
