<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biankuang_lizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,234},{184,222}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{184,222}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>biankuang_lizi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{176,228}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{176,228}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>biankuang_lizi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{170,230}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{170,230}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>biankuang_lizi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,250},{172,234}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{172,234}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>biankuang_lizi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,254},{174,240}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{174,240}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>biankuang_lizi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{176,242}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{176,242}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>biankuang_lizi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{180,248}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{180,248}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>biankuang_lizi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,250}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{184,250}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>biankuang_lizi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{182,246}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{182,246}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>biankuang_lizi_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,252},{186,246}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{186,246}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>biankuang_lizi_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{190,232}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{190,232}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>biankuang_lizi_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,236},{186,232}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{186,232}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zaiqi_buff.png</string>
            <key>size</key>
            <string>{1098,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d6b1910c86291fed5411c3b9b7c7e63:1/1$</string>
            <key>textureFileName</key>
            <string>zaiqi_buff.png</string>
        </dict>
    </dict>
</plist>
