<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZuiDuiMenuScene01_chuzhanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,669},{133,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,59}}</string>
                <key>sourceSize</key>
                <string>{133,59}</string>
            </dict>
            <key>ZuiDuiMenuScene01_kongwujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{280,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,486}}</string>
                <key>sourceSize</key>
                <string>{280,486}</string>
            </dict>
            <key>ZuiDuiMenuScene01_nvshenjianying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{453,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,511}}</string>
                <key>sourceSize</key>
                <string>{453,511}</string>
            </dict>
            <key>ZuiDuiMenuScene01_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{109,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,152}}</string>
                <key>sourceSize</key>
                <string>{109,152}</string>
            </dict>
            <key>ZuiduiMenuScene01_zhenxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{64,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,94}}</string>
                <key>sourceSize</key>
                <string>{64,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZuiduiMenuScene01.png</string>
            <key>size</key>
            <string>{739,739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14f0b4173e2284e1618bcc30db3e6a52:1/1$</string>
            <key>textureFileName</key>
            <string>ZuiduiMenuScene01.png</string>
        </dict>
    </dict>
</plist>
